@CHARSET "UTF-8";
.up_box{
    float: right;
}
.up_box span { display: inline-block; font-size: 1em;  }
input[type=text].input_txt { float: left; width: calc(100% - 180px); height: 28px; margin-right: 5px; border: 1px solid #ccc; }
.del_btn,.up_btn { width: 71px; height: 28px; font-size: 1em; }
.del_btn:hover,.up_btn:hover { background: #4b73eb; color: #fff; border: 1px solid #4b73eb; }
.uploadOverFlow{
	overflow-y:auto;
	min-height:140px;
	position: relative;
}
.addFileList{
	margin-left:10px;
}
#statudDnd2{
	margin-top:10px;
	float:none;
} 
#dragandrophandler{
	/* border:1px solid #fff; */
	margin-top:0px !important;
	max-height:140px;
	min-height:140px;
	color: rgba(55, 49, 58, 0.5);
	overflow-y:auto;
	border: 1px solid #c6c9d0;
	border-radius: .1875rem;
}
#dragandrophandler:hover{cursor: pointer; border:1px solid #9B989D; color:#9B989D;}
#dragandrophandler:active{border: 1px solid #9B989D;}
.statusbar
{
    border:1px solid #A9CCD1;
    border-top:0;
    min-height:25px;
    width:100%;
    padding:10px 10px 0px 10px;
    vertical-align:center;
    text-align: right !important;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
display:inline-block;
vertical-align:top;

}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;

margin-left:10px;
margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:center;
    }
    
    
.file_dragDrop_info, #file_info{
	width: 80%;
    height: 60px;
    margin: 2% 10%;
    font-size: 1.2vw;
    text-align: center;
    padding: 2% 0;
    color: inherit;
    position: absolute;
    z-index: 2;
    color: rgba(55, 49, 58, 0.5);
    /* -webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
    transform: rotate(-10deg); */
}