@charset "UTF-8";
.option_title {width: 25%;float: left;height: 45px;padding-left: 10px;line-height: 40px;background-color: #f9f9f9;border: 1px solid #ccc;border-top: none;font-weight: bold;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.option_all {float: left;height: 45px;line-height: 30px;width: 75%;border-bottom: 1px solid #ccc;padding: 5px;}
.option_half {float: left;height: 45px;line-height: 30px;width: 25%;border-bottom: 1px solid #ccc;padding: 5px;}
.option_half input.option_input_text, .option_half textarea.option_textarea, .option_half select.option_select {width:100%;}
.option_all input.option_input_text, .option_all textarea.option_textarea, .option_all select.option_select {width:100%;}
input.option_input_text {min-width: 190px;height: 100%;border: 1px solid #ccc;display: block;padding-left: 15px;border-radius: 1px;border: 1px solid #c6c9d0;border-radius: .1875rem;}
textarea.option_textarea {width: 619px;height: 100%;resize: none;padding: 5px;border: 1px solid #ccc;border-radius: 1px;border: 1px solid #c6c9d0;border-radius: .1875rem;}
select.option_select {width: 100%;height: 100%;border-radius: 1px;border: 1px solid #ccc;text-align: center;border: 1px solid #c6c9d0;border-radius: .1875rem;}
input.option_optCharger, input.option_cls, input.option_dept {width: 171px !important;min-width: 100px;display: inline-block;float: left;margin-right: 5px;}
span.option_optCharger, span.option_cls, span.option_dept{height: 34px;line-height: 30px;width: 28px;min-width: 28px;}
input.option_input_date {width: 100%;float: left;display: block;border-radius: 1px;height: 100% !important;border: 1px solid #ccc;text-align: center;}
input.option_input_date.bgFFF{background-color: #fff !important;}
input.input_date {width: 157px;float: left;display: block;border-radius: 1px;height: 100%;border: 1px solid #ccc;text-align: center;margin-right: 5px;}
.option_chk { position: relative;text-align: center; }
.option_chk input[type="checkbox"].option_checkbox { opacity: 0; position: absolute; z-index: 2; vertical-align: middle; display:inline-block; left:calc(50% - 9px); }
.option_chk input[type="checkbox"].option_checkbox+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/images/contents/normal_check.png) no-repeat;
	font-size: 1em;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	z-index: 1;
	border-radius: 3px;
}

.option_chk input[type="checkbox"]:checked.option_checkbox:checked+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('/images/contents/normal_check_on.png') no-repeat;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
}
input.option_input_text.readonly, textarea.option_textarea.readonly {cursor: default;background-color: #eee;}
.option_fileBtn {display: inline-block;width: 17%;height: 93%;line-height: 25px;text-align: center;border-radius: 2px;border: 1px solid #b8b8b8;cursor: pointer;background-color: #fff;color: #353535;margin: 5px 8px 5px 0;float: right;padding: 35px 0;font-size: 9pt;}

.option_clear{clear:both;}
.option_desc {height: 90px;}
.option_file {height: 120px;position: relative;}
.option_check_box{box-shadow: inset 0px 0px 1px 1px #0581f2;border-radius: 3px;border: 1px solid #fff;}
.date_span{float:left;margin: 0 12px;}
.option_title_line{
    white-space: normal !important;
    line-height: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    word-break: break-all !important;
}

/* 파일 리스트 */
#fileListDiv{height:100%;width: 100%;overflow-y: auto;}
.optFileDiv{width: 81%;min-height: 110px;display: inline-block;padding:5px;height: 100%;position: relative;cursor: pointer;overflow-y: auto;overflow-x: hidden;}
.optFileDiv.fileReadOnly {cursor: default;}
.optFileDiv.widthAll {width: 100%;}
.optFile_dragDrop_info, #file_info{
	width: 80%;
    height: 60px;
    margin: 2% 10%;
    font-size: 2em;
    padding: 2% 0;
    color: inherit;
    position: absolute;
    z-index: 2;
    color: rgba(55, 49, 58, 0.5);
    font-size: 1.2vw;
    text-align: center;
    /* -webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
    transform: rotate(-10deg); */
}
.optFile_dragDrop_info:hover, #file_info:hover {
    color: rgba(27, 24, 29, 0.75);
}