@charset "UTF-8";
section{width:100%;height:auto;clear:both;display: inline-block;}    
label[for='LNB_project_select'],
label[for='GNB_project_select'],
label[for='m_project_select'],
label[fot='prj_select_box']{ display: none; }
.LNB_project_select { width: 100%; height: 28px; margin-top: 17px; background-color: #414352; color: #fff; }
.fill{margin-left:0;}
aside{ width:240px; vertical-align:top; transition:all .2s; float:left;background-color:#414352;clear:both;box-shadow: 0 1px 2px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);}
aside.hide{ margin-left:-240px;     float: left;position:static;}
aside .m_btn{ height:0; overflow:hidden; }
aside .title_wrap{ width:100%; height:90px; display:table; background:#3c3e4b; color:white; }
aside .title_wrap .title{ display:table-cell; vertical-align:middle; width:84%; text-align:center; border-right:1px solid #30323e; }
aside .title_wrap .aside_toggle_btn{ display:table-cell; vertical-align:middle; width:16%; text-align:center; border-left:1px solid #4d4f5b; }
aside .title_wrap .aside_toggle_btn:hover{ cursor:pointer; }
aside .title_wrap .aside_toggle_btn img{ vertical-align:middle; width:10px; }
aside .title_wrap .aside_toggle_btn.pop{ position:absolute; top:300px; left:-27px; width:27px; height:88px; line-height:88px; border:0; border-radius:0 5px 5px 0; background:#3c3e4b; animation:aside_toggle_btn_pop .2s .2s forwards; }
aside .title_wrap .aside_toggle_btn.pop img{ transform:rotate(180deg); }
.usrImg {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 5px;
}
@keyframes aside_toggle_btn_pop{
	100%{
		left: 0px;
	}
} 
aside dl{  overflow-y:hidden; height:auto;}
aside dl dt{ height:60px; line-height:55px; padding:0 16px; border-top:1px solid #5b5d69; background:#414352; color:white;border-bottom: 1px solid #2f3035;}
aside dl dt.prj_select_box{ }
aside dl dt.prj_select_box .sod_select{ padding:10px; vertical-align:middle; border:1px solid #ccc; background:#484a57; color:white; }
aside dl dt.prj_select_box .sod_select:after{ top:0; bottom:0; line-height:34px; }
aside dl dt.prj_select_box img{ display:none; }
aside dl dt.option{ height:33px; line-height:28px; background:#333540;  }
aside dl dt.option span{ display:inline-block; width:50%; text-align:center; font-size:0.75em; vertical-align:inherit; cursor:pointer; }
aside dl dt.option span:nth-child(1){ border-right:1px solid rgba(255,255,255,0.2); }
aside dl dt.menu:hover{ background:#494b5c; cursor:pointer; }
aside dl dt.menu span{ display:inline-block; vertical-align:middle; font-size:10pt; }
aside dl dt.menu span:nth-child(1) img{ line-height:normal; margin-right:10px; width:16px; height:14px; }
aside dl dt.menu span:nth-child(1) i{ line-height:normal; margin-right:10px; width:16px; height:14px; }
aside dl dt.menu span:nth-child(2){ width:145px; margin-top: -4px; line-height:20px; }
aside dl dt.menu span:nth-child(3) {
    width: 33px;
    height: 30px;
    line-height: 26px;
    background: #ff5643;
    border-radius: 4px;
    border: #ff5643;
    text-align: center;
    color:#fff;
}
aside dl dt.menu > span > .logoutImg{width: 28px !important;height: 26px !important;margin-right: 0 !important;}
aside dl dd{ line-height:normal; padding:20px 0 20px 28px; background:#313540; color:white; display:none; }
aside dl dd > div{ margin-top:20px; }
aside dl dd > div:first-child{ margin-top:0; }
aside dl dd > div span{ vertical-align:middle; }
aside dl dd > div span:nth-child(1){ color:#bfc1ce; }
aside dl dd > div span:nth-child(1):before{ content:''; width:1px; height:1px; margin-right:5px; background:#bfc1ce; display:inline-block; border:1px solid #bfc1ce; vertical-align:middle; }
aside dl dd > div span:nth-child(2){ margin-left:15px; font-size:0.75em; color:#fecb00; }
.asideHover:hover{
	background-color:#494b5c;
	cursor:pointer;
}

/* 반응형 속성 제거 */
/*
@media all and (max-width:1500px){
	aside{ position:fixed; min-height:0;z-index:9002; right:0; bottom:3px; left:0; width:65px; height:65px; margin:auto; border-radius:100%; box-shadow:0px 6px 5px rgba(0,0,0,0.3); overflow:hidden; transition:all .6s; }
	aside .m_btn{ width:65px; height:65px; line-height:normal; margin:auto; background:#3c3e4d; border-radius:100%; text-align:center; font-size:40px; color:#888; text-shadow:0px 1px #aaa; cursor:pointer; transition:all .6s; }
	aside .title_wrap{ display:none; }
	aside dl dt.prj_select_box .sod_select{ width:calc(100% - 35px);}
	aside dl dt.prj_select_box select{ width:calc(100% - 32px); vertical-align:middle; margin-right: 12px; float: left; }
	aside dl dt.prj_select_box img{ width:16px; height:16px; line-height:16px; vertical-align:middle; cursor:pointer; display:inline; }
	aside.unfold{ bottom:0; width:100%; height:100%; border-radius:0; overflow:auto;}
	aside.unfold .m_btn{ height:0; }	
	footer{display:none;}
}
*/


.newAlarm {
    -webkit-animation: newAlarm 1s linear infinite;
    -moz-animation: newAlarm 1s linear infinite;
    -ms-animation:newAlarm 1s linear infinite;
    -o-animation:newAlarm 1s linear infinite;
    animation: newAlarm 1s linear infinite;
    
}
@-webkit-keyframes newAlarm {
    0% { background-color: #fff;color:#000; }
    100% { background-color: #414352;color:#fff; }
}
@-moz-keyframes newAlarm {
    0% { background-color: #fff;color:#000; }
    100% { background-color: #414352;color:#fff; }
}
@-ms-keyframes newAlarm {
    0% { background-color: #fff;color:#000; }
    100% { background-color: #414352;color:#fff; }
}
@-o-keyframes newAlarm {
    0% { background-color: #fff;color:#000; }
    100% { background-color: #414352;color:#fff; }
}
@keyframes newAlarm {
    0% { background-color: #fff;color:#000; }
    100% { background-color: #414352;color:#fff; }
}
@-webkit-keyframes newAlarm {
    0% { background-color: #fff;color:#000; }
    100% { background-color: #414352;color:#fff; }
}

aside .info_wrap{ width:100%; height:40px; display:table; background:#3c3e4b; color:white; }
aside .info_wrap .info_menu{ 
	display:table-cell; 
	vertical-align:middle; 
	width:84%; 
	text-align:left; 
	border-right:1px solid #30323e; 
	padding: 15px 20px 10px 20px;
}


aside dl dt.logintime{
	line-height: inherit;
    height: 60px;
    padding: 6px 16px;
    border-top: 1px solid #5b5d69;
    background: #414352;
    color: white;
    border-bottom: 1px solid #2f3035; 
}

aside dl dt.usrInfo{
	line-height: inherit;
	min-height: 130px;
    height: auto;
    padding: 6px 16px;
    border-top: 1px solid #5b5d69;
    background: #414352;
    color: white;
    border-bottom: 1px solid #2f3035; 
}

aside dl dt.logintime span{ display:inline-block; vertical-align:middle; font-size:0.875em; }

aside dl dt.usrInfo span {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:25px;
}

aside dl dt.usrInfo .usrInfo_txt{
	width: 100%; 
	padding-top: 10px;
}

aside dl dt.logintime .logintime_txt{
	padding-top: 10px;
}

span.aside-padding-r-33{
	padding-right:33px;
}
span.aside-padding-r-47{
	padding-right:47px;
}

/* 좌측메뉴 스크롤 fixed */
#asideBgDiv {
    width: 240px;
    height: 100%;
    background-color: #414352;
    position: fixed;
    z-index: 1;
    top: 0;
}
#asideMenuTitle, #asideFunction
{
    position: relative;
    z-index: 3;
}