@charset "UTF-8";
    
label[for='GNB_project_select'],
label[for='m_project_select'],
label[for='header_select']{ display:none; }
.header_select {width: 100%;height: 28px;/* margin-top: 17px; */float: left;/* line-height: 58px; */margin-top: 5%;margin-left: 2px;}
.header_select option[selected] {
    background-color: #4b73eb;
    color: #fff;
}
.hdsel {font-size: 0.75em;}
.gnb{ display:inline-block;float:left;}
	/* .gnb_top : width:1903px 추가*/
	/* .gnb .gnb_top{ position:relative; z-index:9003; background:white; box-shadow:0px 0px 5px 3px rgba(0,0,0,0.2); height:60px; width:1903px;} */
	.gnb .gnb_top{ position:relative; z-index:9003; background:white; box-shadow:0px 0px 5px 3px rgba(0,0,0,0.2); height:60px; width:100%;  min-width: 1785px;box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);}
	/*#4b73eb */
 		.logo_box { float:left; width:240px; height:100%; line-height:55px; background:#414352; text-align:center; font-size:16px;border-bottom: 1px solid #5b5d69; box-shadow: 1px 0px 3px rgba(0,0,0,.12), 0px 0px 1px rgba(0,0,0,.24);}
			.logo{ vertical-align:middle; }
		
		.osl_btn{ float:left; width:60px; height:100%; line-height:60px; text-align:center; border-right:1px solid #ccc; }
			.osl_btn img{ vertical-align:middle; }
		
		/* .gnb .one_menu{ float:left; width:10%; height:100%; line-height:60px; text-align:center; font-weight:bold; font-size:1em; } */
		
.gnb .one_menu {
    float: left;
    width: 12.83%;
    height: 100%;
    line-height: 60px;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    font-size: 1em;
}
		.gnb .one_menu img {margin: 0 10px -3px 0;}
		.gnb .one_menu:hover{ border-bottom:3px solid #4b73eb; cursor:pointer; }
		
		/* 프로젝트 선택 */
		.gnb_top .prj_select_box { border-left: 1px solid #ccc; max-width: 355px; float: right;padding: 0 10px;height: 100%;line-height: 60px;border-right: 1px solid #ccc;}
		.gnb_top .prj_select_box .sod_select{ vertical-align:middle; margin-top:-3px; padding:7px; border:1px solid #ccc; height:25px; }
		.gnb_top .prj_select_box .sod_select:after{ top:5px; }
		
		/* 폰트 크기 조절 */
		.gnb .font_resize_wrap{ padding:0 15px; line-height:30px; font-size:12px; border-top:1px solid #ccc; width:33%; bottom: 0; position: absolute; min-width: 185px;}
			.gnb .font_resize_wrap > span{ display:inline-block; vertical-align:middle; width:17px; height:17px; border:1px solid #ccc; border-radius:100%; }
			.gnb .font_resize_wrap > span:first-child{ margin:0 6px 0 5px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; }
			.gnb .font_resize_wrap > span:nth-child(2){ background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; }
			.gnb .font_resize_wrap > span:hover{ cursor:pointer; }
		
		/* 더보기 버튼 */
		.gnb .more_box_btn{ position:relative; float:right; width:60px; height:100%; color:#333; }
		.gnb .more_box_btn > .fa{width:100%;height:100%;}
		.gnb .more_box_btn > span{ position:absolute; }
		.gnb .more_box_btn:hover{ background:#f0f0f0; cursor:pointer; }
		/* 더보기 메뉴*/
		.gnb .more_box_wrap{ position:absolute; top:80px; right:10px; background:white; box-shadow:0px 1px 6px 0px rgba(0,0,0,0.5); color:#656565; display:none; min-height: 500px; height: auto;}
		.gnb .more_box_wrap.show{ display:block; }
			.gnb .more_box_wrap .triangle{ position:absolute; z-index:9002; top:-6px; right:16px; background:white; width:14px; height:14px; transform:rotate(45deg); box-shadow:0px 0px 3px 0px rgba(0,0,0,0.5); }
			.gnb .more_box_wrap .rect{ position:absolute; z-index:9003; top:0; right:11px;  background:white; width:25px; height:15px;  }
				/* 20190514 .gnb .more_wrap 및 .gnb .more_one의 width 값 190px → 208px 로 변경*/
				.gnb .more_wrap{ float:left; width:208px; height:100%; border-right:1px solid #ddd; } /*  width:190px;*/
					.gnb .more_one{ width:208px; height:37px; line-height:37px; text-align:center; border-bottom:1px solid #ddd; font-size:0.75em; } /*  width:190px;*/
					.gnb .more_one img{ margin-top:-1px; width:15px; vertical-align:middle; margin-right:7px; }
					.gnb .more_two_wrap{ padding:5px 0; height: auto; min-height: 500px;}
						.gnb .more_wrap a > div:hover{ background:#449ff4; color:white; } /* 링크를 가진 메뉴에 hover 효과 */
						.gnb .more_two{ margin:5px 2px 0 2px; padding:5px 15px; text-align:left; font-size:0.875em; color:#333; }
						.gnb .more_three{ margin:0 2px; padding:7px 0 7px 18px; font-size:0.75em; }
						.gnb .more_three:before{ content:""; display:inline-block; margin:-4px 6px 0 0; vertical-align:middle; width:2px; height:2px; background:#449ff4; }
						.gnb .more_three:hover:before{ background:white; }
	
	/*
	 * 화면이 변경되도 상단 메뉴 사이즈 변경없도록 하기 위해 width, heigth 고정
	 * .gnb_bottom → width:1903px; min-height:340px; height:auto; 추가
	 * .gnb_bottom .two_menu_wrap → min-width:229px; min-height:340px; height:340px; 추가
	 * .gnb_bottom .two_menu → width:188px; 추가
	 * .gnb_bottom .three_menu → width:229px; 추가
	 * 
	 */
	/* 1depth hover하면 나오는 2depth 메뉴 */
	.gnb_bottom{ position:absolute; z-index:9002; margin-top:-100%; padding-bottom:10px; background:white; border-bottom:3px solid #4b73eb; transition:all .3s cubic-bezier(0, 0.4, 0.31, 1);  min-width: 1785px; min-height:340px; height:auto; }
		.gnb_bottom .menu_img{ float:left; width:300px; line-height:20; border-right:1px solid #eee; text-align:center; }
		.gnb_bottom .menu_img img{ vertical-align:middle; }
		.gnb_bottom nav{}
		/* .gnb_bottom .two_menu_wrap{ float:left; padding:20px 0 0 0; width:10.48%; border-right:1px solid #eee; } */
		.gnb_bottom .two_menu_wrap{ float:left; padding:20px 0 0 0; border-right:1px solid #eee; min-width:229px; width:12%; min-height:340px; height:auto;}
		.gnb_bottom .two_menu{ margin:12px 20px 0px; padding:15px 0 3px; border-top:1px solid #eee;  font-size:0.875em; font-weight:bold; min-width:188px; width:auto;}
		.gnb_bottom .two_menu:first-child{ margin-top:0; padding-top:0; border-top:0;  }
		.gnb_bottom .three_menu{ padding:3px 20px 3px 33px; font-size:0.875em; color:#666; text-indent:-10px; min-width:229px; width:auto;}
		.gnb_bottom .three_menu:before{ content:""; display:inline-block; margin:0 9px 4px 0; width:3px; height:3px; background:#4b73eb; }
		.gnb_bottom .three_menu.hover:before{ background:white; }
		.gnb_bottom .three_menu:hover{ background:#3883ff;  color:white; cursor:pointer; }
		.gnb_bottom .two_menu:hover a {width: 100%;color: white;background:#3883ff}
		.gnb_bottom .three_menu:hover a {color: white;}
		
		
header .m_gnb_box{ display:none; }

/* 공통 메인 콘텐츠 */
.main_contents { width:calc( 100% - 240px ); padding:30px 15px 30px 45px; text-align:left;  vertical-align:top; transition:all .2s;float:left;}
.main_contents.fill { width:100%; }

/* select2 */
.select2-container .select2-selection {
    background-image: none;
    border-radius: 2px;
    transition: border 0.2s linear 0s;
}
.select2-container .select2-selection .select2-selection__rendered {
    font-size: 14px;
}
.select2-container--default .select2-results > .select2-results__options{
	max-height:400px;
}
.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-top: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    z-index: 9004;
}
.select2-search--dropdown {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
.select2-search--dropdown input {
    background: #fff !important;
    vertical-align: baseline;
    line-height: 28px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
}
.select2-results {
    /* margin: 3px 8px 10px 8px; */
    font-size: 10pt;
}
.select2-container--default .select2-results__group{
	font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #333540 transparent transparent transparent;
}
/* 반응형 속성 제거 */
/*
@media all and (max-width:1500px){
	header .gnb{ display:none; }
	.main_contents{margin-left:0;}
	header .m_gnb_box{ width:100%; height:50px; line-height:50px; background:#0f74d0; text-align:center; display:block; }
	header .m_gnb_box .nav_btn{ position:absolute; width:50px; height:50px; cursor:pointer; }
	header .m_gnb_box .nav_btn img{ width:18px; height:12px; }
	header .m_gnb_box .page_name{ color:white; display:inline-block; }
	header .m_gnb_box .background{ position:fixed; z-index:9003; top:0; width:100%; height:100%; background:rgba(0,0,0,0.8); display:none; }
	header .m_gnb_box .background.show{ display:block; }
	header .m_gnb_box .m_gnb{ position:fixed; z-index:9004; top:0; left:-330px; width:300px; height:100%; transition:all .4s; }
	header .m_gnb_box .m_gnb.show{ left:0; }
	header .m_gnb_box .m_gnb .close_btn{ position:absolute; z-index:9003; right:-30px; width:30px; font-size:30px; font-weight:bold; color:white; cursor:pointer; }
	header .m_gnb_box .m_gnb .tool_box{ position:relative; z-index:9003; background:#0f74d0; }
	header .m_gnb_box .m_gnb .tool_box .select_project{
	
	
	display: inline-block; width: 100%;
	 
	padding:0.5px 16px; border-bottom:1px solid rgba(255,255,255,0.2); 
	border-top:1px solid rgba(255,255,255,0.2);}
	header .m_gnb_box .m_gnb .tool_box .select_project select{ width:100%; height:30px; vertical-align:middle; display: inline-block; font-family: "Noto Sans KR"; }
	header .m_gnb_box .m_gnb .tool_box .setting_menu{ font-size:0; 
	
	display: inline-block;
	
	}
	header .m_gnb_box .m_gnb .tool_box .setting_menu .menu{ width:100px; border-right:1px solid rgba(255,255,255,0.2); display:inline-block;}
	header .m_gnb_box .m_gnb .tool_box .setting_menu .menu > img{ width:20px; height:20px; vertical-align:middle; margin-right:10px; }
	header .m_gnb_box .m_gnb .tool_box .setting_menu .menu > div{ line-height:1.2em; text-align:left; color:white; font-size:14px; vertical-align:middle; display:inline-block; }
	header .m_gnb_box .m_gnb nav{ position:relative; z-index:9003; height:100%; overflow-y:auto; background:white; }
	header .m_gnb_box .m_gnb nav .one{}
	header .m_gnb_box .m_gnb nav .one > li{ text-align:left; }
	header .m_gnb_box .m_gnb nav .one > li .one_wrap{ width:100%; height:50px; border-bottom:1px solid #eee; font-size:0; font-weight:bold; cursor:pointer;  }
	header .m_gnb_box .m_gnb nav .one > li .one_wrap.parent:after{ content:'+'; height:50px; line-height:50px; margin-right:10px; color:#d0d0d0; font-size:30px; float:right; }
	header .m_gnb_box .m_gnb nav .one > li .one_wrap.parent.open:after{ content:'-'; font-size:40px; }
	header .m_gnb_box .m_gnb nav .one > li .one_wrap img{ width:40px; vertical-align:middle; display:inline-block; }
	header .m_gnb_box .m_gnb nav .one > li .one_wrap div{ display:inline-block; font-size:16px; }
	header .m_gnb_box .m_gnb nav .one .two{ font-weight:bold; color:#666; display:none; }
	header .m_gnb_box .m_gnb nav .one .two.show{ display:block; cursor:pointer; }
	header .m_gnb_box .m_gnb nav .one .two > li{ padding-left:40px; }
	header .m_gnb_box .m_gnb nav .one .two > li > div{ border-bottom:1px solid #eee; }
	header .m_gnb_box .m_gnb nav .one .two > li .two_wrap{ font-size:16px;}
	header .m_gnb_box .m_gnb nav .one .two > li .two_wrap.parent:after{ content:'+'; margin-right:10px; color:#d0d0d0; font-size:20px; float:right; }
	header .m_gnb_box .m_gnb nav .one .two > li .two_wrap.parent.open:after{ content:'-'; }
	header .m_gnb_box .m_gnb nav .one .two .three{ padding:10px 0; border-bottom:1px solid #ddd; font-size:14px; font-weight:bold; color:#999; display:none;  }
	header .m_gnb_box .m_gnb nav .one .two .three.show{ display:block; }
	header .m_gnb_box .m_gnb nav .one .two .three > li{ height:30px; line-height:30px; }
	
	.main_contents { width:100%; }
	.main_contents.fill { width:100%; }
}
*/
/* 반응형 속성 제거 */
/*
@media all and (max-width:875px){
	
}
@media all and (max-width:640px){
	.main_contents{ padding:40px 32px; }
}
*/
/*header.js 모바일 메뉴*/
/*
		.setting_menu{ padding: 30px 0 0 0px; float:left; width:100%; height:100%; }
			.menu_wrap{ float:left; width:100%;}
		.menu_b{ width: 80px; height: 80px; float: left; padding: 10px; margin: 0 10px 10px 0; border: 1px solid #ccc; text-align: center; border-radius: 5px; }
		.menu_b:nth-child(3){ margin-right: 0px; }
		.menu_b img{ margin-bottom: 10px; }
		.menu_b div{ font-size: 0.7em; width: 60px; height: 20px; float: left; margin-top:-20px; line-height: 11px;  }
		.menu_b_two{ float:left; width:100%; margin-top:13px; height:auto; text-align: left; border: 1px solid #ccc; border-bottom: 0px; background: #f9f9f9;}
		.menu_b_two_link{ float:left; width:100%; min-height: 40px; height: auto; line-height: 10px; font-size: 0.9em; border-bottom: 1px solid #ccc; padding: 12px 20px;}
		.menu_b_three_link{ padding: 15px 0px 5px 15px; height: 13px; font-size: 0.85em; float:left; width:100%; }
		.menu_b_dot{ display: inline-block; margin: 0 5px 0 0; vertical-align: middle; width: 5px; height: 5px; border-radius: 100%; background: #449ff4;]}
		.menu_b_triangle{ position: absolute; z-index:9002; margin: -7px; background: #f9f9f9; width: 14px; height: 14px; transform: rotate(45deg); border: 1px solid #ccc; }
		.menu_b_rect{ position: absolute; z-index:9003; background: #f9f9f9; width: 25px; height: 10px;}
		.mypage{ display: none; }
		.mypage .menu_b_triangle{ left: 58px; }
		.mypage .menu_b_rect{ left:46px; }
		.servicedesk{ display: none; }
		.servicedesk .menu_b_triangle{ left: 150px; }
		.servicedesk .menu_b_rect{ left:138px; }
		.systemmanage{ display: none; }
		.systemmanage .menu_b_triangle{ left: 243px; }
		.systemmanage .menu_b_rect{ left:227px; }
		.logoutBtn{cursor:pointer;}
		.logoutBtn:hover{    background: #1567b1 !important;}
		.menu_wrap > .menu_b{cursor:pointer;}
*/		
/*header.js 모바일 메뉴*/