@charset "UTF-8";

/* dpl1000*/
.main_frame { width: 100%; height: auto; margin-top: 10px; float:left; overflow: hidden; }
.main_frame.bottomJobInfoFrame {position: relative;}
#bottomJobInfoFrame{height: 400px;}
.frame_contents { display: inline-block; width: 1500px; height: auto; padding: 10px; background: #fff; border-radius: 3px; border: 1px solid #ccc; }
.frame_contents.left { width : 670px;float: left;}
.frame_contents.right { width : 770px;float: right;}
.jobDetailInfoFrame {
    display: inline-block;
    width: 100%;
    height: 340px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}
.middleJobInfoFrame {margin-bottom: -13px;}
.jobBuildAutoCheckDiv {border: 1px solid #ccc;padding: 2px 10px;line-height: 25px;display:none;}
.jobAutoCheckIcon {
    display: inline-block;
    margin-right: 10px;
}
.jobAutoCheckMsg {
    display: inline-block;
    font-size: 10pt;
}
.jobAutoCheckTime {
    font-size: 9pt;
    color: #414352;
    display: inline-block;
    margin-right: 20px;
}
.jobMaskFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    font-weight: bold;
    text-align: center;
    color:#fff;
    left: 0;
    top: 0;
    padding-top: 5%;
}
.jobMaskFrame .pop_dpl_sign_frame{margin-top: 0%;font-size: 10pt;color:#000;}

.result-03 {color: #4b73eb;}
.result-04,.result-10 {color: #ff5643;}
.result-05 {color: #fba450;}
.result-etc {color: brown;}

.frame_contents.left.full_screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    border: none;
    border-right: 1px solid #ccc;
    width: 690px;
}

.frame_contents.right.full_screen {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 2;
    border: none;
    border-left: 1px solid #ccc;
    width: 790px;
}
.frame_contents.left.full_screen > .jobDetailInfoFrame, .full_screen.right #contentsFrame{height: 95%;}
.dplFullScreanBtn {
    display: inline-block;
    width: 35px;
    margin: 0 5px;
    height: 29px;
    text-align: center;
    font-size: 14pt;
    float: right;
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}
.dplFullScreanBtn:hover{background: #e8e8e8;text-decoration: none;color: #6e7a85;}
span#jobId {
    font-weight: bold;
}
.buildChgHeader > b {
    font-weight: bold;
}
.buildChgBody {
	padding-left: 10px;
	line-height: 2;
}
.buildChgMainFrame{
	display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    text-align: left;
}
.buildChgMainFrame:last-child {
    border-bottom: none;
}
.buildChgFooter {
    padding-left: 10px;
    background-color: #eee;
    border-radius: 5px;
    display: inline-block;
    width: 98%;
    margin-bottom: 5px;
    overflow: auto;
    max-height: 200px;
}
span.buildFileChgLog {
    font-size: 11px;
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
}
span.buildFileChgLog.fa.edit::before {content: '\f044';margin-right: 5px;}
span.buildFileChgLog.fa.add::before {content: '\f067';margin-right: 5px;font-weight: 900;}
span.buildFileChgLog.fa.delete::before {content: '\f2ed';margin-right: 5px;}



/* dpl1100 */
.dpl_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }
.version_select{width:100%; margin-bottom:10px; display:inline-block;}
.version_select select{max-width:1200px;}
.dpl_wrap.white .dpl_btn{ padding:30px; }
.dpl_table_wrap_dpl1100 {box-shadow: none;}

.dpl_table_dpl1100{ width: 100%; table-layout: fixed; word-break: break-all; }
.dpl_table_dpl1100 table{width:100%;}
.dpl_table_dpl1100.white{font-size: 0.75em; }
.dpl_table_dpl1100.white table td{ height:40px; text-align: center; vertical-align: middle;  }
.dpl_table_dpl1100.white table tbody tr{ background:#fff; }
/*
.arrow_wrap{width:100%; max-width:1200px; text-align:center; float:left; margin:20px 0px;}
.arrow_wrap img.up{margin-right:10px; cursor:pointer;}
.arrow_wrap img.down{cursor:pointer;}
*/
.middle_table { display: inline-flex; width: 100%; height: 10%; padding: 24px; }
	.up, .down { background: #fff; }

/* dpl2000 */
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }

/* 
 * .dpl_title
 *    - 화면 사이즈 변경에 관계없이 타이틀 부분 사이즈 고정
 *	  - min-width: 1280px; 추가
 */
.dpl_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; width: 100%; min-width: 1280px;}

.insert_box { max-width: 1280px; width: 100%; padding: 15px 30px; margin-bottom: 25px; background: #fff; border: 1px solid #ccc; height: 100px; }
.search_box { max-width: 1280px; width: 100%; padding: 17px 30px; margin-bottom: 25px; background: #fff; border: 1px solid #ccc;  }
.search_box span { display: inline-block; float: left; }
	.search_box .sod_select { padding: 7px 6px; height: 28px; border: 1px solid #ccc; }
	.search_box .sod_select:after { top: 6.5px; }
	.search_box .sod_select .sod_option.active,
	.search_box .sod_select .sod_option.selected { width: 100%; }
	.search_box .search_select { width: 300px; height: 28px; margin: 0 5px 5px 0; }
	.search_select { width: calc(100% - 50px); height: 28px; margin: 0 5px 5px 0; }	
		.search_select select { display: block;  width: 100%; height: 100%; }
		.search_td{ text-align:center; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; overflow: visible; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
		.search_td .sod_select { padding: 7px 6px; width: 100%; height: 28px; border: 1px solid #ccc; }
		.search_td .sod_select:after { top: 6.5px; }
		.txt_of { text-overflow: clip; }
		.search_select select { display: block; width: 100%; height: 100%; border: 1px solid #ccc; }		
	input[type="checkbox"] + label:before { margin: 0 !important; }	
	input[type=text].search_txt { float: left; width: calc(100% - 436px); height: 28px; margin-right: 5px; font-size: 0.7em; border: 1px solid #ccc; }

.dpl_table_wrap { width: 100%; max-width: 1280px; float: left; }
	.btn_box { float: right; margin-bottom: 10px; }
		.button_normal2 { min-width: 44px; background: #fff; }

	.dpl_left_table_wrap { width: 73.5%; float: left; margin-right: 2%; }
	.dpl_right_table_wrap { width: 24.5%; float: left; background-color: #fff; border: 1px solid #4badeb; border-radius: 5px; }
	
	/* dpl_table */
	.dpl_table { float: left; width: 100%; table-layout: fixed; word-break: break-all; border: 1px solid #ccc; }
	.dpl_table table { width: 100%; float: left; overflow: hidden; }
		.dpl_thead { font-size: 0.75em; height: 45px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #6f8fef; }
		.dpl_td { text-align: center; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
			.dpl_table tbody { font-size: 0.75em; }
			.dpl_table tbody tr { background: #fff; }
			.dpl_table tbody tr:hover { background: #f9f9f9; }
			.adm_button_wrap{width:100%; float:left; padding:20px 0px; text-align:center; background-color:#fff;}
	
			.page_table { width:100%; float:left; height: 93px; padding-top: 36px; padding-bottom:24px; text-align: center; font-size: 0.75em; background: #fff;  border-top: transparent; border-bottom:1px solid #ddd;}
			.page_table .direction { padding: 3px 5px; border: 1px solid #cccccc; vertical-align: -webkit-baseline-middle; margin-left: -5px; }
			.page_table .num_box { margin-right: 5px; }
				.page_table .direction_num { padding: 5px 8px; vertical-align: -webkit-baseline-middle; }
			.prev_box,
			.next_box { display: inline-block; }
			.page_num { display: inline-block; }
			.direction_num.active { border: 1px solid #cccccc; color: #fd0303; font-weight: bold; }
	/*dpl_table*/
	
	/* dpl_right_box */
	.dpl_right_box { width: 100%; }
		.dpl_right_topheader { width: 100%; padding: 27px 22px; border-bottom: 1px solid #ddd; }
			.dpl_right_header_title { line-height: 1.5; font-size: 0.75em;}
		
		.dpl_right_contents { float:left; width: 100%;border-bottom: 1px solid #ddd; padding: 17.5px 19px; font-size: 0.75em; }
			.r_r_c_line { margin-bottom: 10px;width: 100%; float: left; }
				.r_r_c_left { display: inline-block; width: 30%; float: left; }
				.r_r_c_right { display: inline-block; width: 70%; float: left; }
			.r_r_c_line:last-child { margin-bottom: 0px; }
			
		.dpl_contents_box { width: 100%; height: 60px; padding: 10px; box-sizing: border-box; margin-bottom: 18px; overflow: hidden; resize: none; border: 1px solid #ddd; }
		.dpl_contents_box:last-child { margin-bottom: 0px; }
		.save_wrap { text-align: center; }
		.save_wrap input { min-width: 50px; font-size: 0.9em; }
		
	.comment_wrap { width: 100%; height: 199px; padding:0 14px; margin-bottom: 17px; background:#f9f9f9; overflow: auto; border:1px solid #ccc; }
		.comment_list { padding:16px 0; border-bottom: 1px dashed #ccc; }		
		.comment_list:last-child { border: none; }
			.comment_user { font-size: 1em; color: #333; }
			.comment_date { font-size: 0.8em; color: #999; }
			.comment_contents { font-size: 0.95em; color: #666; margin-top: 5px; line-height: 16px; white-space:normal; word-break: break-word; }
		
	/*dpl_right_box*/	
	/* 반응형 속성 제거 */
	/*
	@media screen and (max-width:1100px){
		.search_box {}
		.dpl_left_table_wrap { width: 100%; margin-bottom: 20px; }
		.dpl_right_table_wrap {width: 100%; border: 1px solid #4badeb; }
		.dpl_right_box { margin-top: 0px; background-color: #fff; }
		.r_r_c_left { width: 21%; }
		.r_r_c_right { width: 79%; }	
	}
	*/
	.search_popup { display: none; position: absolute; top: 50px; height: 100%; }
	/* 반응형 속성 제거 */
	/*
	.main_mobile { display: none; }					// 모바일화면
	@media screen and (max-width:640px){	
		.main_pc { display: none; }						// pc, 태블릿 화면 
		.main_mobile { display: block; }				// 모바일화면 
		.main_contents { padding: 0; }
		.search_btn { display: inline-block; position: absolute; right: 16px; top: 0; height: 50px; line-height: 50px; cursor: pointer; }
		.search_wrap { height: 40px; line-height: 40px; border-bottom: 1px solid #ccc; }
		.search_wrap select { width: calc(100% - 50px); border: none; height: 100%; float: left; }
		.search_wrap .button_normal2 {float: left; width: 50px; height: 100%; vertical-align: top; line-height: 40px; border: none; border-left: 1px solid #ccc; box-sizing: border-box; font-size: 12px; }
		.search_wrap .sod_select:after { bottom: 15px; }
		.m_dpl_list { border-bottom: 1px solid #ccc; background: #f9f9f9; box-sizing: border-box; padding: 15px; font-size: 11px; }
		.grouping { font-size: 16px; }
		.m_dpl_left { display: table-cell; width: 80%; line-height: 20px; }
		.m_dpl_right { display: table-cell; height: 100%; font-size: 11px; font-weight: bold; vertical-align: middle; text-align: right; }
		.table_between { margin: 0 5px; }
		.m_dpl_right[data="1"] { color: #4DBAC0; }
		.m_dpl_right[data="2"] { color: #FDBA00; }
		.main_mobile .dpl_right_table_wrap { display:none; position: absolute; top: 50px; border: none; }
		.x_btn { float: right; cursor: pointer; }
		
		.search_popup { text-align: center; width: 100%; background: #fff; }
		.search_popup_title { height: 50px; font-size: 16px; border-bottom: 1px solid #ccc; width: 100%; padding: 16px; }
		.search_dpluire { background: #f9f9f9; padding: 16px; border-bottom: 1px solid #ccc; }
		.require_list { margin-bottom: 8px; border: 1px solid #ccc; width: 100%; height: 28px; }
		.require_input { width: calc(100% - 50px);margin-right: 6px; height: 28px; border: 1px solid #ccc; }
	}
	*/
/*dp2000 버전 별 요구사항 확인*/

/* dpl1001 배포 계획 생성 */
.pop_dpl_div_sub.div_sub_left{width:400px;width:35%;display:inline-block;float:left;margin-right: 10px;height: 733px;}
.pop_dpl_div_sub.div_sub_right{width:750px;width:64%;display:inline-block;float:left;height: 733px;}
.pop_dpl_div_sub {
    display: block;
    height: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 1px;
}
/* 배포 리비전 번호 */
input[type=text].dpl1001_revision{width: 230px !important;}

/* 배포 리비전 번호 초기화 버튼 */
/* 배포계획 생성 팝업의 배포자, 결재자 부분 - IE에서 input 사이즈 유지하기 위해 important로 처리 */
input[type=text].dpl1001_charger{width:230px !important;}
span.dpl1001_revision, span.dpl1001_charger {
    height: 34px;
    line-height: 30px;
    float: right;
}
.dpl_top_menu_div {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.dpl_middle_row {
    height: 41px;
    display: inline-block;
    float: left;
    border-bottom: 1px solid #ccc;
}
/* 
.dpl_middle_row:first-child {
    border-top: 1px solid #ccc;
}
 */
.dpl_middle_cell {
    display: inline-block;
    float: left;
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 5px 2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dpl_middle_cell:nth-child(1) {width: 40px;}
.dpl_middle_cell:nth-child(2) {width: 40px;}
.dpl_middle_cell:nth-child(3) {width: 150px;}
.dpl_middle_cell:nth-child(4) {width: 180px;}
.dpl_middle_cell:nth-child(5) {width: 100px;}
.dpl_middle_cell:nth-child(6) {width: 100px;}
.dpl_middle_cell:nth-child(7) {width: 99px;border-right:none;}
.dpl_middle_job_header {
    display: inline-block;
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f9f9f9;
    float: left;
	overflow-y: scroll;
}
.dpl_middle_job_header::-webkit-scrollbar {
    background: #f9f9f9;
}
.dpl_bottom_job_content {
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    line-height: 25px;
    height: 629px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 2px 0; */
}
.dpl_job_row {
    cursor: grab;
}
.dpl_job_row:hover {
    background-color: #414352;
    color: #fff;
}
.dpl_job_row_ghost {
    opacity: 0.7;
    background: #f9f9f9;
    margin: 2px 0;
    border: 2px dashed #8c8c8c;
}
.dpl_job_row_ghost .dpl_middle_cell:nth-child(6) {
    width: 95px;
}
.dpl_chk { position: relative;line-height: 30px; }
.dpl_chk input[type="checkbox"] { width:18px; height:18px; margin:0; opacity: 0; position: absolute; z-index: 2; }
.dpl_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; }
.dpl_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }
.dpl_note {height: 70px !important;}
.pop_dpl_mask {
	display:none;
    position: absolute;
    width: 1160px;
    height: 732px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}
.pop_dpl_sign_frame {
    display: inline-block;
    width: 380px;
    margin-top: 20%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1px;
}
.signFrameSub {
    width: 100%;
    float: left;
    height: 25px;
    line-height: 25px;
}
.signFrameSub.signFrameHalf {
    width: 50%;
    height: 100px;
    border-bottom:1px solid #ccc;
    padding: 20px;
}
.signFrameHalf:first-child{
	border-right: 1px solid #ccc;
}
.usrImgClass{width:60px;height:60px;}

/* dpl1100 */
/* 배포 계획 요구사항 배정 - 배정,제외 버튼 영역 */
.dpl_middle_wrap{ display: inline-flex; width: 100%; height: 15%; padding: 0 0 15px 0;}

/* dpl3000 */

.sub_title_btn {
    position: absolute;
    top: 2px;
}
.sub_title_btn.right {
    right: 5px;
}
.tab_contents.menu {
    display: inline-block;
    width: 1500px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}
div#contentsFrame {
    background: #23241f;
    color: #f8f8f2;
    height: 340px;
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 20px;
    position: relative;
}
div#contentsFrame > pre{width:100%;height:100%;}
div#contentsFrame > pre > code{    height: 100%;width: 100%;font-size: 10pt;position: absolute;top: 0;left: 0;padding: 0.5em;    overflow: auto;}
div#contentsFrame > pre > code > a {color: #67a8e9;}
#btn_bldMainLog, #btn_bldSubLog{display:none;}
button.logBtnActive, .AXButton:focus {
    background-color: #4b73eb;
    text-decoration: none;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

.sub_title {
    font-weight: bold;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 6px 5px;
    height: 35px;
    position: relative;
    text-align: left;
    font-size: 11pt;
    margin-bottom: 2px;
    line-height: 20px;
}

/* dpl4000 배포계획 통합 정보 */
.top_contents{width:100%;}
.bottom_contents{width:100%; margin-top: 20px; position:relative; overflow: hidden;}
.bottom_contents > div {width: 49%; display: inline-block;}
.left_contents{float: left;}
.right_contents{float: right;}
.grid_contents_frame{
	height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.grid_searchBox{ padding: 5px 0 10px 0;}

#dpl4000Mask{  
	position: absolute;
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 2;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding-top: 5%;
	left: 0;
	top: 0;
}  