@charset "UTF-8";

.tab_contents.menu{
    display: inline-block;
    width: 1550px;
    height: auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.sub_title {
    font-weight: bold;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 6px 5px;
    height: 30px;
    font-size: 14px;
}
.result-success {color: #4b73eb;}
.result-authException {color: #fba450;}
.result-fail, .result-exception {color: #ff5643;}

.rep_chk {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 4% 0;
}
.rep_chk input[type="checkbox"] { width:18px; height:18px; margin:0; opacity: 0; position: absolute; z-index: 2; }
.rep_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; }
.rep_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }

/* rep1002 */
.rep1002Pop_sub{
	width: 100%;
    padding: 20px 20px;
    text-align: center;
}
.rep1002FrameBox{
	width: 100%;
	display: inline-block;
}
.rep1002SearchFrame {
    height: 42px;
    line-height: 42px;
    text-align: left;
    font-size: 13px;
}
.rep1002RevisionFrame {
    height: 255px;
    position: relative;
}
.rep1002CommitLogFrame {
    height: 100px;
    border: 1px solid #ccc;
	margin-bottom: 10px;
}
.rep1002RepositoryName {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border: 1px solid #000;
    margin: 0px 10px;
}
.rep1002RevisionSearchRange {
    display: inline-block;
}
textarea.svnCommitLogDetail {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding: 10px;
}
.rep1002SelRivisionFrame {
    display: block;
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 5px;
}
.rep1002SelRivsionBtnFrame {
    display: block;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
}
.rep1002SelRivsionBtnFrame > .revisionAddDelBtn{width:50px;}
.rep1002SelRivsionBtnFrame > .revisionAddDelBtn:first-child {
    margin-right: 20px;
}
div.svn_mask_repList {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 12pt;
    padding-top: 30%;
	z-index: 2;
	top: 0;
    left: 0;
}
div.svn_mask_content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 12pt;
    padding-top: 10%;
	z-index: 2;
	border-radius: 1px;
}
div.svn_mask_content#repTreeListMask {
	height: 487px;
}
div.svn_mask_content#repDplInputMask {
	padding-top: 5%;
}
.rep1002LeftFrame {
    display: inline-block;
    float: left;
    width: 260px;
    margin-right: 10px;
}
.rep1002RightFrame {
    display: inline-block;
    float: left;
    width: 1000px;
	height: 763px;
	position: relative;
}
.rep1002RepSubTreeFrame {
    display: block;
    height: 733px;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
}
.rep1001DeployFrame {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
/* rep1004 */
.rep1004Pop_sub{
	padding: 15px;
}
.rep1004FrameBox{
	width: 100%;
	display: inline-block;
}
.rep1004FileTreeFrame {
    height: 395px;
    width:320px;
    float: left;
    overflow: auto;
    border: 1px solid #ccc;
    margin-top: 3px;
}
.rep1004FileListFrame {
    height: 100%;
    width: 907px;
    margin-left: 3px;
    float: right;
}


/* rep1005 */
.rep1005Pop_sub{
	padding: 15px;
}
.rep1005FrameBox{
	width: 100%;
	display: inline-block;
}
.rep1005SearchFrame {
    height: 42px;
    line-height: 42px;
    text-align: left;
    font-size: 13px;
}
.rep1005CommitLogFrame {
    height: 100px;
    border: 1px solid #ccc;
}

/* rep1102 */
.rep1102MainTopFrame {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}
.rep1102MainMiddleFrame {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}
.rep1102MainBottomFrame {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}
.rep1102MiddleLeftFrame {
    display: inline-block;
    width: 644px;
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.rep1102MiddleRightFrame {
    display: inline-block;
    width: 826px;
    float: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.rep1102DataTransferBtnFrame {
    display: inline-block;
    width: 100%;
    height: 35px;
    text-align: center;
}
.rep1102DataTransferBtnFrame > button#selFileChgAddBtn {
    margin-right: 40px;
}
.rep1102DataTransferBtnFrame > button {
    width: 70px;
}