@charset "UTF-8";

.tab_contents.menu{
    display: inline-block;
    width: 1550px;
    height: auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.sub_title {
    font-weight: bold;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 6px 5px;
    height: 30px;
    font-size: 14px;
}
.whk1000Frame {
    display: inline-block;
    width: 100%;
}
.whk1000SearchFrame .searchGroup {
    font-size: 13px;
}
