@charset "UTF-8";
.menu_tree_help {    position: relative;display: inline-block;vertical-align: middle;margin-left: 10px;width: 17px;height: 17px;border: 1px solid #ccc;cursor: pointer;padding: 0 4px 0 2px;font-size: 11pt;font-weight: bold;float: left;color:red;}
/* .menu_tree_helpBox {display:none;position: absolute;width: 400px;height: 110px;border: 1px solid #4b73eb;top: -20px;left: 52px;background: #fff;text-align:left;font-size:10pt;line-height: 15px;    padding-top: 10px;} */
 .menu_tree_helpBox {display:none;position: absolute;width: 400px;height: 140px;border: 1px solid #960000;top: -20px;left: 35px;background: #fff;text-align:left;font-size:10pt;line-height: 15px;padding: 10px; 
box-shadow: rgba(75, 0, 0, 0.7) 1px 1px 0px;
    background-image: linear-gradient(to top, rgb(250, 239, 239) 0%, rgb(255, 255, 255) 100%);
    color: rgb(47, 47, 47);} 
/* 체크박스 */
.adm_chk { position: relative; }
.adm_chk input[type="checkbox"] { width:18px; height:18px; left:calc(50% - 9px);top:25%; margin:0; opacity: 0; position: absolute; z-index: 2; vertical-align: middle; display: inline-block; } /* 실제 체크박스는 숨김 */
.adm_chk input[type="checkbox"]+label {					/* 체크박스 체크 하기 전 */
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/images/contents/normal_check.png) no-repeat;
	font-size: 1em;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	z-index: 1;
	border-radius: 3px;
}

.adm_chk input[type="checkbox"]:checked+label {			/* 체크박스 체크 하고난 후 */
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('/images/contents/normal_check_on.png') no-repeat;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
}
/* 체크박스 */

/* adm1000 */
tr > td.left_con {
	table-layout: fixed;
    word-break: break-all;
}
.dis_none{ display: none;}
/* 
 * .tab_title
 *    - 화면 사이즈 변경에 관계없이 타이틀 부분 사이즈 고정
 *	  - min-width: 1280px; 추가
 */
.tab_title { font-size: 2em; font-weight: bold; margin-bottom: 32px; width: 100%; min-width: 1280px;}
.tab_menu {  }
	/* 
	 * .tab_box
	 *    - 화면 사이즈 변경에 관계없이 tab_box 사이즈 고정
	 *	  - width: 100% 에서 1603px; 변경
	 */
	.tab_box { position: relative; float: left; width: 1603px; }
	.tab_box li { float: left; margin-left: 3px; margin-right: 2px; background: #ececec; border: 1px solid #ccc; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; cursor:pointer; }
	.tab_box li a { display: block; width: 174px; height: 46px; text-align: center; padding: 14px 0; }
	.tab_box li a:hover { background: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
	.tab_box li.on { background: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
	
	.common_table thead{background:#f9f9f9; }
	.st-head{padding-right:17px !important;}
	.st-body-scroll{overflow-y:scroll !important;}
	th { text-align: left; }
	
	.wd1 { width: 15% !important;}
	.wd2 { width: 29% !important;}
	.wd3,
	.wd4,
	.wd5,
	.wd6,
	.wd7,
	.wd8,
	.wd9,
	.wd10{ width: 7% !important; padding: 0 !important; text-align: center; } /* 20190304 width 8% → 7% 변경*/
	.wd10 { border-right: transparent !important; }
		
	/* 
	 * .tab_contents
	 *   - max-width: 1500px; width:100%제거
	 *   - 화면크기 변경되도 사이즈 고정되도록 하기위해  width:1500px; 으로 고정 
	 */
	.tab_contents { float: left; width: 1500px; height: auto; margin-top: -1px; background: #fff; border: 1px solid #ccc; border-radius: .1875rem; padding: 25px 20px; }
	.tab_contents.authority{ display:none; }
		.left_div { position: relative; float: left; width :28%; height: auto; min-height: 570px; margin-right: 2%; border: 1px solid #ccc; }
			.left_table { position: relative; width :100%; font-size: 0.75em; }		
				.left_title { height: 50px; padding: 15px 0 0 10px; text-align: center; background: #f9f9f9; border-bottom: 1px solid #ccc; font-weight: bold;}
					.btn_one { position: absolute; top: 13px; right: 96px; float: right; }
					.btn_two { position: absolute; top: 13px; right: 53px; float: right; }
					.btn_three { position: absolute; top: 13px; right: 10px; float: right; }
				.left_sub_title { background: #f9f9f9; text-align: center; font-weight: bold;}
				
				/*테이블 클릭 색상 */
				.table_active{background:#4b73eb; color:#fff;}
				.table_inactive{background:#fff; color:#333;}
				/*테이블 클릭 색상*/
				
				.left_sub_title,
				.left_con { height: 42px; padding-left: 10px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; vertical-align: middle; cursor: pointer; }
			.right_line { border-right:1px solid transparent !important; }
			/* 20190304 추가 : 오른쪽 선 삭제 */
			.non_right_line { border-right: transparent !important; } 
			
		.right_div { position: relative; float: right; width :70%; height: auto; min-height: 570px; border: 1px solid #ccc; overflow: hidden; }
			.right_table { width :100%; font-size: 0.75em; border-bottom: 1px solid #ccc; }
				.right_title { height: 50px; padding: 17px 0; background: #f9f9f9; border-bottom: 1px solid #ccc; text-align: center; font-weight: bold;}
					.btn_three { position: absolute; top: 13px; right: 10px; float: right; }
					.title_align { margin-left: 5px; }
				.right_sub_title { height: 42px; padding-left: 10px; vertical-align: middle; background: #f9f9f9; border-right: 1px solid #ccc; }
				.right_con { height: 42px; padding: 0 10px; border-right: 1px solid #ccc; border-top: 1px solid #ccc; vertical-align: middle; }
		
		.menu_row .menu_col2 .search_select { margin-right: 0px; }

/* 반응형 속성 제거 */
/*			
@media screen and (min-width: 640px) and (max-width: 1024px) {
	.left_div { float: none; width: 100%; min-height: 100%; border-bottom: none; margin-bottom: 1%; }
	.right_div { float: none; width: 100%; height: 300px; }
}
*/

/* 메뉴 관리 */
.tab_contents.menu .top_control_wrap{ text-align:right; }
	.tab_contents.menu .btn_inquery,
	.tab_contents.menu .btn_save{ margin-left:5px; }
.menu_wrap { width: 100%; height: auto; margin-top: 10px;  border: 1px solid #ccc;float:left; }
	.menu_ctrl_wrap{ float:left; width: 30%; height: 100%; min-height:1000px;margin-right: -6px; font-size: 0.875em; box-sizing:border-box;border-right: 1px solid #ccc;}
		.menu_ctrl_btn_wrap{ padding:0 10px; height:48px; line-height:42px; border-bottom:1px solid #ccc; }
			.menu_ctrl_btn_wrap .btn_menu_add{ margin-right:5px; }
			.menu_ctrl_btn_wrap .menu_all_wrap{ float:right; height:100%; }
			.menu_ctrl_btn_wrap .menu_expand_all{ display:inline-block; vertical-align:middle; margin-right:5px; width:17px; height:17px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
			.menu_ctrl_btn_wrap .menu_collapse_all{ display:inline-block; vertical-align:middle; width:17px; height:17px; background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
		.menu_lists_wrap{ padding:17px 0; overflow-y:auto; height:calc(100% - 48px); }
			.menu_root_info,
			.menu_one_info,
			.menu_two_info,
			.menu_three_info{ line-height:30px; cursor:pointer;}
			.menu_root_info{ padding-left:10px;  }
			.menu_one_wrap{  }
			.menu_one_wrap.fold{ display:none; }
				.menu_one_info{ padding-left:20px; }
					.menu_root_info > img,
					.menu_one_info > img,
					.menu_two_info > img{ vertical-align:top; margin-top:9px;}
					.menu_root_info > span,
					.menu_one_info > span,
					.menu_two_info > span,
					.menu_three_info > span{ vertical-align:top; max-width:calc(100% - 22px); display:inline-block; word-break:break-all; text-indent:-30px; padding-left:30px; }
					.menu_root_info > span:before,
					.menu_one_info > span:before,
					.menu_two_info > span:before{ content:""; display:inline-block; vertical-align:middle; margin:-5px 5px 0 5px; width:18px; height:16px; background:url(/images/contents/folder_icon.png); }
				.menu_two_wrap{ }
				.menu_two_wrap.fold{ display:none; }
					.menu_two_info{ padding-left:36px; }
					
					.menu_three_info{ padding-left:65px;  }
					.menu_three_info.fold{ display:none; }
					.menu_three_info > span{ text-indent:-20px; padding-left:20px; }
					.menu_three_info > span:before{ content:""; display:inline-block; vertical-align:middle; margin:-3px 5px 0 0; width:14px; height:17px; background:url(/images/contents/document_icon.png); }
				
				.menu_root_info.selected,
				.menu_one_info.selected,
				.menu_two_info.selected,
				.menu_three_info.selected{ background:#d8ecff; }
				.menu_three_info:hover{ background:#d8ecff; }
				
	.menu_info_wrap{ float:left; width:70%; min-height: 1000px;padding: 47px 36px; margin-left: 6px; vertical-align:middle; font-size:0.75em; box-sizing:border-box; }
		.menu_row {    display: block;float: left;width: 100%;}
		.menu_row_title {width: 100%;display: block;float: left;height: 50px;line-height: 60px;padding-left: 25px;font-size: 12pt;font-weight: bold;border-bottom: 3px double #a9a9a9;}
		
		.top_menu_row { border-top: 1px solid #ddd; }
		/* font-size: 1em; → 12px; */
		.menu_info_wrap input[type="text"]{ vertical-align:middle; margin-top:0; padding-left: 4px; height:100%; font-size: 12px; border: 1px solid #c6c9d0;border-radius: .1875rem;}
		/* padding: 7px 5px 5px 7px; font-size: 12px; 추가 */
		.menu_info_wrap textarea{ width:100%; height:100%; resize:none; padding: 7px 5px 5px 7px; font-size: 12px;border: 1px solid #c6c9d0;border-radius: .1875rem;}
		.menu_row:first-child .menu_col1,
		.menu_row:first-child .menu_col2{ border-top:1px solid #ddd; }
		.menu_row .menu_col1{ float:left; clear:both; padding-left:25px; width:27%; height:70px; line-height:70px; background:#f9f9f9; border-width:0 1px 1px 1px; border-style:solid; border-color:#ddd;}
		.menu_row .menu_col2{ float:left; padding:20px; width:73%; height:70px; line-height:27px; border-bottom:1px solid #ddd;border-right:1px solid #ddd; }
		.menu_row:nth-child(8) .menu_col2 label{ line-height:16px; }
		.menu_row:last-child .menu_col1,
		.menu_row:last-child .menu_col2{ height: 190px; }
		.menu_col1.rowOver, .menu_col2.rowOver {height: 120px !important;}
		.menu_col2.rowOver.rowOverContent {overflow-y: auto;padding: 10px 20px;}
/* 팝업창 */
	.pop_wrap { display: none; position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); z-index: 1; }
	.popup { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 594px; height: 594px; margin: auto; background: #fff; border: 1px solid #4b73eb; font-size: 0.75em; z-index: 2; }
		.pop_title { width: 593px; height: 40px; padding: 11px 15px; background: #4b73eb; color: #fff; font-size: 1em; }
		.pop_sub { width: 593px; height: 482px; padding: 30px 20px; text-align: center; }
		
			.pop_sub1 { width: 120px; height: 85px; padding: 30px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }
			.pop_sub1_input { width: 432px; height: 85px; padding: 20px 20px; margin-left: 120px; border: 1px solid #c6c9d0;border-radius: .1875rem; text-align: left; }
				input[type="text"].group_tx { width: 263px; height: 28px; margin-right: 1%; }
				.btn_paddin { padding: 5.5px 9px; font-size: 0.9em; }
				.hidden_info { display: none; color: #4b73eb; margin-top: 5px; }
			
			.pop_sub2 { width: 120px; height: 69px; padding: 26px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }
			.pop_sub2_input { width: 432px; height: 69px; padding: 25px 20px; margin-left: 120px; border-top: 1px solid #ccc; text-align: left; }
				input[type="checkbox"].PO_ck { vertical-align: middle; }
				input[type="checkbox"].SM_ck { margin-left: 15px; vertical-align: middle; }
				input[type="checkbox"].ST_ck { margin-left: 15px; vertical-align: middle; }
				input[type="checkbox"].TT_ck { margin-left: 15px; vertical-align: middle; }
				input[type="checkbox"].CS_ck { margin-left: 15px; vertical-align: middle; }
			
			.pop_sub3 { width: 120px; height: 128px; padding: 30px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; border-bottom:1px solid #ccc;}
			.pop_sub3_input { width: 432px; height: 128px; padding: 20px 20px; margin-left: 120px; border-top: 1px solid #ccc; text-align: left;border-bottom: 1px solid #ccc; }
				.note_tx { width: 393px; height: 87px; resize: none; }				
			
			.pop_sub4 { width: 120px; height: 69px; padding: 26px 25px;  border-right: 1px solid #ccc; text-align: left; border-bottom:1px solid #ccc;}
			.pop_sub4_input { width: 432px; height: 69px; padding: 20px 20px; margin-left: 120px;   border-bottom: 1px solid #ccc; text-align: left; }
				.pop_sub4_input .search_select { margin-right: 0; }
				.pop_sub4_input .search_select select { height: 28px }
			.btn_wrap { margin: 30px 0 0; }
			.save_btn,
			.exit_btn { display: inline-block; width: 67px; height: 40px; padding: 7px 0; font-size: 1em; }
			.save_btn { color: #fff; background: #4b73eb; border: 1px solid #4b73eb; }
			.authority_order { height: 28px; text-align: center; padding: 0; }
			
						
/* 게시판 설정 팝업창*/
	.pop_adm_div_sub.div_sub_top{width:100%;display:inline-block;float:left;height: 110px;}
	.pop_adm_div_sub.div_sub_left{width:46.5%;display:inline-block;float:left;margin-right: 6px;}
	.pop_adm_div_sub.div_sub_center{width:6%;display:inline-block;float:left;margin-right: 6px; padding-top:155px}
	.pop_adm_div_sub.div_sub_right{width:46.5%;display:inline-block;float:left;}
	
	.adm1002_sub_left, .adm1002_sub_right, .adm1002_sub_center{
		height: 365px !important;
		margin-top: 5px
	}
	.pop_adm_div_sub {
	    display: block;
	    height: 100%;
	    border: 1px solid #ccc;
	    padding: 5px;
	    border-radius: 1px;
	}
	.sub_title {
	    font-weight: bold;
	    background: #f9f9f9;
	    border-top: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	    text-align: left;
	    padding: 6px 5px;
	    height: 30px;
	    border-radius: 5px 5px 0 0;
	    font-size: 11pt;
	    margin-bottom: 2px;
	    line-height: 20px;
	}
	.adm1002_search_area{padding: 3px 0 7px 0; font-size:12px !important;}
	td.grid-cell-dsiabled {
	    text-decoration: line-through;
	    color: #ccc;
	}
/* adm1000 */

/* amd2000 */
.adm2000_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }

.search_box { max-width: 1280px; width: 100%; padding: 37px 30px;  font-size: 0.75em; margin-bottom: 40px; background: #fff; border: 1px solid #ccc; margin-bottom:25px; }
.search_box span { display: inline-block; }
	.search_select { width: 100%; height: 28px; margin-right: 5px; }	
		.search_select select { display: block; max-width: 124px; width: 100%; height: 100%; }
	input[type=text].search_txt { float: left; width: calc(100% - 178px); height: 28px; margin-right: 5px; font-size: 1em; border: 1px solid #ccc; }

.txt_div { position: relative; max-width: 1280px; width: 100%; height: 30px; font-size: 0.75em; }
	.all_txt { padding-top: 15px; }
	.num_txt { font-weight: bold; }
	.test_div { width: 100%; max-width: 1280px; float: left; font-size: 0.75em; }
	.btn_box { float: right; }
		.button_normal2 { min-width: 44px; background: #fff; }

.div_table { display: inline-block; max-width: 1280px; width: 100%; text-align: center; font-size: 0.75em; border-radius: 3px; margin-top: 5px;  border-top-left-radius: 3px; border-top-right-radius: 3px; }
	.search_table { max-width: 1280px; width: 100%; table-layout:fixed; border: 1px solid #ccc; }
	.search_thead { height: 43px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #ccc; }
		.empty { height: 15px; border-bottom: 1px solid #ccc; }
	.search_td { padding: 0 15px; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }	
	.search_table tbody { background: #fff; }
		.search_table tbody tr:hover { background: #f9f9f9; }
		.search_overflow { overflow: visible; }
	.txt_of { text-overflow: clip; }
	.search_td_select {  }
		select { display: block; /*max-width: 76px;*/ height: 28px; font-size: 1em; border: 1px solid #ccc; box-sizing:border-box; }
		.search_select select { display: block; width: 100%; height: 100%; border: 1px solid #ccc; }		
	input[type="checkbox"] + label:before { margin: 0 !important; }

/* 반응형 속성 제거 */
/*
@media screen and (max-width: 1024px) {
	.search_td { padding: 5px; }
}
*/
/* amd2000 */

/* amd3000 */
.adm3000_title { font-size: 2em; }

.adm3000_title_td { max-width: 1280px; width: 100%; min-height: 170px; padding: 30px; margin-top: 30px; margin-bottom: 40px; font-size: 0.75em; background: #fff;  border: 1px solid #ccc; }
	.title_td1 { }
	.title_td2 { margin-top: 25px; margin-bottom: 22px; line-height: 1.5; }
	.title_td3 { }

.adm3000_sub_td { display: inline-block; position: relative; max-width: 1280px; width: 100%; background: #fff;  border: 1px solid #ccc; border-radius: 5px; }
.adm3000_sub_td:after { content: ""; display: block; clear: both; }
	.sub_left_td { display: inline-block; position: absolute; width: 206px; height: 100%; padding: 30px; background: #f9f9f9; border-right: 1px solid #ccc; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
		.left_td_title { margin-bottom: 10px; margin-top: 2px; }
		.left_td_sub { font-size: 0.75em; }
	.sub_righ_td { display: inline-block; position: relative; width: calc( 100% - 206px); margin-left: 206px; padding: 25px 40px; font-size: 0.75em; }
		.subbox { float: left; width: calc( 100% / 3 ); line-height: 2; margin-top: 2px; }
			.righ_td_title { float: left; width: 66px; margin-right: 20px; font-weight: bold; }
			.righ_td_sub { width: 230px; }
				.red_font { margin-left: 5px; color: red; }
			.righ_td_title2 { float: left; margin-right: 10px; line-height: 4.5; }
			.righ_td_sub2 { font-size: 1.7em;  line-height: 2.5; }
		.btn_com { position: absolute; top: 35px; right: 40px; width: 71px; font-size: 1em; font-weight: bold; }

/* 반응형 속성 제거 */
/*
@media screen and (max-width: 1024px) {
	.sub_righ_td { padding: 25px 25px; }
		.righ_td_title { margin-right: 15px; }
		.button_complete { right: 25px; }
	.plus_img { margin: 12px 20px; }
}
*/
/* amd3000 */

/* amd3100 */
.adm3100_sub { max-width: 1280px; width: 100%; height: 576px; margin-top: 10px; padding: 40px 35px; background: #fff;  border: 1px solid #ccc; border-radius: 5px; font-size: 0.75em; }
.adm3100_sub_style { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-bottom: 35px; }
	.adm3100_sub_left { width: 200px; height: 70px; padding: 25px 30px; background: #f9f9f9; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.adm3100_sub_right { width: calc( 100% - 200px ); height: 70px; padding: 20px; margin-left: 200px; border-bottom: 1px solid #ccc; }
	.adm3100_sub_middle { width: 100%; height: 97px; margin: 20px 0; background: #f9f9f9; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	.ok_line { border-top: 1px solid #ccc; }
	.no_line { border-bottom: transparent; }
		.middle_sub { width: calc( (100% / 2) - 49px ); height: 96px; text-align: center; padding: 30px; }
			.mb_sub_note { width: calc( 100% / 3 ); margin-top: 5px; }
				.mb_sub_title { margin-bottom: 5px; }
				.money_size { font-size: 1.25em; }
				.money_size2 { font-size: 2em; font-weight: bold; margin-left: 20px; }
				.plus_img { width: 15px; height: 15px; margin: 12px 40px; background: url(/images/contents/adm3100_plus_img.png) no-repeat; }
				.middle_line { width: 49px; height: 96px; background: url(/images/contents/adm3100_line_img.png) no-repeat; }
	.sub_right_pd { padding: 29px 20px }
	.no_pd { text-align: center; padding: 29px 20px }

/* 반응형 속성 제거 */
/*
@media screen and (max-width: 640px) {
.adm3000_sub_td { max-width: 1280px; width: 100%; }
.adm3100_sub_style { border-top: 1px solid transparent; border-bottom: 1px solid transparent; }
	.sub_left_td { width: 100%; height: 100px; padding: 30px; border-bottom: 1px solid #ccc; border-right: transparent; border-top-right-radius: 5px; border-bottom-left-radius: 0; }
		.left_td_title { margin-bottom: 10px; margin-top: 2px; }
	.sub_righ_td { width: 100%; margin-top: 100px; margin-left: 0; }
		.subbox { float: none; width: 100%;; line-height: 2; margin-top: 2px; }
			.righ_td_title { float: left; width: 66px; margin-right: 20px; }
			.righ_td_sub { width: 230px; }
				.red_font { margin-left: 5px; }
			.righ_td_title2 { float: left; margin-top: 31px; margin-right: 23px; line-height: 1; }
			.righ_td_sub2 { line-height: 1; margin-top: 24px; }
		.btn_com { position: absolute; top: 30px; right: 40px; width: 71px; font-size: 1em; font-weight: bold; }	
		
.adm3100_sub { max-width: 1280px; width: 100%; height: 693px; padding: 0; }
	.adm3100_sub_left { width: 100%; height: 55px; padding: 20px 30px; border-right: transparent; }
	.adm3100_sub_right { width: 100%; height: 70px; padding: 20px; margin-top: 55px; margin-left: 0; }
	.adm3100_sub_middle { width: 100%; height: 150px; margin: 20px 0; }
		.middle_sub { width: 100%; height: auto; padding: 20px 10px; }
			.mb_sub_note { width: calc( 100% / 3 ); margin-top: 5px; }
				.mb_sub_title { margin-bottom: 5px; }
				.money_size2 { margin-left: 20px; }
				.plus_img { width: 15px; height: 15px; margin: 12px 40px; }
				.middle_line { display: none; }
	.sub_right_pd { margin-top: 75px !important; padding: 27px 20px !important; border-top: transparent; }
	.no_pd { text-align: center; padding: 29px 20px; border-top: 1px solid #ccc; }
}

@media screen and (max-width: 640px) {
	.mb_sub_note:nth-child(1),
	.mb_sub_note:nth-child(3) { width: 40% }
	.mb_sub_note:nth-child(2) { width: 7%; margin: 12px 10px; }
}
*/
/* adm3100 */


/* adm7000 */
/* 
 * .dept_title
 *    - 화면 사이즈 변경에 관계없이 타이틀 부분 사이즈 고정
 *	  - min-width: 1280px; 추가
 */
.dept_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; width: 100%; min-width: 1280px;}

/* adm4000 */
	.adm_left_table{float:left;width:50%; table-layout:fixed; border:1px solid #ccc; margin-right:1%}
	.adm_right_table{float:left; width:49%; table-layout:fixed; border:1px solid #ccc;}
	.adm_thead { height: 45px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #ccc; }
	.adm_td { text-align:center; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
		.adm_left_table tbody tr, .adm_right_table tbody tr { background: #fff; }
		.adm_left_table tbody tr:hover, .adm_right_table tbody tr:hover { background: #f9f9f9; }
		.adm_button_wrap{width:100%; float:left; padding:20px 0px; text-align:center; background-color:#fff;}

/* 반응형 속성 제거 */
/*		
@media screen and (min-width: 320px) and (max-width: 1024px) {
	.adm_left_table{width:100%; margin-bottom:20px;}
	.adm_right_table{width:100%;}
}
*/

.save_btn,
.exit_btn { display: inline-block; width: 71px; height: 40px; padding: 7px 0; }
.save_btn { color: #fff; background: #4b73eb; border: 1px solid #4b73eb; }

/* adm5000 */
	.main_contents h1{ margin-bottom:30px; font-size:2em; font-weight: bold; }
		.inquery_wrap{ padding:30px 20px 20px 20px; background:white; border:1px solid #ccc; font-size:0.75em; }
			.inquery_wrap .first_row{ padding:15px 0; border-bottom:1px solid #ddd; }
				.inquery_wrap .first_row .sod_select{ vertical-align:middle; padding:8px; width:65px; height:28px; border:1px solid #ccc; }
				.inquery_wrap .first_row .sod_select:after{ top:6px; }
				.inquery_wrap .first_row label{ margin-right:8px; }
			.inquery_wrap .second_row{ padding:15px 0; border-bottom:1px solid #ddd; }
				.inquery_wrap .second_row input{ width:184px; height:28px; border:1px solid #ccc; }
				.inquery_wrap .second_row label{ margin:0 8px 0 20px; }
				.inquery_wrap .second_row label:first-child{ margin-left:0; }
				
			.inquery_wrap .third_row{ margin-top:20px; text-align:center; }
			.inquery_wrap .third_row .search_btn{ padding-right:10px; padding-left:10px; font-size: 1em; }

		.inquery_result_wrap{ margin-top:40px; }
			.inquery_result_wrap .top_option_wrap{ font-size:0.75em; }
				.inquery_result_wrap .top_option_wrap .count{ font-weight:bold; }
				.inquery_result_wrap .top_option_wrap .button_normal2{ float:right; margin:0 0 10px 5px; background:white; font-size: 0.9em; }
			
			.inquery_result_wrap .inquery_result{ width: 100%; margin-top:10px; border:1px solid #ccc; border-radius:3px; overflow:hidden; }
			.inquery_result_wrap .inquery_result table{ width:100%; text-align:center; font-size:0.75em; }
				.inquery_result_wrap .inquery_result table thead th{ background:#4b73eb; padding:15px 0; color:white; text-align: center; }
				.inquery_result_wrap .inquery_result table thead th:nth-child(1),
				.inquery_result_wrap .inquery_result table tbody td:nth-child(1){ width:10%; }
				.inquery_result_wrap .inquery_result table thead th:nth-child(2),
				.inquery_result_wrap .inquery_result table tbody td:nth-child(2),
				.inquery_result_wrap .inquery_result table thead th:nth-child(3),
				.inquery_result_wrap .inquery_result table tbody td:nth-child(3){ width:17%; }
				.inquery_result_wrap .inquery_result table thead th:nth-child(4),
				.inquery_result_wrap .inquery_result table tbody td:nth-child(4){ width:10%; }
				.inquery_result_wrap .inquery_result table thead th:nth-child(5),
				.inquery_result_wrap .inquery_result table tbody td:nth-child(5){ width:13%; }
				.inquery_result_wrap .inquery_result table thead th:nth-child(6),
				.inquery_result_wrap .inquery_result table tbody td:nth-child(6){ width:16%; }
				.inquery_result_wrap .inquery_result table thead th:nth-child(7),
				.inquery_result_wrap .inquery_result table tbody td:nth-child(7){ width:16%; }
			
			.inquery_result_wrap .inquery_result table tbody tr:hover td{ background:#f9f9f9; }
			.inquery_result_wrap .inquery_result table tbody td{ padding:15px 0; border-bottom:1px solid #ddd; background:white; }
			.inquery_result_wrap .inquery_result table tbody td:first-child{ padding:3px; }

/* 반응형 속성 제거 */
/*			
@media screen and (max-width: 1200px) {
	.inquery_wrap .second_row label { display: table-cell; padding: 5px 0; }
	.inquery_wrap .second_row input { width: 100%; }	
}
*/
/* adm5000 */

/* amd8000 */
.adm8000TitleTd {width: 1230px; min-height: 170px; padding: 15px;  font-size: 0.75em; background: #fff;  border: 1px solid #ccc;display: inline-block; }
.adm8000LeftDiv {
    display: inline-block;
    width: 300px;
    border: 1px solid #ccc;
    float: left;
    background-color: #fff;
    margin-right: 6px;
    padding: 15px;
}
.adm8000HoliInsertBtn:hover,
.adm8000HoliInsertBtn:hover > i {
	background-color: #4b73eb;
    color: #fff;
}
.adm8000HoliInsertBtn {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.adm8000HoliInsertBtn > i {
    color: #4b73eb;
}
.adm8000HoliDeleteArea {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 170px;
    line-height: 40px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    margin-top: 5px;
    color: #424242;
    padding: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
span.adm8000HoliDragDelete {
    font-size: 12px;
    display: block;
}
/* amd8000 */
span#licUserCurrentCnt.userLimitOver {
    color: red;
}

/* adm9100 */
.adm9100HeaderFrame {
    margin: 0 auto;
    width: 80%;
    padding: 30px 0;
}
.adm9100TitleDiv {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}
.adm9100TitleDiv > h1 {
	font-weight: 700;
    font-size: 3rem;
    margin-right: 10px;
    margin-top: 5px;
    color: #343d3e;
    vertical-align: top;
}
.adm9100TitleDiv > .licenseLogo {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 5px;
    text-align: right;
}

.adm9100ContentDiv {
    padding: 1.5rem 0;
    background-color: #f7f8fa;
}
.adm9100Items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 80%;
    margin: 0 auto;
}
.adm9100Item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
}
span.adm9100ItemTitle {
    background-color: transparent;
    padding: 10px 10px 10px 0;
    border-top: none;
    font-weight: 700;
    font-size: 1.1rem;
    color: #414352;
}
span.adm9100ItemText {
    font-size: 11pt;
    font-weight: bold;
    color: #3c3e4b;
    padding: 10px 0;
	overflow: auto;
    max-width: 1000px;
}
.adm9100ActoinBtn{
    width: 120px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: .1875rem;
    box-shadow: 1px 1px 1px #ccd4eb;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-size: 14px;
}
input.adm9100ItemInput {
    width: 1000px;
    height: 27px;
    margin-top: 6px;
}