@charset "UTF-8";

.content-wrapper {
    /* min-height: 100%; */
    /* background-color: #ECF0F5; */
    z-index: 800;
    transition: transform 0.3s ease-in-out 0s, margin 0.3s ease-in-out 0s;
    margin-left: 0px;
    z-index: 820;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.box.box-solid {
    border-top: 0px none;
}

.box {
    background: #FFF none repeat scroll 0% 0%;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 3px;
}

.box-header {
    border-bottom: 1px solid #F4F4F4;
    color: #444;
    display: block;
    padding: 10px;
    position: relative;

}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0px;
    line-height: 1;
}

h2 {
    font-size: 30px;
}

.box-body {
    border-radius: 0px 0px 3px 3px;
    padding: 10px;
}

.external-event {
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: move;
}

.bg-green {
    background-color: #00A65A !important;
    color: #FFF !important;
}

.bg-yellow{
    background-color: #F39C12 !important;
    color: #FFF !important;
}

.bg-aqua {
    background-color: #00C0EF !important;
    color: #FFF !important;
}

.bg-light-blue {
    background-color: #3C8DBC !important;
    color: #FFF !important;
}

.bg-red {
    background-color: #DD4B39 !important;
    color: #FFF !important;
}

.col-md-9 {
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.box.box-primary {
    border-top-color: #3C8DBC;
}
.box {
    background: #FFF none repeat scroll 0% 0%;
    border-top: 3px solid #D2D6DE;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 3px;
}

.no-padding {
    padding: 0px !important;
}
.box-body {
    border-radius: 0px 0px 3px 3px;
    padding: 10px;
}
.box-body .fc {
    margin-top: 5px;
}

body .fc {
    font-size: 1em;
}
.fc {
    direction: ltr;
    text-align: left;
}

.fc-toolbar {
    padding: 10px;
    margin: 0px;
    text-align: center;
    margin-bottom: 1em;
}

.fc-toolbar .fc-left {
    float: left;
}

.fc .fc-toolbar > * > :first-child {
    margin-left: 0px;
}
.fc .fc-toolbar > * > * {
    float: left;
    margin-left: 0.75em;
}
.fc-button-group {
    display: inline-block;
}
* {
    box-sizing: border-box;
}
.fc-toolbar {
    text-align: center;
}

body .fc {
    font-size: 1em;
}
.fc {
    direction: ltr;
    text-align: left;
}

.fc-view, .fc-view > table {
    position: relative;
    z-index: 1;
}
.fc-view-container *, .fc-view-container *::after, .fc-view-container *::before {
    box-sizing: content-box;
}

.fc-view, .fc-view > table {
    position: relative;
    z-index: 1;
}
.fc table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 1em;
}
.fc-view-container *, .fc-view-container *::after, .fc-view-container *::before {
    box-sizing: content-box;
}
table {
    background-color: transparent;
}