@charset "UTF-8";
.required_info { 
	color: red; 
}
.pop_menu_col1_long1 { 
	width:40% !important; 
}
.pop_menu_col2_long2 { 
	width:60% !important; 
}
.btn_div {
	margin-top: 20px !important; 
}
div#layoutOptionContents {
	border: 1px solid #ededed;padding: 5px 0;
}
div#dragandrophandler {
	border: 1px solid #ccc !important;position: relative;padding: 2px;
}
.input_content {
	height: 300px !important;
}
.pop_sub .pop_menu_oneRow:first-child{
	border-top: 1px solid #ddd;
}
/* 상세보기 첨부파일 영역 */
.fileListBox {
    margin-top: 0px !important;
    max-height: 140px;
    min-height: 140px;
    color: rgba(55, 49, 58, 0.5);
    overflow-y: auto;
    border: 1px solid #ccc;
}

.pop_sub_bad{
	padding: 17px !important;
	display: inline-block;
}
.pop_sub_bad .div_sub_left{
	float:left;
	/* width: 585px; */
	width: 53%;
	height: 617px;
	border: 1px solid #ccc;
	padding: 8px;
	margin-right: 10px;
}
.pop_sub_bad .div_sub_right{
	display: inline-block;
	float:left;
	/* width: 550px; */
	width: 46%;
	height: 617px;
	border: 1px solid #ccc;
    padding: 7px 8px;
}

.pop_sub textarea:disabled, .pop_sub input[readonly] {
	background-color: #fff !important;
}

.bad_right_title{
	width:100%;
    font-weight: bold;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 6px 5px;
    height: 35px;
    position: relative;
    text-align: left;
    font-size: 10pt;
    margin-bottom: 3px;
    line-height: 20px;
}

.bad_right_content{
	height: 489px;
	border: 1px solid #ccc;
	margin-bottom: 4px;
	overflow-y: auto;
}

.bad_right_content_input{
	height: 71px;
}

.bad2002_cmt_desc{
	height: 100% !important;
	width: 90% !important; 
	float: left;
	margin-right: 5px;
}

.bad2002_cmt_desc_reply{
	width: 88% !important; 
}

.bad2000_btn_cmt{
	float: left;
	height: 71px;
    line-height: 67px;
    font-weight: bold;
}

.bad2000_btn_cmt_reply{
	height: 34px;
    line-height: 33px;
    margin-bottom: 3px;
    width: 53px;
}

.bad3202_cmt_desc{
	height: 100% !important;
	width: 90% !important; 
	float: left;
	margin-right: 5px;
}

.bad3202_cmt_desc_reply{
	width: 88% !important; 
}

.bad3200_btn_cmt{
	float: left;
	height: 71px;
    line-height: 67px;
    font-weight: bold;
}

.bad3200_btn_cmt_reply{
	height: 34px;
    line-height: 33px;
    margin-bottom: 3px;
    width: 53px;
}

.bad_right_content .wrtCmtDiv:first-child{
	margin-top: 3px;
}

/* 댓글 영역 */
.wrtCmtDiv{
    display: inline-block;
    min-width: 100%;
    /* margin: 5px 0; */
    padding: 5px;
}

.wrtCmtTitle{
	display: block;
    width: 100%;
    height: 30px;
    line-height: 32px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0 .1875rem 0 0;
    border-bottom: 0;
    background-color: #f9f9f9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrtCmtBtnDiv{
	float: right;
    margin-right: 6px;
    margin-top: 3px;
    padding: 0px 3px 0 3px;
    /* border: 1px solid #ccc; */
    height: 25px;
    line-height: 24px;
    color: #6b6b6b;
}

.wrtCmtBtnDiv:hover{
	cursor: pointer;
    background-color: #7882a0;
    color: #fff;
}

span.cmtWriter{
    display: inline-block;
    min-width: 150px;
    border-right: 1px solid #ccc;
    margin-right: 15px;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
}

.cmtWriter:hover {
    cursor: pointer;
    background-color: #515769;
    color: #fff;
}

/* 댓글 등록일시 */
.wrtCmtDtm{
	border: 1px solid #ccc;
    border-top: 0;
    padding: 11px 0 5px 5px;
    text-align: left;
    color: #9a9898;
}

.wrtCmtContent{
	display: inline-block;
    min-width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 .1875rem .1875rem;
    padding: 10px 8px 5px 8px;
    text-align: left;
    white-space: nowrap;
    border-bottom: 0;
    line-height: 15px;
}

.cmt_disply_none{
	display:none !important;
}

.cmtReplyIcon{
	padding-left: 5px; 
	padding-top: 2px; 
	font-size: 13px; 
	-ms-transform: rotate(180deg); 
	-webkit-transform: rotate(180deg); 
	transform: rotate(180deg);
}

.cmtReply{
	min-width: 96% !important;
    margin-left: 17px;
}
