@charset "UTF-8";

/* 체크박스 */
.chk_chk { position: relative; text-overflow: clip; }
.chk_chk input[type="checkbox"] { width:18px; height:18px; left:calc(50% - 9px); margin:0; opacity: 0; position: absolute; z-index: 2; }
.chk_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; }
.chk_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }
/* 체크박스 */
/* 
 * .tab_contents.menu
 *   - max-width: 1500px; width:100%제거
 *   - 화면크기 변경되도 사이즈 고정되도록 하기위해  width:1500px; 으로 고정 
 */
.tab_contents.menu { display: inline-block; width: 1280px; height: auto; padding: 20px; background: #fff; border-radius: .1875rem; border: 1px solid #ccc; }

/*req_right_box*/
	.req_right_table_wrap{position: absolute;top: 60px;right: 0;z-index: 101;width:24.5%;background-color:#fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;transition:all .2s;}
	.req_right_fileListDiv {height: 117px;overflow-y: auto;border: 1px solid #ccc;padding: 1px;}
	.slideBox {transition:all .2s;position: absolute;right: calc(24.5% - 20px);top: 62px;width: 40px;height: 50px;background-color: #fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;text-align: center;line-height: 40px;cursor: pointer;z-index: 102;}
	.slideBox > img {width: 15px;vertical-align: middle;transform: rotate(180deg);}
	.req_right_table_wrap.on{transform: rotateY(90deg);right:-24.5%;display:none;}
	.slideBox.on {right:0; }
	.slideBox > img.on {transform: rotateY(0);}
	.req_right_box{width:100%;}
		.req_right_topheader{width: 100%;padding: 27px 0;border-bottom: 1px solid #ddd;padding-left: 40px;}
			.req_right_header_title{line-height:1.5; font-size:0.75em;}
		
		.req_right_contents{float:left; width:100%;border-bottom: 1px solid #ddd;padding:17.5px 19px; font-size:0.75em;}
			.r_r_c_line{margin-bottom: 10px;width: 100%; float: left;}
				.r_r_c_left{display:inline-block; width:30%; float:left;}
				.r_r_c_right{display:inline-block; width:70%; float:left;}
			.r_r_c_line:last-child{margin-bottom:0px;}
			
		.req_contents_box{border:1px solid #ddd; width:100%; height:40px; padding:10px; box-sizing:border-box; margin-bottom:18px; overflow-y:auto; overflow-x:auto; resize:none;}
		.req_contents_box:last-child{margin-bottom:0px;}
		.save_wrap{text-align:center;}
		.save_wrap input{min-width: 50px;font-size:0.9em}
		
	.comment_wrap { width: 100%; height: 100px; padding:0 14px; margin-bottom: 17px; background:#f9f9f9; overflow: auto; border:1px solid #ccc; }
		.comment_list { padding:16px 0; border-bottom: 1px dashed #ccc; }		
		.comment_list:last-child { border: none; }
			.comment_user { font-size: 1em; color: #333; }
			.comment_date { font-size: 0.8em; color: #999; }
			.comment_contents { font-size: 0.95em; color: #666; margin-top: 5px; line-height: 16px; white-space:normal; word-break: break-all; display:inline-block; }
		
/*req_right_box*/	
/* chk1000 */
.tab_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }

	.chk_table_wrap { width: 100%; max-width: 1280px; float: left;}
		.btn_box {margin-bottom:10px;float:left;text-align:center;}
			.button_normal2 { min-width: 44px; background: #fff; font-size: 0.95em; }
	
		.chk_left_table_wrap { float: left; width: 73.5%; margin-right: 2% }
		.chk_right_table_wrap { float: left; width: 24.5%; height: 100%; margin-top: 38px; background-color: #fff; border: 1px solid #4badeb; border-radius: 5px; font-size: 1.3em; }
		
			.chk_table { float: left; width: 100%; table-layout: fixed; word-break: break-all; border: 1px solid #ccc; }
			.chk_table table { width: 100%; float: left; overflow: hidden; }
				.chk_thead { height: 45px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #6f8fef; }
				.chk_td { height: 40px; text-align:center; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
					.chk_table tbody tr { background: #fff; }
					.chk_table tbody tr:hover { background: #f9f9f9; }
	
					.search_td { text-align:center; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; overflow: visible; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
	.active_blue{background:#4b73eb !important;color:#fff !important;}
	.chk_right_box { width: 100%; }
		.chk_right_topheader { width: 100%; padding: 27px 22px; border-bottom: 1px solid #ccc; }
			.chk_right_header_title { line-height: 1.5; font-size: 0.75em; }
		
		.chk_right_contents { float: left; width: 100%; border-bottom: 1px solid #ccc; padding: 17.5px 19px; font-size: 0.75em; }
			.r_r_c_line { float: left; width: 100%; margin-bottom: 10px; }
				.r_r_c_left { display:inline-block; float: left; width: 40%;min-width:100px; }
				.r_r_c_right { display:inline-block; float: left; width: 60%; }
			.r_r_c_line:last-child { margin-bottom: 0px; }
			
		.chk_contents_box { border: 1px solid #ccc; width: 100%; height: 160px; padding: 10px; margin-bottom: 18px; box-sizing: border-box; overflow: hidden; resize: none; }
		.chk_contents_box:last-child { margin-bottom: 0px; }
			.mb10 { margin-bottom: 10px; }
			.mb20 { margin-bottom: 20px; }
		/* 테이블 페이징 */
.page_table {
	width: 100%;
	float: left;
	height: 93px;
	padding-top: 36px;
	padding-bottom: 24px;
	text-align: center;
	font-size: 0.75em;
	background: #fff;
	border-top: transparent;
}

.page_table .direction {
	padding: 3px 5px;
	border: 1px solid #cccccc;
	vertical-align: -webkit-baseline-middle;
	margin-left: -5px;
}

.page_table .num_box {
	margin-right: 5px;
}

.page_table .direction_num {
	padding: 5px 8px;
	vertical-align: -webkit-baseline-middle;
	border: 1px solid #cccccc;
}

.prev_box, .next_box {
	display: inline-block;
	margin-right: 5px;
}

.page_num {
	display: inline-block;
}

.direction_num.active {
	border: 1px solid #cccccc;
	color: #fd0303;
	font-weight: bold;
}
/* 테이블 페이징 */
/* 반응형 속성 제거 */
/*
@media screen and (max-width:1100px){
	.chk_left_table_wrap { width: 100%; margin-bottom: 20px; }
	.chk_right_table_wrap { width: 100%; border: 1px solid #4badeb; }
		.chk_right_box { margin-top: 0px; background-color: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
			.r_r_c_left { width: 21%; }
			.r_r_c_right { width: 79%; }	
}
*/
/* chk1000 */

/* chk1100 */
.chk_txtbox { width: 100%; height: 68px; padding: 10px; margin-bottom: 18px; box-sizing: border-box; overflow: hidden; resize: none; border: 1px solid #ccc; }
.chk_txtbox_size { width: 100%; height: 63px; padding: 10px; margin-bottom: 5px; box-sizing: border-box; overflow: hidden; resize: none; border: 1px solid #ccc; }
	.btn_ok,
	.btn_no { width: 100%; margin-bottom: 18px; font-size: 1em; }
/* chk1100 */