@charset "UTF-8";
 
label[for='GNB_project_select'],
label[for='m_project_select'],
label[for='header_select'],
label[for='pop_select_box']{ display:none; }

.flowCircle {width: 10px;height: 10px;background: black;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;margin-right: 10px;float: left;}
.flowCircleTop{width:20px;height:10px;background-color:#fff;float:left;}
.btn_box{float:right;text-align:center;}

/* 개발 주기 */
.dev_cycle_wrap {width: calc(100% - 301px); min-height: 277px; padding: 20px; border: 1px solid #ddd; background: #fff; float: left; border-radius: 5px; }
.dev_cycle_wrap .first_wrap { width: 20%; border-right: 1px solid #ddd; min-height: 236px; height: auto; padding-right: 20px; float: left; }
.dev_cycle_wrap .second_wrap { width: 20%; border-right: 1px solid #ddd; min-height: 236px; height: auto; padding-right: 20px; float: left; margin-left: 2%; margin-right: 2%; }
.dev_cycle_wrap .third_wrap { width: 25%; float: left; border-right: 1px solid #ddd;min-height: 290px; height: auto;padding-right: 20px; margin-left: 2%;margin-right: 2%;border-top:none;padding-top:0%;}
.dev_cycle_wrap .five_wrap { width: 25%; float: left; min-height: 290px;height: auto; margin-left: 2%;border-top:none; padding-top:0%;}
.dev_cycle_wrap .title { font-size: 1em; padding-bottom: 30px; }

ul.leaders { max-width: 40em; padding: 0; overflow: hidden; list-style: none; font-size: 0.8em; }
ul.leaders li { padding-bottom: 23px; font-weight:normal; }
ul.leaders li:before { float: left; width: 0; margin-top: -3px; white-space: nowrap; content: "...................." "...................." "...................." "...................." "...................." "...................." }
ul.leaders span+span { float: right; padding-left: 0.5em; padding-right: 0; background: #fff; font-size: 1.2em; font-weight: bold; }
ul.leaders span { background: #fff; padding-right: 0.5em; margin-left: -5px }
ul.leaders img { padding-right: 5px; background: #fff; }

tr:nth-child(2n) { border: none; }

svg { max-width: 100%; }

.left_no_margin { margin-left: 0px !important; }
/* cmm1000 */
/* 체크박스 */
.cmm_chk { position: relative; }
.cmm_chk input[type="checkbox"] { width:18px; height:18px; left:calc(50% - 9px); margin:0; opacity: 0; position: absolute; z-index: 2; }
.cmm_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; }
.cmm_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }
/* 체크박스 */
	
	/* */
	.sod_select {border:1px solid #ddd !important; padding:0px 10px !important; height:28px; line-height:28px !important;}
	.sod_select:after{bottom:0px !important;}
	.sod_select .sod_option{padding:0px 10px !important; line-height:28px; height:28px; float:inherit !important;}
	
	.user_pop_wrap{width:1024px; height:768px;}
			.pop_header{background-color:#0f73d0; font-size:14px; /*font-size:0.8em*/ color:#fff; height:44px; line-height:44px; padding:0 15px;}
			.pop_contents_wrap{padding:20px 15px;}
				.pop_first_wrap{padding:37px 30px; background-color:#f9f9f9; border:1px solid #ddd; margin-bottom:35px;}
					.pop_first_wrap span{ display: inline-block; vertical-align: top; }
					.first_contents_line span{display:inline-block; }
						.button_normal{border-radius:1px; width:44px !important; height:28px !important; line-height:28px !important; box-sizing:border-box; text-align:center; border:1px solid #ddd; border-radius:0 !important;}
						.pop_select_box {width:126px; height: 28px; line-height: 28px; margin-right:5px; float:left;}
						.pop_select_box select{width:100%; height:100%;}
						input[type=text].pop_input{float:left;padding:0 5px;font-size:0.7em; width:750px; height:28px; line-height:28px; float:left; margin-right:5px; border:1px solid #ddd; box-sizing:border-box;}
	/* */
	.cmm_table {border-collapse: collapse;text-align: center;background: #fff;margin: 0px auto;border: 1px solid #cccccc;border-left:none;border-right:none;vertical-align: middle;width:100%;}
		.cmm_table td { height: 40px; line-height:40px !important; vertical-align: middle; }
		.back_color { background: #f9f9f9; height: 38px; line-height:38px; }
		/* table  table */
		/* div  table */
		.div_table { display: inline-block; width: 100%; margin: 1% auto; text-align: center; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; }
			.table_top { border-top: 1px solid #cccccc; }
			.table_bottom {  }
				.top_back { background: #f9f9f9; height: 18px; padding: 4px 0; }
				.bottom_back { height: 18px; padding: 14px 0; }
				.fl { float: left; border-bottom: 1px solid #cccccc; }
			.pcr_s_notice{margin-bottom:40px;}
		table.scrollTable { width: 100%; border: 1px solid #ddd; }
		thead { background-color: #eee; }
		thead th { text-align: center; }
		tbody td { border-top: 1px solid #eee; }
		tbody tr.odd td { background-color: #f9f9f9; }
		.cmm_table .st-body-scroll{max-height:370px !important; overflow-x:hidden;}
		.cmm_table .st-head{}
		.pop_button_box{text-align:center; margin-top:40px; width:100%;}
			.pop_c_button{font-weight:bold;cursor:pointer;font-size:0.85em;border-radius:3px;display:inline-block; width:71px; height:41px; line-height:41px; background-color:#4b73eb; color:#fff; border:1px solid #345bd0; text-align:center; margin-right:10px;}
			.pop_button{font-weight:bold;cursor:pointer;font-size:0.85em;border-radius:3px;display:inline-block; width:71px; height:41px; line-height:41px; background-color:#fff; border:1px solid #ddd; text-align:center;}
.sod_select { height: 28px; padding: 0px 10px !important; line-height: 28px !important; border:1px solid #ddd !important; }
.sod_select:after { bottom: 0px !important; }
.sod_select .sod_option { float: inherit !important; height: 28px; padding: 0px 10px !important; line-height: 28px; }

.user_pop_wrap { width: 1024px; height: 768px; }
	.pop_header { height: 44px; padding: 0 15px; line-height: 44px; background-color: #0f73d0; font-size: 14px; color: #fff; }
	.pop_contents_wrap { padding: 20px 15px; }
		.pop_first_wrap { padding: 37px 30px; margin-bottom: 35px; background-color: #f9f9f9; border: 1px solid #ddd; }
			.first_contents_line span { display: inline-block; }
				.button_normal { width: 44px !important; height: 28px !important; line-height: 28px !important; border-radius: 1px; box-sizing: border-box; text-align: center; border: 1px solid #ddd; border-radius: 0 !important; }
				.pop_select_box { float: left; width: 126px; height: 28px; margin-right: 5px; line-height: 28px; }
				.pop_select_box select { width: 100%; height: 100%; }
				input[type=text].pop_input { float: left; width: 750px; height: 28px; padding: 0 5px; font-size: 0.7em; line-height: 28px; margin-right: 5px; border: 1px solid #ddd; box-sizing: border-box; }
.common_table { width: 100%; margin: 0px auto; border-collapse: collapse; text-align: center; background: #fff; border: 1px solid #ccc; border-left: none; border-right: none; vertical-align: middle; }
	.common_table td { height: 40px; line-height: 40px !important; vertical-align: middle; }
	.back_color { background: #f9f9f9; height: 38px; line-height: 38px; }

	.div_table { display: inline-block; width: 100%; margin: 1% auto; text-align: center; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; }
		.table_top { border-top: 1px solid #cccccc; }
		.table_bottom {  }
			.top_back { background: #f9f9f9; height: 18px; padding: 4px 0; }
			.bottom_back { height: 18px; padding: 14px 0; }
			.fl { float: left; border-bottom: 1px solid #cccccc; }
		.pcr_s_notice{margin-bottom:40px;}
	table.scrollTable { width: 100%; border: 1px solid #ddd; }
	thead { background-color: #eee; }
	thead th { text-align: center; }
	tbody td { border-top: 1px solid #eee; }
	tbody tr.odd td { background-color: #f9f9f9; }
	.st-body-scroll { max-height: 370px !important; overflow-x: hidden; }
	.pop_button_box { width: 100%; margin-top: 40px; text-align: center; }
		.pop_button,
		.pop_c_button { display: inline-block; width: 71px; height: 41px; line-height: 41px; text-align: center; font-weight: bold; font-size: 0.85em; border-radius: 3px; cursor: pointer; }
		.pop_button { background-color: #fff; border: 1px solid #ddd; }
		.pop_c_button { background-color: #4b73eb; color: #fff; border: 1px solid #345bd0; margin-right: 10px; }
		
/*cmm3000*/
	.header_img { width: 100%; margin-bottom: 40px; text-align: center; }
		.join_box_wrap { width: 100%; margin-bottom:40px; text-align: center; }
		/* 라이센스 회원가입 있을시 */
		/* .join_box_wrap { margin-bottom: 40px; }
		.join_box_wrap { float: left; margin-bottom: 40px; } 
		.join_box:first-child { margin-right: 20px; }
		.join_box { position: relative; width: 280px; height: 282px; background-color: #fff; text-align: center; border: 1px solid #ddd; border-radius: 2px; box-sizing: border-box; } */			
		
		.join_box { position: relative; width: 280px; height: 282px; margin-left: 140px; background-color: #fff; border: 1px solid #ddd; border-radius: 2px; box-sizing: border-box; }				
			.join_header { margin-bottom: 46px; }
			.join_header_l { float: left; width: 20px; height: 7px; background-color: #0390ad; border-top-left-radius: 1px; }
			.join_header_r { float: left; width: 258px; height: 7px; background-color: #2fbbde; border-top-right-radius: 1px; }
			.l_join_header { float: left; width: 258px; height: 7px; background-color: #5eb63b; border-top-left-radius: 1px; }
			.r_join_header { float: left; width: 20px; height: 7px; background-color: #a0c916; border-top-right-radius: 1px; }
			.center_img { width: 100%; text-align: center; margin-bottom: 20px; }
			.join_bold_text { width: 100%; margin-bottom: 23px; font-size: 20px; text-align: center; font-weight: bold; }
			.join_text { text-align: center; font-size: 12px; }
			.join_btn_box { position: absolute; left: 50%; bottom: 17px; margin-left: -38px; text-align: center; }
			.join_button { width: 76px; height: 29px; line-height: 29px; border: 0; font-weight: bold; color: #333; font-size: 12px; cursor: pointer; }

/*cmm3100*/
.join_wrap { position: absolute; top: 48px; left: 50%; width: 462px; overflow: hidden; margin-left: -231px; }	
	.header_img { width: 100%; margin-bottom: 20px; text-align: center; }
	.agree_box_wrap { float: left; width: 100%; margin-bottom:20px; }
		.join_border { height: 578px; background-color: #fff; box-sizing: border-box; border:1px solid #ddd;  border-radius:3px;}
		.header_line { float: left; width: 100%; padding: 20px; margin-bottom: 30px; line-height: 1.3; border-bottom: 1px solid #ddd; }
		.lc { float: left; width: 396px; font-size: 14px; color: #333; font-weight: bold; }
		.rc { position: relative; }
		.rc input[type="checkbox"] { position: absolute; width: 24px; height: 24px; top: 0; left: 0; opacity: 0; z-index: 2; }
		.rc input[type="checkbox"]+label { display: inline-block; width: 24px; height: 24px;line-height: 24px;font-size :16px; vertical-align: middle; cursor: pointer; z-index: 1; background: url('/images/login/radio.png') no-repeat; }
		.rc input[type="checkbox"]:checked + label { display: inline-block; width: 24px; height: 24px; line-height: 24px; vertical-align: middle; cursor: pointer; background: url('/images/login/radio_on.png') no-repeat; }
	
	.join_notice { float: left; width: 100%; padding:0 20px; }
	.join_footer { float: left; width: 100%; height: 51px; line-height: 51px; text-align: center; font-size: 11px; border-top: 1px solid #ddd; }
	.textarea_wrap { margin-top: 14px; padding-bottom: 20px; border-bottom: 1px solid #ddd; margin-bottom: 20px; }
	textarea { resize: none; }
	.terms { width: 100%; height: 140px; padding: 7px; overflow-x: hidden; color: #666; font-size: 12px;}
    .agree_btn_box{float:left; margin-top:20px; margin-bottom:80px;}
    
    .join_form_wrap { margin-bottom: 20px; float: left; width: 100%; }
    	.join_form_border { height: 477px; padding: 20px; box-sizing: border-box; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; }
    		.input_type { float: left; width: 100%; height: 42px; padding: 0px 8px !important; line-height: 42px; border: 1px solid #ddd }
    		.input_type2 { float: left; width: 308px; height: 42px; padding: 0px 8px !important; margin-bottom: 5px; margin-right: 5px; line-height: 42px; border: 1px solid #ddd; }
    		.input_type placeholder { font-size: 14px; color: #999; }
    		.input_under_text { margin-bottom: 15px; padding-left: 15px; font-size: 11px; color: #999; }
    		.input_under_text_b { display: none; padding-left: 15px; font-size: 11px; color: #4b73eb; margin-bottom: 15px; }
    		.input_under_text_r { display: none; padding-left: 15px; font-size: 11px; color: #ff0000; margin-bottom: 15px; }
    		.button_email { display: inline-block; width: 106px; height: 42px; line-height: 42px; color: #666; text-align: center; background-color: #f9f9f9; border-radius: 3px; border: 1px solid #ddd; }		   
   
    .button_agree { display: inline-block; width: 225px; height: 51px; font-weight: bold; line-height: 51px; text-align: center; color: #fff; font-size: 0.85em; border-radius: 5px; box-shadow: 1px 1px 1px #a7adc0; margin: 0 auto; border: 1px solid #345bd0; cursor: pointer; background-color: #4b73eb; margin-right:10px; }
	.button_agree_cancel { display: inline-block; width: 225px; height: 51px; font-weight: bold; line-height: 51px; text-align: center; color: #333; font-size: 0.85em; border-radius: 5px; box-shadow: 1px 1px 1px #a7adc0; margin: 0 auto; border: 1px solid #bbb; cursor: pointer; background-color: #fff; }

/* cmm4001 */
/* 아이디 찾기창 */
.pop_bottom_id { display: inline-block; padding: 20px; }

/* 비밀번호 찾기창 */
.pop_bottom_pwd { display: none; padding: 20px; }

/* 아이디/비밀번호 탭 클릭 시 */
.active { font-weight: bold !important; color: #f6f6f6 !important; background: #1d87ea !important; border: 1px solid #1d87ea !important; }

.pop_wrap { display: inline-block; position: absolute; width: 540px; height:100%; left: 0; right: 0; margin: 0 auto; background: #fff; border-radius: 5px; text-align: center; }
	.pop_bottom { display: none; padding: 20px 0; }
	.pop_common { width: 100%; height: 51px; padding: 14px 0 0px 20px; font-size: 1.05em; font-weight: bold; text-align: left; background: #f6f6f6; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid #cccccc; }
	
	.find_info_id_div,
	.find_info_pwd_div { display: inline-block; }
		.find_id { float: left; width: 250px; height: 44px; padding: 13px 0; font-size: 0.85em; background: #f6f6f6; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border: 1px solid #cccccc; cursor: pointer; }
		.find_pwd { float: right; width: 250px; height: 44px; padding: 13px 0; font-size: 0.85em; background: #f6f6f6; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border: 1px solid #cccccc; cursor: pointer; }
			
	.find_info_div { display: block; }
		.find_info_title { font-size: 0.7em; margin-top: 19px; margin-bottom: 8px; text-align: left; }
		.inputbox_1 { margin-bottom: 5px; }		
			input[type=text].input_1 { width: 498px; height: 42px; margin-bottom: 5px; padding: 0 20px; border: 1px solid #ccc; box-shadow: none; border-radius: 0; }
			.hiddeninfo_1 { display: none; padding-left: 15px; font-size: 0.7em; color: #ff0000; text-align: left; margin-bottom: 10px; }
		
		.input_2_btn_div { display: inline-block; margin-bottom: 20px; }
			input[type=text].input_2 { width: 385px; height: 42px; margin-bottom: 5px; margin-right: 9px; padding: 0 20px; border: 1px solid #ccc; box-shadow: none; border-radius: 0; }
			input[type=button].input_btn { width: 104px; height: 42px; font-size: 0.75em; margin-bottom: 5px; border: 1px solid #cccccc; border-radius: 3px; background: #f6f6f6; background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 100%); cursor: pointer; }
			.hiddeninfo_2 { display: none; padding-left: 15px; font-size: 0.7em; color: #ff0000; text-align: left; margin-bottom: 10px; }		
		input[type=text].input_4 { width: 498px; height: 42px; padding: 0 20px; border: 1px solid #ccc; box-shadow: none; border-radius: 0; }
		
		.btn_1,
		.btn_3 { width: 82px; height: 42px; margin-top: 8px; font-size: 0.85em; font-weight: bold; color: #f6f6f6; background: #1d87ea; border: 1px solid #0f73d0; border-radius: 3px; cursor: pointer; }		
		.input_common { padding: 13px 0 12px 13px; font-size: 0.85em; border: 1px solid #cccccc; }
		
/* 아이디 찾기 창에서 확인 클릭 후 화면 */
.find_id_div { display: none; padding-top: 100px; font-size: 1em; }
	.find_id_info { font-size: 1em; font-weight: bold; color: #1d87ea; }
	.btn_2 { width: 82px; height: 42px; margin-top: 103px; font-size: 0.85em; font-weight: bold; color: #f6f6f6; background: #1d87ea; border: 1px solid #0f73d0; border-radius: 3px; cursor: pointer; }

/* 비밀번호 찾기 창에서 확인 클릭 후 화면 */
.find_pwd_div { display: none; padding-top: 10px; font-size: 1em; line-height: 2; }
	.find_pwd_info { font-size: 1em; font-weight: bold; color: #1d87ea; }
	.btn_4 { width: 82px; height: 42px; margin-top: 97px; font-size: 0.85em; font-weight: bold; color: #f6f6f6; background: #1d87ea; border: 1px solid #0f73d0; border-radius: 3px; cursor: pointer; }

/* 반응형 속성 제거 */	
/*
@media screen and (max-width: 640px) {
	.pop_common { height: 45px; font-size: 0.95em; }
	
	.pop_wrap { width: 100%; height: auto; }
		.find_id { float: none; width: 100%; border-top-right-radius: 5px; border-bottom-left-radius: 0; }
		.find_pwd { float: none; width: 100%; border-top-right-radius: 0; border-bottom-left-radius: 5px; }
		.find_info_title { font-size: 0.75em; }
	
	.pop_bottom_id { width: 100%; }
	.find_info_id_div, .find_info_pwd_div { width: 100%; }
	
	input[type=text].input_1,
	input[type=text].input_2,
	input[type=button].input_btn,
	.hiddeninfo_2,
	input[type=text].input_4,
	.input_2_btn_div { width: 100%; }
}
*/
/* cmm4001 */

/* cmm5000 */

/* PO화면, 개발주기 상세정보 Style */
#selSprInfo > .spr_title {width: 100%;height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;padding-left: 15px;}
#selSprInfo > .spr_title > span.title {font-size: 1.5em;font-weight: bold;margin-right:15px;}
#selSprInfo > .spr_title > span.title_date{    font-size: 0.8em;font-weight: normal;color: #656363;}
#selSprInfo > .spr_header > .header_top_remark {width: 100%;text-align: center;height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;font-size: 0.9em;}
#selSprInfo > .spr_header > .header_bottom_flowList > .spr_circle { width: 47px; height: 47px; line-height: 47px; border-radius: 50%; display: inline-block; color: #fff; margin: 0 8px; text-align: center; }
#selSprInfo > .spr_header > .header_bottom_flowList > .spr_circle .text { display: inline-block; text-align: center; color: #666; width: 50px; font-size: 0.78em; height: auto; line-height: 1.5; vertical-align: top; }
#selSprInfo > .spr_header > .header_bottom_flowList {width: 100%;height: 95px;border-bottom: 1px solid #ccc;overflow-x: hidden;overflow-y: scroll;padding: 10px 20px 0 20px;text-align: center;}

/* 프로젝트 상세정보 Style */
#selPrjInfo > .prj_title {width: 100%;height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;padding-left: 15px;}
#selPrjInfo > .prj_title > span.title {font-size: 1.5em;font-weight: bold;margin-right:15px;}
#selPrjInfo > .prj_title > span.title_date{    font-size: 0.8em;font-weight: normal;color: #656363;}
.prj_header{height:220px;}
div#header_prjBurnChrtSpr {height: 220px;width: 459px;float: left;padding: 1px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;text-align: center;line-height: 220px;}
div#header_sprFlowChrt {height: 220px;width: 459px;float: left;padding: 1px;border-bottom: 1px solid #ccc;text-align: center;line-height: 220px;}
#selPrjInfo > .prj_body > .body_top_remark {width: 100%;text-align: center;height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;font-size: 0.9em;}
#selPrjInfo > .prj_body > .body_bottom_flowList > .spr_circle { width: 47px; height: 47px; line-height: 47px; border-radius: 50%; display: inline-block; color: #fff; margin: 0 8px; text-align: center; }
#selPrjInfo > .prj_body > .body_bottom_flowList > .spr_circle .text { display: inline-block; text-align: center; color: #666; width: 50px; font-size: 0.78em; height: auto; line-height: 1.5; vertical-align: top; }
#selPrjInfo > .prj_body > .body_bottom_flowList {width: 100%;height: 95px;border-bottom: 1px solid #ccc;overflow-x: hidden;overflow-y: scroll;padding: 10px 20px 0 20px;text-align: center;}

.spr_circle:hover{cursor:pointer;}

.right_contents_layout{display:none;}
.cmm50_top {float:left;width:100%;height: 51px;padding: 13px 20px;background: #4b73eb;color: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;margin-bottom:5px;}
.cmm50_center {float:left;margin-bottom: 10px;}
.cmm50_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }
.cmm50_wrap{max-width:1200px; width:100%; height:100%; font-size:0.85em;display: inline-block;}
.cmm50_left_top {width: 270px;height:305px;background-color: #fff;border: 1px solid #4b73eb;float: left;margin-right:10px;}
.cmm50_left_bottom {width:270px;background-color: #fff;float:left;border: 1px solid #ccc;min-height: 400px;margin-right:10px;}
		.cmm50_l_top { width: 100%; height: auto; padding: 20px; }
			.cmm50_l_t_img { float: left; width: 60px; height: 60px; margin-right: 10px; border: 1px solid #ccc; }
			
		.cmm50_l_middle { display: inline-block; width: 100%; height:auto; padding: 20px; border-bottom: 1px solid #ccc;}
			.cmm50_l_m_sub { width: 100%; height: calc(100% / 2); padding: 4px 0; }
				.cmm50_text_circle { padding: 0px 3px; margin-left: 10px; background: #0f73d0; font-size: 0.85em; color: #fff; border: 1px solid #0f73d0; border-radius: 3px; }
				.cmm50_text_num { color: #0f73d0; font-weight: bold; margin-left: 10px; }
				
		.cmm50_right_top { float: left; width: calc(100% - 301px); height: 51px; padding: 13px 20px; margin-bottom: 10px; background: #4b73eb; color: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
			.cmm50_r_t_ymd { font-size: 1.7em; font-weight: bold; margin-right: 10px; }
			.cmm50_r_t_date { font-size: 0.95em }
		.cmm50_dday_title{font-weight:bold;color:red;font-size:2em;}
.cmm50_middle {float: left;width: 460px;height: 245px;background-color: #fff;padding-top: 15px;border:1px solid #ccc;}
.cmm50_middle > .title{color: #333;font-size: 1em;font-weight: bold;line-height: 1.3;margin: 2px;text-align: center;height: 16px;}
.cmm50_top > .title{font-size: 1.5em;font-weight: bold;line-height: 1.3;margin: 2px;text-align: center;}
.cmm50_middle > #prjBurnChrtSprDiv{height:207px;text-align: center;line-height: 207px;}
.cmm50_middle > #sprFlowChrtDiv{height:207px;text-align: center;line-height: 207px;}
.cmm50_req_top {width: 920px;float: left;height: 30px;border: 1px solid #ccc;border-top:0;text-align:center;background-color: #fff;line-height: 30px;text-align: center;}
.cmm50_req_bottom {width: 920px;height:30px;line-height:30px;border: 1px solid #ccc;border-top:0;text-align:center;background-color: #fff;float: left;}
.cmm50_right_bottom {width:920px;float:left;min-height: 400px;border: 1px solid #ccc;background-color:#fff;}
.menu_lists_wrap {overflow: auto;max-height: 900px;}
.cmm50_top > span.foldBtn {float: right;width: 35px;height: 35px;text-align: center;border: 1px solid #fff;margin-top: -5px;padding-top: 2px;}
.cmm50_top > span.foldBtn:hover{cursor:pointer;color:#4b73eb;background-color:#fff;}
/*작업흐름 진행율 범례*/
#bar_graph {width: 100%;clear: both;float: left;}
#bar_graph > span {display: inline-block;text-align: center;height: 25px;line-height: 25px;color: #fff;}
.remarkDiv{font-size: 0.9em;line-height: 30px;}
.remarkSpan{margin-right: 8px;}
.flowColor{width:10px;height:10px;background-color:#FFF;border:0;}

.menu_ctrl_btn_wrap{ padding:0 10px; height:35px; line-height:35px; border-bottom:1px solid #ccc;text-align: center;font-weight: bold;}
.menu_ctrl_btn_wrap .menu_expand_all{ display:inline-block; vertical-align:middle; margin-right:5px; width:17px; height:17px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
.menu_ctrl_btn_wrap .menu_collapse_all{ display:inline-block; vertical-align:middle; width:17px; height:17px; background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
.menu_ctrl_btn_wrap .menu_all_wrap{ float:right; height:100%; }
			
.left_margin { position: relative; margin-left: 301px; }
		.cmm50_r_middle { float: left; width: calc(100% - 301px); margin-bottom: 40px; font-size: 1.2em; background: #fff; border: 1px solid #ccc; border-radius: 5px; }
			.cmm50_r_m_t{ float:left; width:100%; height:55px; border-bottom:1px solid #ddd;}
				.cmm50_r_m_t_left{float:left; width:33%; padding:11px 22px;}
				.cmm50_r_m_t_left .title{color:#333; font-size:1em; font-weight:bold; line-height:1.3;}
				.cmm50_r_m_t_left .gray_text{color:#999; font-size:0.65em; line-height:1.1;}
				
				.cmm50_r_m_t_right{float:left; width:67%; padding:15px 20px;}
				.cmm50_r_m_t_right	.bar_graph{width: 100%; float: left;}
									.bar_graph > span{display:inline-block;text-align:center;height:25px;line-height:25px;color:#fff; font-size:0.65em;}
									.bar_graph > span:first-child{border-radius:25px 0 0 25px;}
									.bar_graph > span:last-child{border-radius:0 25px 25px 0;}
			.cmm50_r_m_in {position:relative; overflow:hidden; float: left; width: 33%; padding:0 22px; border-right: 1px solid #ccc; }
			.cmm50_r_m_in .title{color:#333; font-size:0.75em; font-weight:bold; padding-top:18px;}
/* 			.cmm50_r_m_in .Nwagon_column{position:absolute; width:248px; left:0px; top:0px;} */
			
			.cmm50_r_m_in_right {position:relative; overflow:hidden; float: left; width: 67%; padding:18px 22px;}
			.cmm50_r_m_in_right .title{color:#333; font-size:0.75em; font-weight:bold; margin-bottom:22px;}
			.cmm50_r_m_in_right .box_wrap{float:left; width:100%;}
			.cmm50_r_m_in_right .box_wrap .box{ float:left; border:1px solid #ddd; width:calc(96% / 4 ); height:40px; line-height:40px; background:#eaeef1; margin-right:1%; text-align:center; font-size: 0.65em; margin-bottom:1%;}
			
	.cmm50_bottom_left { display: inline-block; position: absolute; width: 200px; height: 312px; padding: 20px; background: #f9f9f9; font-size: 1.2em; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	
	.cmm50_bottom_right { height: 100%;background: #fff; font-size: 1.1em;width:100%;}
		.cmm50_b_r_div { padding-top: 42px; padding-bottom: 46px; border-bottom: 1px solid #ccc; }
			.cmm50_b_r_Title { float: left; width: 75px; font-size: 0.85em; }
			
			.graph_comm { float: left; width: 80%; }
			.graph_comm .bg_graph { float: left; width: 100%; border-radius: 10px; overflow: hidden; }
			.graph_comm .graph_g { display: block; width: 100%; height: 20px; border: 1px solid #eaeef1; background-color: #eaeef1; }
			.graph_comm .bar_g { display: block; max-width:100%; height: 20px; border-radius: 10px 0 0 10px; margin: -2px 0 0 1px; border-left: 1px solid #65c3df; border-top: 1px solid #65c3df; background-color: #65c3df; }
			.graph_comm .bar_g_red { display: block; max-width:100%; height: 20px; border-radius: 10px 0 0 10px; margin: -20px 0 0 1px;  border-top: 1px solid #ff3434; background-color: #ff3434; }
			.graph_comm .inner_g { display: block; height: 20px; border-radius: 10px; margin-left: -1px; }
			.graph_comm .graph_txt_div { width: auto; }
			.graph_txt_div .txt_graph { margin-left: 10px; font-size: 0.75em; color: #333; font-weight: bold; }
			.graph_comm .num_g { color: #333; font-weight: bold; }
			
			.start_date { position: absolute; height: 45px; margin-top: -22px; font-size: 0.75em; border-left: 1px solid #ccc; }
			.sdate_tri { margin-left:-3px; }
			
			.over_date,
			.end_date { position: absolute; height: 45px; margin-top: -20px; font-size: 0.75em; line-height: 66px; white-space: nowrap; border-left: 1px solid #ccc; }
			
			.cmm51_b_r_num { display: none; }
				.black_time { display: none; }
				.blue_time { display: none; }	

/* 반응형 속성 제거 */
/*
@media screen and (max-width: 1100px) {
	.cmm50_left{width:100%; float:none; border-right:0 !important;border-bottom:1px solid #4b73eb;}
	.cmm50_right_top{width:100%;}
	.cmm50_r_middle{width:100%;}
	.cmm50_r_m_in_right .box_wrap .box{width:calc(97% / 3 );}
	}

@media screen and (max-width: 800px){
	.cmm50_r_m_t{height:auto;}
	.cmm50_r_m_t_left{width:100%;}
	.cmm50_r_m_t_right{width:100%;}
	.cmm50_r_m_in{width:100%; border-right:none;}
	.cmm50_r_m_in_right{width:100%;}
	
}

@media screen and (max-width:450px){
	.cmm50_r_m_in_right .box_wrap .box{width:calc(98% / 2 );}	
}
*/

/* cmm5100 */
.maskBox{    width: 80%;
    background-color: #414352;
    padding: 20px;
    text-align: center;
    color: #fff;
    border: 1px solid #3c3e4b;}
.right_no_line_full { border-right: transparent !important; }
.bottom_no_line { border-bottom: transparent !important; }
.no_line { border-right: transparent !important; }
.line_list { line-height: 3.4 !important; }

.contents_profile_img { float: left; margin-right: 10px; }
.contents_list_title {	font-size: 0.85em; margin-bottom: 5px; }
.contests_list_dept {	font-size: 0.75em; color: #999999; line-height: 2; }
.contests_list_rank {	font-size: 0.75em; color: #999999; }

.contents_list_sub { clear: both; margin-top: 20px; font-size: 0.75em; line-height: 2.7; }

.dot_div { display: inline-block; width: 100%; }
	.dot_title { width: 25%; display: inline-block; }
	.dot_line { display: inline-block; width: 55%; margin: 0 10px; vertical-align: middle; border-bottom: 2px dotted #cccccc; }	
	.dot_num { display: inline-block; width: auto; color: #333333; font-weight: bold; }

.content_bottom_title { font-size: 1.7em; font-weight: bold; }
	.content_bottom_date { font-size: 0.85em;text-align: right;    padding: 5px 2px; border-bottom: 1px solid #ccc;}
	.black_tri { color: #3e3e3e; margin-right: 0; }
	.blue_tri { color: #0084ff; margin-left: 0; margin-right: 0; }
	.red_tri { color: #ff3434; margin-left: 0; }
.cmm51_top {float:left;width:100%;height: 51px;padding: 13px 20px;background: #4b73eb;color: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;margin-bottom:5px;}
.cmm51_center {float:left;margin-bottom: 10px;}
.cmm51_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }
.cmm51_top > span.foldBtn {float: right;width: 35px;height: 35px;text-align: center;border: 1px solid #fff;margin-top: -5px;padding-top: 2px;}
.cmm51_top > span.foldBtn:hover{cursor:pointer;color:#4b73eb;background-color:#fff;}
.cmm51_top > .title{font-size: 1.5em;font-weight: bold;line-height: 1.3;margin: 2px;text-align: center;}
.cmm51_left_top {width: 270px;height:305px;background-color: #fff;border: 1px solid #4b73eb;float: left;margin-right:10px;}
.cmm51_left_bottom {width:270px;background-color: #fff;float:left;border: 1px solid #ccc;min-height: 400px;margin-right:10px;}
.cmm51_l_middle { display: inline-block; width: 100%; height:auto; padding: 20px; border-bottom: 1px solid #ccc;}
.cmm51_l_top { position: relative; width: 100%; height: 84px; padding: 20px; }
.cmm51_l_m_sub { height: calc(100% / 4) !important; }
.cmm51_l_m_day { position: absolute; top: 27px; right: 20px; width: 68px; height: 30px; font-size: 1.2em; font-weight: bold; line-height: 1.8; text-align: center; color: #fff; background: #ff3434; border-radius: 15px; }
.cmm51_middle {float: left;width: 460px;height: 245px;background-color: #fff;border:1px solid #ccc;}
.cmm51_middle > .title{color: #333;font-size: 1em;font-weight: bold;line-height: 1.3;margin: 2px;text-align: center;height: 16px;}
.cmm51_middle > #sprFlowChrtDiv{height:240px;}
.cmm51_middle > #sprBurnChrtTeam{height:240px;}

.cmm51_req_top {width: 920px;float: left;height: 30px;border: 1px solid #ccc;border-top:0;text-align:center;background-color: #fff;line-height: 30px;text-align: center;}
.cmm51_req_bottom {width: 920px;height:30px;line-height:30px;border: 1px solid #ccc;border-top:0;text-align:center;background-color: #fff;float: left;}

.cmm51_wrap { max-width: 1280px; width: 100%; height: 100%; font-size: 0.85em; }
	.cmm51_left { float: left; width: 291px; height: 100%; margin-right: 10px; background: #fff; border: 1px solid #4b73eb; }
		.cmm51_l_top { width: 100%; height: 97px; padding: 20px; }
			.cmm51_l_t_img { float: left; width: 60px; height: 60px; margin-right: 10px; border: 1px solid #ccc; }
			.cmm51_l_m_sub { width: 100%; height: calc(100% / 2); padding: 4px 0; }
				.cmm51_text_circle { padding: 0px 3px; margin-left: 10px; background: #0f73d0; font-size: 0.85em; color: #fff; border: 1px solid #0f73d0; border-radius: 3px; }
				.cmm51_text_num { color: #0f73d0; font-weight: bold; margin-left: 10px; }
				
		.cmm51_right_top { float: left; width: calc(100% - 301px); height: 51px; padding: 13px 20px; margin-bottom: 10px; background: #4b73eb; color: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
			.cmm51_r_t_ymd { font-size: 1.7em; font-weight: bold; margin-right: 10px; }
			.cmm51_r_t_date { font-size: 0.95em }
	
	.cmm51_right { float: left; width: calc(100% - 301px); height: auto; min-height: 249px; margin-bottom: 40px; background: #fff; border: 1px solid #ccc; border-bottom: none; }
	.left_margin { margin-left: 301px; }
		.cmm51_r_middle { float: left; width: calc(100% - 301px); height: 240px; margin-bottom: 40px; font-size: 1.2em; background: #fff; border: 1px solid #ccc; border-radius: 5px; }
			.cmm51_r_m_in { float: left; width: 55%; height: 220px; margin: 20px 0; padding: 0 20px; border-right: 1px solid #ccc; }
			
	.cmm51_bottom_left { display: inline-block; position: absolute; width: 200px; height: 100%; padding: 20px; background: #f9f9f9; font-size: 1.2em; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	
	.cmm51_bottom_right {min-height: 100px; background: #fff; font-size: 1.1em;}
	.cmm51_b_r_div{height: 100px;border: solid 1px silver;margin: 1px 1px;padding: 5px 10px;}
	.cmm51_b_r_div:hover{cursor:pointer;}

	/* 	.cmm51_b_r_div { padding-top: 42px; padding-bottom: 46px; border-bottom: 1px solid #ccc; } */
			.cmm51_b_r_Title {     font-size: 0.85em;height: 20px;position: relative;margin-bottom: 20px;}

			.cmm51_b_r_num { display: none; }
				.black_time { display: none; }
				.blue_time { display: none; }
/* 반응형 속성 제거 */
/*
@media screen and (max-width: 1280px) {
	.cmm51_right_top { width: 100%;}
	.dev_cycle_wrap {width: 100%;}
}
@media screen and (max-width: 1100px) {
	.cmm51_left { float: none; width: 100%; margin-bottom: 15px; }
	
	.cmm51_r_middle { width: 100%; }
	
	.cmm51_right_top { width: 100%; }
	.cmm51_right { width: 100%; margin-bottom: 10px; }
	.left_margin { margin-left: 0; }
}

@media screen and (max-width: 640px) {
	.cmm51_r_middle { height: 100%; }
		.cmm51_r_m_in { float: none; width: 100%; border-right: none; border-bottom: 1px solid #ccc }

	.cmm51_bottom_left { position: relative; width: 100%; height: 100px; min-height: 0; border-right: none; }
	.cmm51_bottom_right { display: inline-block; width: 100%; height: 100%; margin-left: 0px; padding-left: 20px; border-right: none; }
		.cmm51_b_r_div { padding-top: 20px; padding-bottom: 20px; }
			.cmm51_b_r_Title { margin-bottom: 30px; }
			.graph_comm { width: 100% }
			.graph_comm .graph_g { width: 100%; }
			.graph_comm .bg_graph { margin-left: 0px; margin-right: 20px; }
			.graph_txt_div .txt_graph { position: absolute; right: 10%; margin-left: 0px; }
			.cmm51_b_r_num { display: inline-block; width: 100%; margin-top: 10px; font-size: 0.75em; line-height: 1.6; }
			.black_time_tri { color: #3e3e3e; }
			.black_time { display: block; }
			.blue_time_tri { color: #0084ff; }
			.blue_time { display: block; }
			.red_time_tri { color: #ff3434; }
			.red_time { display: block; }
			.start_date, .over_date, .end_date { display: none; }
	
	.content_bottom_title { margin-bottom: 5px; }
}
*/

/* cmm5100 */

/* cmm5200 */
.comment_list { width: 100%; height: 155px; border: 1px solid #ccc; overflow-y: auto; padding: 0px 10px; }
	.comment { border-bottom: 1px solid #ccc; }
	.comment:last-child { border: none; }
	.comment_name { font-weight: bold; height: 20px; }
	.comment_contents { color: #666; word-break: break-word; }
/* cmm5200 */

/* cmm5300 */
.cmm53_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }

.cmm53_wrap { max-width: 1280px; width: 100%; height: 100%; font-size: 0.85em; }
	.cmm53_left { float: left; width: 291px; height: 100%; margin-right: 10px; background: #fff; border: 1px solid #4b73eb; }
		.cmm53_l_top { width: 100%; height: 97px; padding: 20px; }
			.l_t_img { float: left; width: 60px; height: 60px; margin-right: 10px; border: 1px solid #ccc; }
			
		.cmm53_l_middle { display: inline-block; width: 100%; height: 88px; padding: 20px; border-top: 1px solid #ccc; }
			.l_m_sub { width: 100%; height: calc(100% / 2); padding: 4px 0; }
				.text_circle { padding: 0px 3px; margin-left: 10px; background: #0f73d0; font-size: 0.85em; color: #fff; border: 1px solid #0f73d0; border-radius: 3px; }
				.text_num { margin-left: 10px; color: #0f73d0; font-weight: bold; }
	
		.cmm53_l_bottom { width: 100%; height: auto; }
			.l_b_line { width: 100%; height: 54px; padding: 10px 15px; border-top: 1px solid #ccc; }
				.l_b_title { margin-bottom: 5px; font-size: 1.1em; font-weight: bold; }
				.l_b_date { margin-left: 33px; font-size: 0.8em; }
				
		.cmm53_right_top { float: left; width: calc(100% - 301px); height: 51px; padding: 13px 20px; margin-bottom: 10px; background: #4b73eb; color: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
			.r_t_ymd { font-size: 1.7em; font-weight: bold; margin-right: 10px; }
			.r_t_date { font-size: 0.95em }
	
	.cmm53_right { float: left; width:100%;height: auto; min-height: 249px; margin-bottom: 20px; background: #fff; border: 1px solid #ccc; }
	.left_margin { margin-left: 301px; }
		.r_top { width: 100%; height: 39px; padding: 9px 0; text-align: center; font-size: 1.2em; background: #f9f9f9; border-bottom: 1px solid #ccc;}
		.r_bottom { width: 100%; height: auto; min-height: 209px; padding: 40px 19px 40px 50px; }
			.r_b_sub { float: left; position: relative; width: 177px; height: 128px; padding: 10px 8px; margin-right: 30px; margin-bottom: 30px; font-size: 0.85em; border: 1px solid #4b73eb; border-radius: 5px; }
				.s_title { float: left; line-height: 1.5; }
				.s_user { float: left; position: absolute; right: 8px; width: 60px; height: 77px; text-align: center; }
					.s_user_img { width: 60px; height: 60px; margin-top: 25px; margin-bottom: 5px; border: 1px solid #ccc; }

/* 반응형 속성 제거 */
/*
@media screen and (max-width: 1100px) {
	.cmm53_left { float: none; width: 100%; margin-bottom: 15px; margin-right:0px; }
	
	.cmm53_right_top { width: 100%; }
	.cmm53_right { width: 100%; margin-bottom: 10px; }
	.left_margin { margin-left: 0; }
		.r_bottom { width: 100%; padding: 40px 0px 40px 30px; }
}

@media screen and (max-width: 640px) {
	.r_bottom { padding: 10% 10%; }
		.r_b_sub { width: 100%; margin-right: 30px; }
}
*/
/* cmm5300 */

/* cmm5400 */
	.cmm_l_user{ float: left; width: calc(100% - 70px); height: 60px; padding-top: 5px; }
	.cmm_l_name{ margin-bottom: 8px; }
	.cmm_l_dep{ line-height: 1.5; font-size: 0.85em }
	.cmm_l_respone{ font-size: 0.85em }
	
	.l_b_line_img{ float: left; margin-right: 10px;}
	
	.s_title_name{ margin-bottom: 2px; font-weight: bold; }
	.s_title_title{ margin-bottom: 10px; }
	.s_user_type{ position: absolute; right: 0; color: #999; line-height: 1.5; }
/* cmm5400 */

