@charset "UTF-8";
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
#divMenu{max-height: 600px;overflow-y: auto;}

/* 
 * .tab_contents.menu
 *   - max-width: 1500px; width:100%제거
 *   - 화면크기 변경되도 사이즈 고정되도록 하기위해  width:1500px; 으로 고정 
 */
.tab_contents.menu { display: inline-block; width: 1500px; height: auto; padding: 20px; background: #fff; border-radius: .1875rem; border: 1px solid #ccc; }
	.top_control_wrap_left { float: left; margin-bottom: 10px;}
		.btn_down,
		.btn_up { margin-right: 5px; }
	.tab_contents.menu .top_control_wrap { text-align: right; }
		.tab_contents.menu .btn_add,
		.tab_contents.menu .btn_mod,
		.tab_contents.menu .btn_del,
		.tab_contents.menu .btn_print,
		.tab_contents.menu .btn_excel,
		.tab_contents.menu .btn_inquery,
		.tab_contents.menu .btn_save { margin-left: 5px; }
	.menu_wrap { width: 100%; height: auto; margin-top: 10px; border: 1px solid #ccc;float:left; }
	.menu_ctrl_wrap{ float:left; width: 29%; height: 100%; margin-right: -6px; font-size: 0.875em; box-sizing:border-box;border-right: 1px solid #ccc;min-height: 600px;}
		.menu_ctrl_btn_wrap{ padding:0 10px; height:48px; line-height:42px; border-bottom:1px solid #ccc; }
			.menu_ctrl_btn_wrap .btn_menu_add{ margin-right:5px; }
			.menu_ctrl_btn_wrap .menu_all_wrap{ float:right; height:100%; }
			.menu_ctrl_btn_wrap .menu_expand_all{ display:inline-block; vertical-align:middle; margin-right:5px; width:17px; height:17px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
			.menu_ctrl_btn_wrap .menu_collapse_all{ display:inline-block; vertical-align:middle; width:17px; height:17px; background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
		.menu_lists_wrap{ padding:12px 0; overflow-y:auto; height:calc(100% - 48px); }
			.menu_root_info{ padding-left:10px; height:30px; line-height:24px; }
			.menu_root_info:hover{ cursor:pointer; }
			.menu_one_wrap{  }
			.menu_one_wrap.fold{ display:none; }
				.menu_one_info{ padding-left:20px;  line-height:28px; cursor:pointer; }
					.menu_root_info > img,
					.menu_root_info > span,
					.menu_one_info > img,
					.menu_one_info > span,
					.menu_two_info > img,
					.menu_two_info > span{ vertical-align:middle; }
					.menu_root_info > span:before,
					.menu_one_info > span:before,
					.menu_two_info > span:before{ content:""; display:inline-block; vertical-align:middle; margin:-5px 5px 0 5px; width:18px; height:16px; background:url(/images/contents/folder_icon.png); }
				.menu_two_wrap{ }
				.menu_two_wrap.fold{ display:none; }
					.menu_two_info{ padding-left:36px; line-height:24px; cursor:pointer; }
					
					.menu_three_info{ padding-left:65px; line-height:26px; cursor:pointer; }
					.menu_three_info.fold{ display:none; }
					.menu_three_info > span:before{ content:""; display:inline-block; vertical-align:middle; margin:-3px 5px 0 0; width:14px; height:17px; background:url(/images/contents/document_icon.png); }
				
				.menu_root_info.selected,
				.menu_one_info.selected,
				.menu_two_info.selected,
				.menu_three_info.selected{ background:#d8ecff; }
				.menu_three_info:hover{ background:#d8ecff; }
				

	.menu_info_wrap{ overflow-y: auto;float:left; width:70%; min-height:600px; padding: 20px 36px; margin-left: 6px; vertical-align:middle; font-size:0.75em; box-sizing:border-box; }
		.menu_row {  }
		.top_menu_row {border-top: 1px solid #ddd;}
		.menu_info_wrap input[type="text"]{ vertical-align:middle; margin-top:0; height:100%; font-size: 12px; border:1px solid #ccc; width: 60%;min-width: 150px; padding-left: 4px;}
		.menu_info_wrap textarea{ width:100%; height:100%; border:1px solid #ccc; resize:none; font-size: 12px;}
		.menu_row:first-child .menu_col1,
		.menu_row:first-child .menu_col2{ border-top:1px solid #ddd; }
		.menu_row .menu_col1{ float:left; clear:both; padding-left:25px; width:27%; height:70px; line-height:70px; background:#f9f9f9; border-width:0 1px 1px 0; border-style:solid; border-color:#ddd; border-bottom: 1px solid #ddd;}
		.menu_row .menu_col2{ float:left; padding:15px 20px 15px 10px; width:73%; height:70px; line-height:27px; border-bottom:1px solid #ddd; }
		.menu_row:nth-child(8) .menu_col2 label{ line-height:16px; }
		.menu_row:last-child .menu_col1,
		.menu_row:last-child .menu_col2{ height: 190px; }

			.bottom_one_table { display: inline-block; width: 100%; height: 45%;text-align: center; overflow: hidden; border-bottom: none; }
				.bottom_o_table { width: 100%; table-layout: fixed; }
				.bottom_th { height: 40px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #ccc; }
				.bottom_td {  height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
					.req4200_1 { width: 5% !important; }
					.req4200_2 { width: 15% !important; }
					.req4200_3 { width: 17% !important; }
					.req4200_4 { width: 20% !important; }
					.req4200_5 { width: 25% !important; }
					.req4200_6 { width: 10% !important; }
					.req4200_7 { width: 8% !important; }
					.bottom_o_table tbody tr { background: #fff; }
					.bottom_o_table tbody tr:hover { background: #f9f9f9; }
			.middle_table { display: inline-flex; width: 100%; height: 15%; padding: 24px; }
			.bottom_two_table { display: inline-block; width: 100%; text-align: center; overflow: hidden; border-bottom: none; }
				.bottom_t_table { width: 100%; table-layout: fixed; }
				.bottom_th { height: 40px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #ccc; }
				.bottom_td {  height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
					.req4200_1 { width: 5% !important; }
					.req4200_2 { width: 15% !important; }
					.req4200_3 { width: 17% !important; }
					.req4200_4 { width: 20% !important; }
					.req4200_5 { width: 25% !important; }
					.req4200_6 { width: 10% !important; }
					.req4200_7 { width: 8% !important; }
					.st-body-scroll { max-height: 673px !important; }
					.bottom_t_table tbody tr { background: #fff; }
					.bottom_t_table tbody tr:hover { background: #f9f9f9; }
.menu_tree_help {position: relative;display: inline-block;vertical-align: middle;margin-left: 10px;width: 20px;height: 19px;text-align:center;border: 1px solid #ccc;cursor: pointer;float: left;color: red; }
.menu_tree_helpBox {display:none;position: absolute;width: 400px;height: 140px;border: 1px solid #960000;top: -20px;left: 35px;background: #fff;text-align:left;font-size:10pt;line-height: 15px;padding: 10px; z-index:100;
box-shadow: rgba(75, 0, 0, 0.7) 1px 1px 0px;
    background-image: linear-gradient(to top, rgb(250, 239, 239) 0%, rgb(255, 255, 255) 100%);
    color: rgb(47, 47, 47);}


/* req4200 */

/*req1000.jsp 신규요구사항 요청 관리, req2000.jsp 전체 요구사항 목록, req3000.jsp 담당 요구사항 목록*/

.r_r_c_right a{color: #0F73D0;text-decoration: underline;}

/* req3000 */
.req_chk { position: relative; }
.req_chk input[type="checkbox"] { opacity: 0; position: absolute; z-index: 2; vertical-align: middle; display:inline-block; left:calc(50% - 9px); }
.req_chk input[type="checkbox"]+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/images/contents/normal_check.png) no-repeat;
	font-size: 1em;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	z-index: 1;
	border-radius: 3px;
}

.req_chk input[type="checkbox"]:checked+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('/images/contents/normal_check_on.png') no-repeat;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
}

.req_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }
	
		.txt_of { text-overflow: clip; }	
			
	input[type="checkbox"] + label:before { margin: 0 !important; }	
	input[type=text].search_txt { float: left; max-width: 100%; width: calc(100% - 178px); height: 28px; margin-right: 5px; font-size: 0.7em; border: 1px solid #ccc; }

.req_table_wrap{width:100%; /* max-width:1200px; */ float:left;}
	.btn_box {margin-bottom:10px;float:left;text-align:center;}
		.button_normal2 { min-width: 44px; background: #fff;}

	.req_left_table_wrap{width:73.5%; float:left; margin-right:2% }
	
	/*req_table*/
	.req_table{float:left;width:100%;  table-layout:fixed; word-break:break-all; border:1px solid #ccc;}
	.req_table table{width:100%; float:left; overflow:hidden;}
		.req_thead { height: 45px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #6f8fef; font-size: 0.75em; }
		.req_td { text-align:center; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
			.req_table tbody{font-size:0.75em; background: #fff;}
			.req_table tbody tr:hover { background: #f9f9f9; }
			.adm_button_wrap{width:100%; float:left; padding:20px 0px; text-align:center; background-color:#fff;}
	/*req_table*/
	
	/*req_right_box*/
	.req_right_table_wrap{position: absolute;top: 60px;right: 0;z-index: 101;width:450px;background-color:#fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;transition:all .2s;}
	.req_right_fileListDiv {height: 117px;overflow-y: auto;border: 1px solid #ccc;padding: 1px;}
	.slideBox {transition:all .2s;position: absolute;right: 430px;top: 62px;width: 40px;height: 50px;background-color: #fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;text-align: center;line-height: 40px;cursor: pointer;z-index: 102;}
	.slideBox > img {width: 15px;vertical-align: middle;transform: rotate(180deg);}
	.req_right_table_wrap.on{transform: rotateY(90deg);right:-24.5%;display:none;}
	.slideBox.on {right:0; }
	.slideBox > img.on {transform: rotateY(0);}
	
	.req_right_box{width:100%;}
		.req_right_topheader{width: 100%;padding: 27px 0;border-bottom: 1px solid #ddd;padding-left: 40px;}
			.req_right_header_title{line-height:1.5; font-size:0.75em;}
		
		.req_right_contents{float:left; width:100%;border-bottom: 1px solid #ddd;padding:17.5px 19px; font-size:0.75em;}
			.r_r_c_line{margin-bottom: 10px;width: 100%; float: left;}
				.r_r_c_left{display:inline-block; width:30%; float:left;}
				.r_r_c_right{display:inline-block; width:70%; float:left;}
			.r_r_c_line:last-child{margin-bottom:0px;}
			
		.req_contents_box{border:1px solid #ddd; width:100%; height:40px; padding:10px; box-sizing:border-box; margin-bottom:18px; overflow-y:auto; overflow-x:auto; resize:none;}
		.req_contents_box:last-child{margin-bottom:0px;}
		.save_wrap{text-align:center;}
		.save_wrap input{min-width: 50px;font-size:0.9em}
		
	.comment_wrap { width: 100%; height: 100px; padding:0 14px; margin-bottom: 17px; background:#f9f9f9; overflow: auto; border:1px solid #ccc; }
		.comment_list { padding:16px 0; border-bottom: 1px dashed #ccc; }		
		.comment_list:last-child { border: none; }
			.comment_user { font-size: 1em; color: #333; }
			.comment_date { font-size: 0.8em; color: #999; }
			.comment_contents { font-size: 0.95em; color: #666; margin-top: 5px; line-height: 16px; white-space:normal; word-break: break-all; display:inline-block; }
		
	/*req_right_box*/	
	/* 반응형 속성 제거 */
	/*
	@media screen and (max-width:1100px){
		.search_box_wrap{width:100%;}
		.req_left_table_wrap{width:100%; margin-bottom:20px;}
		.req_right_table_wrap{display:none;}
		.req_right_box{margin-top:0px; background-color:#fff;}
		.r_r_c_left{width:21%;}
		.r_r_c_right{width:79%;}
		.search_select{ width: 100%;}
		.search_select select{max-width:100%;}
	}
	*/
	.search_popup{display:none;position:absolute;top:50px;height:100%;}
	
	/* 반응형 속성 제거 */
	/*
	.main_mobile{display:none;}	//모바일화면
	@media screen and (max-width:640px){	
		.main_pc{display:none;}	// pc, 테블릿화면
		.main_mobile{display:block;}//모바일화면
						// .main_contents{padding:0;} 
		.search_btn{position:absolute;right:16px;top:0;height:50px;line-height:50px;display:inline-block;cursor:pointer;}
		.search_wrap{height:40px;line-height:40px;border-bottom:1px solid #ccc;}
		.search_wrap select {width:calc(100% - 50px);border:none;height:100%;float:left;}
		.search_wrap .button_normal2{float:left;width:50px;height:100%;vertical-align:top;line-height:40px;border:none;border-left:1px solid #ccc;box-sizing:border-box;font-size:12px;}
		.search_wrap .sod_select:after{bottom:15px;}
		.m_req_list{border-bottom:1px solid #ccc;background:#f9f9f9;box-sizing:border-box;padding:15px;font-size:11px;display:table;width:100%;}
		.grouping{font-size:16px;}
		.m_req_left{display:table-cell;width:80%;line-height:20px;}
		.m_req_right{display:table-cell;height:100%;font-size:11px;font-weight:bold;vertical-align:middle;text-align:right;}
		.table_between{margin:0 5px;}
		.m_req_right[data="1"]{color:#4DBAC0;}
		.m_req_right[data="2"]{color:#FDBA00;}
		.main_mobile .req_right_table_wrap{display:none;top:12px;border:none;}
		.x_btn{float:right;cursor:pointer;}
		.req_right_table_wrap{margin-top:0;}
		.search_popup{text-align:center;width:100%;background:#fff;}
		.search_popup_title{height:50px;font-size:16px;border-bottom:1px solid #ccc;width:100%;padding:16px;}
		.search_require{background:#f9f9f9;padding:16px;border-bottom:1px solid #ccc;}
		.require_list{margin-bottom:8px;border:1px solid #ccc;width:100%;height:28px;}
		.require_input{width:calc(100% - 50px);margin-right:6px;height:28px;border:1px solid #ccc;}
	}
	*/
/* req3000 */

/* req4100 */
.top_table { display: inline-block; width: 100%; height: 29px; margin-bottom: 20px; }
.bottom_table { display: inline-block; width: 100%; border: 1px solid #ccc; text-align: center; border-bottom: none; }
	.search_table { width: 100%; table-layout: fixed; }
	.search_thead { height: 43px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #ccc; }
		.empty { height: 15px; border-bottom: 1px solid #ccc; }
	.search_td {  height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc;text-align:center; }
		.std1 { width: 5%; }
		.std2 { width: 8%; }
		.std3 { width: 10%; }
		.std4 { width: 12%; }
		.std5 { width: 13%; }
		.std6 { width: 8%; }
		.std7 { width: 8%; }
		.std8 { width: 8%; }
		.std9 { width: 12%; }
		.std10 { width: 8%; }
		.std11 { width: 8%; }
		.search_table tbody tr{ background: #fff; }
		.search_table tbody tr:hover { background: #f9f9f9; }

/* 체크박스 */
input[type="checkbox"] + label:before { margin: 0 !important; }
.pop_chk { position: relative; text-overflow: clip; }
.pop_chk input[type="checkbox"] { width:18px; height:18px; left:calc(50% - 9px); margin:0; opacity: 0; position: absolute; z-index: 2; }
.pop_chk input[type="checkbox"]+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/images/contents/normal_check.png) no-repeat;
	font-size: 1em;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
}

.pop_chk input[type="checkbox"]:checked+label {
	display: inline-block;		
	width: 18px;
	height: 18px;
	background: url('/images/contents/normal_check_on.png') no-repeat;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
}
/* 체크박스 */

/* 셀랙트 박스 */
.pop_select_box select { float: left; max-width: 100px; height: 28px; margin-right: 5px; padding: 0px 10px; font-weight: normal; line-height: 28px; border:1px solid #ccc; }
.pop_select_box .sod_select:after { bottom: 0px !important; }
.pop_select_box .sod_select.sod_option { float: inherit !important; height: 28px; padding: 0px 10px !important; line-height: 28px; }
/* 셀랙트 박스 */
/* req4100 */


/* req4500 */
.tab_contents.menu > .menuTitle {font-weight: bold;padding: 0 10px 5px 10px;font-size: 1em;margin-bottom: 15px;border-bottom: 1px solid #ccc;}
.historyType {height: 40px;width: 100%;padding: 5px;font-size: 0.9em;}
.historyUsrSel {height: 60px;width: 100%;padding: 5px;font-size: 0.9em;border-bottom:1px solid #ccc;overflow-x: auto;}
.historySearch {height: 40px;width: 100%;padding: 5px;font-size: 0.9em;}
.typeLabel {border: 1px solid #b9b7b7;padding: 7px;float: left;outline: 1px solid #828282;width: 80px;text-align: center;margin-right: 15px;}
.typeBox {border: 1px solid #b9b7b7;padding: 7px;float: left;border-right: none;cursor: pointer;outline: 1px solid #7b94de;min-width: 85px;text-align: center;}
.typeBox:last-child{border-right:1px solid #5d5d5d;}
.typeBox.selected {background-image: linear-gradient(to top, #4b73eb 0%, #7392ec 100%);color:#fff;}
.tab_contents.menu.historyDataMain {margin-top: 10px;}
.usrDisabled, .typeDisabled{display:none !important;}
.searchBox {float: left;}
.searchBox>input[type="text"] {height: 30px;width: 257px;width: 800px;padding: 0 10px;}

.historyDataBox {width: 100%;height: 60px;border: 1px solid #ccc;border-left: 12px solid #ccc;font-size: 0.8em;display: inline-block;margin-bottom: 15px;border-radius: 0 10px 10px 0;}
.modifyTypeBox {min-height: 60px;height: auto;}
.modifyTypeBox > .usrDtmInfoBox {width: 30%;float: left;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;height: 40px;text-align: center;line-height: 40px;overflow: hidden;}
.historyDataBox > .usrInfoBox {width: 15%;height: 29px;float: left;text-align: center;line-height: 30px;border-right: 1px solid #ccc;border-left: 1px solid #ebebeb;}
.mod_usrInfoBox {width: 50%;float: left;border-right: 1px solid #ccc;height: 100%;border-left: 1px solid #ebebeb;}
.historyDataBox > .usrInfoBox > span:hover, .usrDtmInfoBox >  .mod_usrInfoBox > span:hover{cursor:pointer;border:1px solid #ccc;padding: 0 5px;border-radius: 5px;}
.mod_dtmInfoBox {width: 50%;float: left;height: 100%;border-left: 1px solid #ebebeb;}
.reqInfoBox {width: 85%;float: left;height: 29px;line-height: 30px;border-bottom: 1px solid #ccc;overflow: hidden;padding-left: 15px;border-radius: 0 10px 0 0;border: 1px solid #fff;border-bottom: 1px solid #ccc;border-left: 1px solid #ebebeb;}
.historyDataBox > .reqInfoBox:hover{cursor:pointer;border:1px solid #fd7777;}
.mod_reqInfoBox {width: 70%;height: 40px;line-height: 40px;border-left: 1px solid #ebebeb;}
.modifyContentBox {width: 100%;display: inline-block;padding: 5px;max-height: 100px;overflow-x: hidden;overflow-y: auto;border-left: 1px solid #ebebeb;}
.modifyContentBox > li {margin-bottom: 2px;}
.dtmInfoBox {float: left;height: 29px;width: 15%;text-align: center;line-height: 30px;border-right:1px solid #ccc;}
.chgInfoBox {float: left;width: 85%;height:29px;padding: 5px;padding-left: 10px;border-left: 1px solid #ebebeb;}
.chgInfoBox > .flowNmBox{float: left;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);color: #fff;text-align: center;padding: 3px 0;min-width: 100px;margin: 0 5px;}
.chgInfoBox > .timeStrBox{float: left;border: 1px solid #ccc;padding: 3px;min-width: 130px;text-align: right;margin-left: 5px;}
.chgInfoBox > .flowArrow{float:left;line-height: 15px;}
.chgInfoBox > .chkReject {float: left;border: 1px solid #ccc;padding: 3px;margin-right: 5px;width: 340px;overflow-x: hidden;}
.timeStrBox.totalTm {background-color: #000;color: #fff;}