@charset "UTF-8";
.layer_popup_box .pop_sub {width: 100%;padding: 20px 20px;text-align: center;display: inline-block;font-size: 12px;}
	
/*익스플로러 적용 위해 !important 추가*/
/* 팝업에 따라 pop_menu_col1, pop_menu_col2 높이 변경 */
.pop_menu_row .pop_menu_col1 { width: 26% !important; height: 45px !important; padding-left: 6px !important; }
.pop_menu_row .pop_menu_col2 { width: 74% !important; height: 45px !important; }

.layer_popup_box input[readonly]:not(.searchInputTextItem), .layer_popup_box input:read-only:not(.searchInputTextItem){background-color: #fff;}

.pop_dpl_div_sub.divDetail_sub_left{width: 380px;float: left;margin-right: 10px;height: 769px;}
.pop_dpl_div_sub.divDetail_sub_rightTop {width: 750px;float: left;height: 340px;margin-bottom: 10px;}
.pop_dpl_div_sub.divDetail_sub_rightBottom {width: 750px;float: left;height: 384px;}
.pop_dpl_div_sub.divDetail_sub_rightBottomTab {width: 750px;float: left;height: 35px;border-top: none;box-shadow: none;padding: 0;}
.pop_dpl_div_sub.divDetail_sub_left.revisionOn{height: 340px;overflow-y: auto;}
.pop_dpl_div_sub.divDetail_sub_rightBottom.revisionOn,
.pop_dpl_div_sub.divDetail_sub_rightBottomTab.revisionOn{width:1140px;}
/* dpl1003 -배포상세정보*/
.sub_title{height: 35px !important;}
div#dplHistoryDiv {width: 100%;display: inline-block;height: 335px;overflow-y: scroll;overflow-x: hidden;border: 1px solid #ccc;position: relative;padding-top: 20px;float: left;}
.dplHis_centerLine {position: absolute;top: 0;left: 50%;height: 100%;width: 2px;border-left: 1px dashed #4b73eb;} 
.divDetail_tabDiv {height: 35px;border: 1px solid #ccc;border-top: none;border-left: none;display: inline-block;float: left;width: 100px;line-height: 35px;font-weight: 600;cursor:pointer;}
.divDetail_tabDiv.tabActive, .divDetail_tabDiv:hover {background-color: #4b73eb;color: #fff;}
.hisDplNm{color:#4b73eb;font-weight:600;}
.dplHisDivFrame {display: inline-block;width: 100%;margin: 10px 0;position: relative;text-align: center;font-size:12px;}
.regDplHisFrame {height: 50px;line-height: 20px;margin-top: 10px;display: inline-block;width: 450px;background-color: #fff;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding:5px;border: 1px solid #c6c9d0;border-radius: .1875rem;}
.dplHisDivFrame.hisContentLeft{text-align:left;}
.dplHisDivFrame.hisContentLeft .dplHisContentsFrame {margin-left: 15px;}
.dplHisDivFrame.hisContentRight{text-align:right;}
.dplHisDivFrame.hisContentRight .dplHisContentsFrame {margin-right: 15px;}
.dplHis_centerIcon {display: inline-block;font-size: 16pt;background-color: #fff;position: absolute;left: 350px;top: 20px;}
.dplHisUsrImgFrame {display: inline-block;padding: 4px;width: 70px;height: 85px;text-align: center;}
.dplHisDivFrame.hisContentLeft .dplHisUsrImgFrame{float: left;}
.dplHisDivFrame.hisContentRight .dplHisUsrImgFrame{float: right;}
.dplHisContentsFrame {display: inline-block;width: 305px;height: 112px;border: 1px solid #c6c9d0;border-radius: .1875rem;background-color: #fff;text-align: left;position:relative;}
.dplHisDivFrame.hisContentLeft .dplHisContentsFrame:before {content: '';position: absolute;border-top: 30px solid transparent;border-right: 30px solid #fff;border-left: 10px solid transparent;top: 19px;right: -16px;transform: rotate(-45deg);z-index: 1;}
.dplHisDivFrame.hisContentLeft .dplHisContentsFrame:after {content: '';position: absolute;border-top: 30px solid transparent;border-right: 30px solid #ccc;border-left: 10px solid transparent;top: 19px;right: -17px;transform: rotate(-45deg);}
.dplHisDivFrame.hisContentRight .dplHisContentsFrame:before {content: '';position: absolute;border-top: 30px solid transparent;border-right: 10px solid transparent;border-left: 30px solid #fff;top: 19px;left: -16px;transform: rotate(45deg);z-index: 1;}
.dplHisDivFrame.hisContentRight .dplHisContentsFrame:after {content: '';position: absolute;border-top: 30px solid transparent;border-right: 10px solid transparent;border-left: 30px solid #ccc;top: 19px;left: -17px;transform: rotate(45deg);}
.dplHisSubContentsFrame {display: inline-block;float: left;padding: 7px;}
.dplHisResultDiv {display: inline-block;height: 25px;line-height: 25px;width: 50px;text-align: center;color: #fff;border: 1px solid #1f2128;border-bottom: 1px solid #1f2128;background-color: #414352;}
.dplHisResultDiv.resultBg-blue{background-color: #4b73eb;}
.dplHisResultDiv.resultBg-red{background-color: #ff5643;}
.dplHisResultDiv.resultBg-yellow{background-color: #fba450;}
.dplHisDivFrame.hisContentLeft .dplHisResultDiv {float: right;}
.dplHisDivFrame.hisContentRight .dplHisResultDiv {float: left;}
.dplHisNameDiv {display: inline-block;height: 25px;line-height: 25px;width: 169px;padding: 0 10px;border-bottom: 1px solid #1f2128;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dplHisDivFrame.hisContentLeft .dplHisNameDiv {float: right;text-align: right;}
.dplHisDivFrame.hisContentRight .dplHisNameDiv {float: left;text-align: left;}
.dplHisDescDiv {display: inline-block;float: left;width: 230px;height: 45px;padding: 0 10px;overflow-y: auto;overflow-x:hidden;text-overflow: ellipsis;}
.dplHisDtmDiv {display: inline-block;float: left;height: 25px;line-height: 25px;width: 273px;text-align: center;border-top: 1px solid #ccc;}
.dplHisDtmDiv.dplHisSvnChangeCss{width:243px;}
.dplHisDivFrame.hisContentLeft .dplHisDtmDiv {float: right;}
.dplHisConsoleDiv {display: inline-block;height: 25px;line-height: 25px;font-size: 10pt;width: 30px;border-top: 1px solid #ccc;text-align: center;cursor: pointer;}
.dplHisConsoleDiv:hover .fas {color: #fff;}
.dplHisDivFrame.hisContentLeft .dplHisConsoleDiv {float: right;border-right: 1px solid #ccc;}
.dplHisDivFrame.hisContentRight .dplHisConsoleDiv {float: left;border-left: 1px solid #ccc;}
.dplHisConsoleDiv:hover{background-color:#1f2128;color:#fff;}
.dplHisDivFrame.hisContentLeft .fas {color: #4b73eb;}
.dplHisDivFrame.hisContentRight .fas {color: #ff5643;}
.dplHisDivFrame[type=SIG] .dplHisConsoleDiv, .dplHisDivFrame[type=MOD] .dplHisConsoleDiv {display: none;}
.dplHisDivFrame[type=SIG] .dplHisDtmDiv, .dplHisDivFrame[type=MOD] .dplHisDtmDiv {width: 100%;}
.hisDplNm.hisRestore{color: #ff5643}
.pop_dpl_div_sub.full_screen {position: absolute;top: 60px;left: 410px;width: 750px;height: 725px;z-index: 2;background-color: #fff;}
.full_screen div#dplHistoryDiv {height: 640px;}
div.pop_dpl_consoleLogDiv {display:none;position: absolute;top: 60px;left: 410px;width: 750px;height: 725px;z-index: 2;background-color: #fff;border: 1px solid #ccc;padding: 5px;}
div.pop_dpl_svnChangeLogDiv {display:none;position: absolute;top: 60px;left: 410px;width: 750px;height: 725px;z-index: 2;background-color: #fff;border: 1px solid #ccc;padding: 5px;}
div.pop_dpl_modifyHisDiv {display: none;float:left;width: 750px;overflow:hidden;background-color: #fff;border: 1px solid #ccc;padding: 5px;}
div.pop_dpl_revisionDiv {
    display: none;
	float: left;
    width: 1140px;
    height: 380px;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
div.pop_dpl_jobHisDiv{
    display: none;
    float: left;
    width: 750px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}
div.pop_dpl_jobHisDiv .dpl_bottom_job_content{
	height: 294px;
}
div#dplPopContentsFrame{background: #23241f;color: #f8f8f2;height: 630px;display: inline-block;width: 100%;text-align: left;line-height: 20px;position: relative;}
div#dplPopSvnChangeContentsFrame{height: 630px;display: inline-block;width: 100%;text-align: left;line-height: 20px;position: relative;overflow-y: auto;}
.dplSubButton {display: inline-block;width: 40px;margin: 0 5px;height: 29px;text-align: center;font-size: 14pt;float: right;line-height: 30px;border: 1px solid #ccc;background-color: #fff;cursor: pointer;}
.dplSubButton:hover{background: #e8e8e8;text-decoration: none;color: #6e7a85;}
div#dplPopContentsFrame > pre{width:100%;height:100%}
div#dplPopContentsFrame > pre > code {height: 100%;width: 100%;font-size: 10pt;position: absolute;top: 0;left: 0;padding: 0.5em;}
div#btnPopDpl1003SignAccept, div#btnPopDpl1003SignReject {width: 100px;}
/* diff style */
.dplPopModifyDiffOptInfo {display: inline-block;width: 100%;height: 190px;}
.chgPopDiffDiv {width: 100%;top: 361px;height: 188px;border: 1px solid #ccc;}
.chgPopDiffOptInfo {display: block;height: 30px;line-height: 30px;text-align: center;border-bottom: 1px solid #ccc;font-weight: bold;background: #f9f9f9;}
.chgPopDiffOldDiv, .chgPopDiffNewDiv {width: 50%;float: left;display: inline-block;height: 156px;}
.chgPopDiffTitleDiv {text-align: center;height: 30px;line-height: 30px;border-bottom: 1px solid #ccc;background: #f9f9f9;}
div.chgPopDiffContentDiv {height: 126px;padding: 5px;line-height: 22px;overflow-y: scroll;overflow-x: hidden; background-color: #fff;}
span.text-add {background-color: #a8d975;}
span.text-del {background-color: #ff9a8f;}
#chgPopDiffOldStr .text-del{text-decoration: line-through;}
.chgPopDiffOldDiv{border-right: 1px solid #ccc;}
div#dplPopModifyHisFrame {display: inline-block;width: 100%;height: 486px;overflow-y: scroll;overflow-x: hidden;border: 1px solid #ccc;margin-bottom: 10px;}
.chgPopMainDiv {width: 709px;min-height: 80px;height: auto;border: 1px solid #ccc;margin: 5px;border-radius: 6px;display: block;float: right;background: #f9f9f9;}
.chgPopLeftDiv {float: left;display: inline-block;width: 100px;text-align: center;padding: 10px 0;}
.chgPopRightDiv {float: left;display: inline-block;width: 568px;min-height: 80px;padding: 5px;}
.chgPopRightTopDiv {width: 100%;height: 25px;line-height: 25px;}
.chgPopRightBottomDiv {display: block;min-height: 50px;width: 100%;padding: 5px 0;line-height: 20px;text-align: left;}
.chgPopRightBottomDiv > span {display: block;font-size: 10pt;border-bottom: 1px solid #f9f9f9;}
.chgPopRightBottomDiv > span > b {font-weight: bold;}
.chgPopRightBottomDiv > span.chgPopDiff:hover {text-decoration-line: underline;cursor: pointer;}
.chgPopRightBottomDiv > span.chgPopDiff:active {color: #bbbdbf;}
.chgPopRightBottomDiv > span.chgPopDiff::before{font-family: "Font Awesome 5 Free";content:"\f044\00a0"}
.chgPopUsrDiv {float: left;width: 50%;display: inline-block;font-weight: bold;text-align: left;}
.chgPopAgoDiv {float: right;width: 50%;text-align: right;display: inline-block;padding-right: 20px;color: #424242;font-size: 8pt;}
.chgPopRightBottomDiv > span {display: block;font-size: 10pt;border-bottom: 1px solid #f9f9f9;}
.chgPopLeftDiv > img {width: 60px;height: 60px;}
.dplModifyReqNm {width: 200px;overflow: hidden;padding: 0 2px;text-overflow: ellipsis;white-space: nowrap; font-weight: bold;display: inline-block;line-height: 1;text-align: center;cursor: pointer;}
.dplModifyReqNm::before{font-family: "Font Awesome 5 Free";content:"\f35d";}
.dplModifyReqNm:hover{text-decoration: underline;}
.dplContentsSimple {display: inline-block;width: 40px;margin: 0 5px;height: 29px;text-align: center;font-size: 14pt;float: right;line-height: 30px;border: 1px solid #ccc;background-color: #fff;cursor: pointer;}
.dplContentsSimple:hover{background: #e8e8e8;text-decoration: none;color: #6e7a85;}

/* 이력 내용 축소 */
.dplHisDivFrame.contentSimple .dplHisContentsFrame{height:66px;}
.dplHisDivFrame.contentSimple .dplHisUsrImgFrame{display:none;}
.dplHisDivFrame.contentSimple .dplHisSubContentsFrame{width:100%;}
.dplHisDivFrame.contentSimple .dplHisNameDiv{width:200px;}
.dplHisDivFrame.contentSimple .dplHisDescDiv{display:none;}
/* 리비전 */
div#dplPopRevisionFrame {
    display: inline-block;
    width: 100%;

}
.dplPopRevisionInfo {
    text-align: left;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    padding-bottom: 3px;
    position: relative;
}
.dplPopRevisionFrameDiv{
	display: inline-block;
    height: 332px;
    float:left;
    position: relative;
    overflow: hidden;
}
.dplPopRevisionFrameDiv>.dplPopRevisionTable{
	margin-top: 0;
}
.dplPopReivisionListDiv {
    width: 405px;
    margin-right: 4px;
}
.dplPopRevisionFileTreeDiv {
    width: 310px;
    border: 1px solid #ccc;
    margin-right: 4px;
}
.dplPopRevisionFileGridDiv {
    width: 405px;
}
.dplPopRevisionMaskFrame, .dplPopRevisionFileMaskFrame {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 332px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    font-size: 11pt;
    text-align: center;
    line-height: 332px;
}
.dplPopRevisionMaskFrame{z-index:3;}
.dplPopRevisionFileTopBtn {
    height: 25px;
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
    text-align: right;
    padding-right: 10px;
}
.dplPopRevisionFileTopBtn .dplPopFileExpandAll{ display:inline-block; vertical-align:middle; margin-right:5px; width:17px; height:17px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
.dplPopRevisionFileTopBtn .dplPopFileCollapseAll{ display:inline-block; vertical-align:middle; width:17px; height:17px; background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
ul#dplPopRevisionFileTreeList {
    width: 100%;
    display: inline-block;
    height: 304px;
    overflow-y: auto;
    background-color: #fff;
}
/* 변경 이력 */
.svnChangeLogFrame {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.svnChangeLogTitle {
    display: block;
    width: 100%;
    line-height: 25px;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}
.svnChangeLogMsg {
    display: block;
    width: 100%;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
}
.svnChangePathList {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    padding-left: 5px;
    border-radius: 0 0 .1875rem .1875rem;
}
.svnChangePathIcon {
    display: inline-block;
    width: 16px;
    height: 20px;
}
.svnChangePathIcon.add{background:url(/images/icon/document_add.png) no-repeat center;}
.svnChangePathIcon.edit{background:url(/images/icon/document_edit.png) no-repeat center;}
.svnChangePathIcon.delete{background:url(/images/icon/document_delete.png) no-repeat center;}
.svnChangePathFile {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    height: 20px;
    line-height: 20px;
}
span.svnChangeDtm {
    padding-right: 10px;
    font-weight: normal;
    font-size: 11px;
    color: #5f5f5f;
    float: right;
}
.dplPopCancelFrame {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc;
}
.button_normal.dplPopCancelBtn {
    display: inline-block;
    min-width: 71px;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    width: auto;
}
.req_search_area {
    margin-bottom: 5px;
}