@charset "UTF-8";
/* dsh1000 - 대시보드 [운영] */
.dataAutoRefreshDiv {
    float: right;
    font-size: 11pt;
    width: 470px;
    height: 35px;
    line-height: 35px;
    color: #414352;
    background-color: #fff;
    text-align: right;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: .1875rem;
}
.dataAutoRefreshDiv.fixedMove {
    position: fixed;
    right: 0;
    width: auto;
    padding-left: 15px;
    top: 0;
    z-index: 10;
    opacity: 0.95;
    border: 1px solid #acb0ca;
    border-radius: 1px;
}
.dataAutoRefreshDiv.dsh3000_autoRefreshDiv.fixedMove{left:1210px;}
select#autoRefreshType, select.autoRefresh_select {
    /* background-color: #848484;
    color: #fff; */
    border: 1px solid #646464;
    border-radius: 3px;
    height: 25px;
    margin-right: 5px;
    text-align-last:center;
    background: #fff;
    color: #666;
}
i.autoRefresh_timeIcon {
    margin-left: 5px;
}
.autoRefreshRedoBtn, .autoRefreshEndBtn, .autoRefreshFoldingBtn, .dashboardDateRangeBtn, .dshWidgetSortBtn, .dshWidgetSortCancelBtn {
    float: right;
    height: 32px;
    width: 40px;
    padding: 0 10px;
    cursor: pointer;
    margin: 1px 0 2px 0;
    border-radius: 4px;
    text-align: center;
    background-color: #ffffff;
    color: #646c9a;
    position: relative;
    width: auto;
    min-width: 40px;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 10pt;
}
.dshWidgetSortCancelBtn.widgetCancelDisabled{display:none;}
.osl_main_wrap {width: 1500px;}
div.dataLoad_btn:hover {color: #0f73d0;}
.dsh_top_box {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: .1875rem;
}
.dshChartDiv {
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: #fff;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    
}
.dsh_middle_box {width: 100%;margin-bottom: 15px;display: inline-block;    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: .1875rem;}
.dsh_middle_box.dsh_middle_half{width: 50%;float:left;}

.dsh_prjGrp_top_sub_box, .dsh_top_sub_box {float: left;display: inline-block;height: 100%;border: 1px solid #ccc;}
.dsh_prjGrp_top_sub_box:nth-child(1),.dsh_top_sub_box:nth-child(1){width:455px;}
.dsh_prjGrp_top_sub_box:nth-child(2),.dsh_top_sub_box:nth-child(2){width:600px;}
.dsh_prjGrp_top_sub_box:nth-child(3),.dsh_top_sub_box:nth-child(3){width:410px;}
.dsh_prjGrp_top_sub_box.dsh_top_left_box,.dsh_top_sub_box.dsh_top_left_box {margin-right: 5px;}
.dsh_prjGrp_top_sub_box.dsh_top_middle_box,.dsh_top_sub_box.dsh_top_middle_box {margin-right: 5px;}
.dsh_flow_box {
    position: relative;
    width: 195px;
    text-align: center;
    border: 1px solid transparent;
    margin: 10px;
    display: inline-block;
    background-color: #F0F0F0;
    color: #000000;
    font-size: 11pt;
    border-radius: .1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.flowOptionDiv {
    height: 24px;
    float: left;
    display: inline-block;
    background-color: inherit;
    padding: 2px;
    font-size: 10pt;
    border-bottom: 1px dashed #fff;
    width: 100%;
    text-align: left;
    border-radius: .1875rem .1875rem 0 0;
}
.flow_box_title{
    width: 100%;
    min-height: 45px;
    font-weight: bold;
    border-bottom: none;
    float: left;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.flow_box_title>span{
	width: 100%;
    float:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.flow_box_title>span:nth-child(2){
	font-size: 12px;
	margin-top: 3px;
}
.flow_box_title>span:nth-child(2)>i{
	margin-right: 5px;
}
.flow_box_contents {
    width: 100%;
    height: 30px;
    line-height: 33px;
    background-color: #fff;
    color: #000;
    float: left;
    display: inline-block;
    border-radius: 0 0 .1875rem .1875rem;
    font-size: 10pt;
}
.flow_box_contents > span {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.flow_box_contents > span:first-child {
    border-right: 1px solid;
}
.flow_box_contents span:hover {
    cursor: pointer;
    background-color: #eaeaea;
    font-weight: bold;
}
.dsh_flow_box.active[type=charge] .flow_box_contents > span:first-child {
	cursor: pointer;
    background-color: #eaeaea;
    font-weight: bold;
}
.dsh_flow_box.active[type=all] .flow_box_contents > span:last-child {
	cursor: pointer;
    background-color: #eaeaea;
    font-weight: bold;
}
/* 
.dsh_flow_arrow_box {
    background: url(/images/right_arrow2.png);
    background-size: 44px 44px;
    display: inline-block;
    width: 43px;
    height: 75px;
    background-repeat: no-repeat;
}
 */
.dsh_flow_arrow_box {
    display: inline-block;
    width: 43px;
    height: 115px;
    color: #4b73eb;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 10px 5px;
}
.project_list_box, .process_list_box {
    width: 100%;
    display: block;
    float: left;
}
.project_info_box, .process_info_box {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: .1875rem;
}
.processNmBox {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 45%;
    float: left;
}
.process_info_box[pro-disabled-cd='02'] > .dsh_title_box > .processNmBox {
    text-decoration: line-through;
}
.process_info_box[pro-disabled-cd='02'] > .dsh_title_box:before {
    content: "[폐기] ";
    color: #4b73eb;
}
.dsh_title_box {
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding:0 15px;
    font-size: 1.05em;
    font-weight: bold;
    color: #414352;
    background-color: #fff;
   /*  border-radius: 10px 10px 0 0; */
    /* margin-bottom: 5px; */
    float: left;
    display: block;
	/* border: 1px solid #ccc; */
    border-bottom: none;
    border-top-left-radius: .1875rem;
    border-top-right-radius: .1875rem;
    position: relative;
    transition: 0.15s padding ease-out, 0.15s margin ease-out, 0.15s border ease-out;
}
.titleProcessRegDtm {
    display: inline-block;
    padding: 0 5px;
    font-size: 10pt;
    color: #424242;
}
.dsh_prj_title_box {border-radius: 10px;}
.process_flow_box {border: 1px solid #ccc;width: 100%;height: 130px;background-color: #fff;border-bottom: 1px solid #ccc;overflow-x:auto;overflow-y:hidden;white-space: nowrap;margin-bottom:2px;border: 1px solid #dadada;border-radius: 0.25rem;}
.process_req_box {width: 100%;height: 250px;background-color: #fff;}
.process_flow_chart_box {/* border: 1px solid #ccc;border-bottom: 1px solid #ccc; */width: 100%;height: 60px;background-color: #fff;margin-top: 5px;}

.dsh_flow_box.flowActive {border: 1px solid red;}
.flowOptionDiv > li {
    position: relative;
    min-width: 16px;
    width: auto;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 1px;
    padding: 0 1px;
}
.foldDiv {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    /* margin-bottom: 15px; */
	border-radius: 0 0 .1875rem .1875rem; 
	border-top: none;
}
/*req_right_box*/
.req_right_table_wrap{position: fixed;top: 60px;right: 0;z-index: 101;width:450px;background-color:#fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;transition:all .2s;}
.req_right_fileListDiv {height: 117px;overflow-y: auto;border: 1px solid #ccc;padding: 1px;}
.slideBox {transition:all .2s;position: fixed;right: 430px;top: 62px;width: 40px;height: 50px;background-color: #fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;text-align: center;line-height: 40px;cursor: pointer;z-index: 102;}
.slideBox > img {width: 15px;vertical-align: middle;transform: rotate(180deg);}
.req_right_table_wrap.on{transform: rotateY(90deg);right:-24.5%;display:none;}
.slideBox.on {right:0; }
.slideBox > img.on {transform: rotateY(0);}

.req_right_box{width:100%;}
.req_right_topheader{width: 100%;padding: 27px 0;border-bottom: 1px solid #ddd;padding-left: 40px;}
.req_right_header_title{line-height:1.5; font-size:0.75em;}

.req_right_contents{float:left; width:100%;border-bottom: 1px solid #ddd;padding:17.5px 19px; font-size:0.75em;}
.r_r_c_line{margin-bottom: 10px;width: 100%; float: left;}
.r_r_c_left{display:inline-block; width:30%; float:left;}
.r_r_c_right{display:inline-block; width:70%; float:left;}
.r_r_c_line:last-child{margin-bottom:0px;}

.req_contents_box{border:1px solid #ddd; width:100%; height:40px; padding:10px; box-sizing:border-box; margin-bottom:18px; overflow-y:auto; overflow-x:auto; resize:none;}
.req_contents_box:last-child{margin-bottom:0px;}
.save_wrap{text-align:center;}
.save_wrap input{min-width: 50px;font-size:0.9em}

.comment_wrap { width: 100%; height: 100px; padding:0 14px; margin-bottom: 17px; background:#f9f9f9; overflow: auto; border:1px solid #ccc; }
.comment_list { padding:16px 0; border-bottom: 1px dashed #ccc; }
.comment_list:last-child { border: none; }
.comment_user { font-size: 1em; color: #333; }
.comment_date { font-size: 0.8em; color: #999; }
.comment_contents { font-size: 0.95em; color: #666; margin-top: 5px; line-height: 16px; white-space:normal; word-break: break-all; display:inline-block; }

/* 요구사항 수 보기 버튼*/
.titleAllViewBtn {
    float: right;
    height: 35px;
    line-height: 32px;
    width: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 5px;
    cursor: pointer;
    margin: 5px 2px 2px 2px;
    border-radius: 10px;
    text-align: center;
}
span.titleAllViewContent {
    font-family: "Font Awesome 5 Free";
    font-size: 13pt;
}
.titleAllViewBtn:hover{background-color: #414352;color:#fff;}
.titleAllViewContent.off::before{content: "\f070";}
.titleAllViewContent.on::before{content: "\f06e"; }
/* 프로세스 폴딩 버튼 */
.titleFoldingBtn {float: right;height: 35px;line-height: 32px;width: 35px;border: 2px solid #fff;background-color: rgba(255, 255, 255, 0.1);padding: 0 10px;cursor: pointer;margin: 5px 10px 2px 2px;border-radius: 10px;text-align: center;}
.titleFoldingBtn:hover{background-color: #414352;color:#fff;}
.titleFoldingContent {font-family: "Font Awesome 5 Free";font-size: 13pt;}
.autoRefreshFoldingBtn.down::before, .titleFoldingContent.down::before{content: "\f107";}
.autoRefreshFoldingBtn.up::before, .titleFoldingContent.up::before{content: "\f106"; }
/* .titleFolded{border-radius:10px;margin-bottom: 5px;border-bottom: 1px solid #ccc;} */

/* 칸반 버튼 */
.titleKanbanBtn {float: right;height: 35px;line-height: 32px;width: 35px;border: 2px solid #fff;background-color: rgba(255, 255, 255, 0.1);padding: 0 5px;cursor: pointer;margin: 5px 10px 2px 2px;border-radius: 10px;text-align: center;}
.processKanban .titleKanbanBtn, .titleKanbanBtn:hover{background-color: #414352;color:#fff;}

/* 새로고침 버튼 */
.titleRedoBtn {
    float: right;
    height: 35px;
    line-height: 30px;
    text-align: center;
    width: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 2px 2px 2px;
    cursor: pointer;
	border-radius: 10px;
	font-size:10pt;
}
.titleWorkBtn:hover, .titleRedoBtn:hover, .autoRefreshRedoBtn:hover, .dashboardDateRangeBtn:hover, .dshWidgetSortCancelBtn:hover, .dshWidgetSortBtn:hover, .autoRefreshEndBtn:hover, .autoRefreshFoldingBtn:hover{background-color: #414352;color:#fff;}
.dshWidgetSortBtn[data-flag=true] {
    background-color: #414352;
    color: #fff;
}
/* 작업종료 버튼 */
.titleWorkBtn {
    float: right;
    height: 35px;
    line-height: 30px;
    text-align: center;
    width: 115px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 2px 2px 2px;
    cursor: pointer;
    border-radius: .1875rem;
    font-size: 10pt;
    border: 1px solid #b8b8b8;
}


/* dsh3000 */
.dataAutoRefreshDiv.dsh3000_autoRefreshDiv{width:580px;}
.dsh3000_leftDiv {
    width: 240px;
    display: inline-block;
    float: left;
    height: 100%;
    margin-right: 20px;
}
.dsh3000_rightDiv {
    display: inline-block;
    float: left;
    width: 1500px;
}
.dsh3000_prjGrpTitle{font-size:11pt;cursor:pointer;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);border-radius: .1875rem .1875rem 0 0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.dsh3000_prjTitle {
    width: 100%;
    height: 44px;
    line-height: 44px;
    /* border: 1px solid #ccc; */
    float: left;
    background-color: #fff;
    /* border-bottom: none; */
    padding-left: 10px;
    /* margin-bottom: 5px; */
    cursor: pointer;
    font-size: 10pt;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dsh3000_prjTitleEnd {
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 .1875rem .1875rem;
    margin-bottom: 10px;
}
.dsh3000_prjGrpAllTitle {
    margin-bottom: 10px;
    border-bottom:1px solid #ccc;
    cursor:pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}
.dsh3000_prjGrpAllTitle:hover, .dsh3000_prjGrpAllTitle.active, .dsh3000_prjGrpTitle:hover,.dsh3000_prjTitle:hover, .dsh3000_prjTitle.active, .dsh3000_prjGrpTitle.active {box-shadow: inset 0px 0px 1px 1px #0581f2;background: #e3f1ff;color: #000;}
canvas {-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}

div.dsh3000_frameDiv {
    width: 100%;
    height: 100%;
    display: inline-block;
}
div#dsh3000_prj_frameDiv, div#dsh3000_prjGrp_frameDiv{display:none;}

/* dsh2000 */
.dsh2000_prjInfo {display: inline-block;margin-left: 5px;}
.dsh2000_prjDateRangeInfo {float: right;margin-right: 20px;}
.reqDtmOver_leftDiv {
    float: left;
    width: 500px;
    border: 1px solid #ccc;
    height: 250px;
}
.reqDtmOver_RightDiv {
    float: right;
    height: 250px;
    width: 970px;
    border-bottom: 1px solid #ccc;
}
.dsh2000_dtmOverAlert {
    float: right;
    height: 35px;
    line-height: 30px;
    text-align: center;
    width: 230px;
    /* padding: 0 7px; */
    font-size: 13pt;
    background-color: #fff;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
}
.dtmOverAlertCnt_desc {
    position: absolute;
    font-size: 9pt;
    text-align: center;
    top: 24px;
}
.alertDesc {
    display: inline-block;
    float: left;
    width: 37px;
    margin: 0 4px;
}
.dtmOverAlertCnt {
    float: left;
    width: 37px;
    height: 28px;
    border-radius: 4px;
    line-height: 28px;
    margin: 2px 4px;
    color:#fff;
    font-size:11pt;
    cursor: pointer;
}
div.alert-green {
    background-color: #00d200;
}
div.alert-yellow {
    background-color: #fba450;
}
div.alert-red {
    background-color: #ff1a00;
}
div.alert-overRed {
    background-color: #ff5643;
}
div.alert-blue {
    background-color: #4b73eb;
}
.processFullscrean {
    position: fixed;
    top: 20%;
    left: 0;
    margin: 0px auto;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 10001;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
}
.processFullscrean .dsh_title_box, .processFullscrean .foldDiv{border-radius:0;}
.titleFullScreanBtn {
    float: right;
    height: 35px;
    line-height: 32px;
    width: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 5px;
    cursor: pointer;
    margin: 5px 2px 2px 2px;
    border-radius: 10px;
    text-align: center;
}
.processFullscrean .titleFullScreanBtn, .titleFullScreanBtn:hover{background-color: #414352;color:#fff;}
.titleFullScreanContent{font-family: "Font Awesome 5 Free";font-size: 13pt;}

/* 칸반 추가 */
.process_kanban_box {
	display:none;
    width: 100%;
    height: 500px;
    background-color: #fff;
    margin-top: 5px;
	overflow-x: scroll;
    overflow-y: hidden;
    padding: 5px;
    white-space: nowrap;
    font-size: 11pt;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
}
.process_info_box.processKanban .process_flow_box
,.process_info_box.processKanban .process_req_box
,.process_info_box.processKanban .process_flow_chart_box{display:none !important;}
.process_info_box.processKanban .process_kanban_box{display:block !important;}
.kanbanFrameDiv {
    height: 100%;
    width: 270px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    border-radius: 2px;
    white-space: normal;
}
.kanbanFlowReqCntDiv {
    display: inline-block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.kanbanFlowReqCntDiv > span {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.kanbanFlowReqCntDiv > span:first-child {
    border-right: 1px solid;
}
.kanbanFlowNameDiv {
    display: inline-block;
    width: 100%;
    height: 45px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.kanbanFlowNameDiv>span{
	width: 100%;
    float:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.kanbanFlowNameDiv>span:nth-child(2){
	font-size: 12px;
	margin-top: 3px;
}
.kanbanFlowNameDiv>span:nth-child(2)>i{
	margin-right: 5px;
}
.kanbanContentReqList {
    height: 372px;
    display: inline-block;
    width: 266px;
    margin: 2px;
    border-radius: 3px;
    overflow-y: auto;
    overflow-x: hidden;
}
.kanbanFlowOpt {
    display: inline-block;
    width: 100%;
    height: 25px;
    color: #fff;
    border-bottom: 1px dashed #fff;
    padding: 5px;
    font-size: 10pt;
}
.kanbanFlowOpt > li {
    margin: 0 2px;
}
.kanbanSubMainFrame {
    display: block;
    margin: 5px 2px;
    border: 1px solid #ccc;
    font-size: 9pt;
    color: #000;
    cursor: pointer;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: .1875rem;
}
.kbSubTopFrame {
    display: inline-block;
    width: 100%;
    height: 80px;
}
.kbSubLeftFrame {
    float: left;
    width: 60px;
    height: 100%;
    padding: 5px 2px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.kbSubLeftFrame > .usrImgClass {
    width: 60px;
    height: 60px;
}
.kbSubRightFrame {
    float: left;
    display: inline-block;
    width: calc(100% - 60px);
    max-width:200px;
    padding: 2px;
}
.kbSubRightTopFrame {
    float: left;
    display: inline-block;
    width: 100%;
}
.kbSubSignStsDiv {
    float: right;
    display: inline-block;
    width: 35px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px 2px 2px 0;
}
span.kbSubReqNmDiv {
    float: left;
    display: inline-block;
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 10pt;
}
span.kbSubReqNmDiv::before{font-family: "Font Awesome 5 Free";content: '\f044';font-weight: normal;}
.kbSubRightBottomFrame {
    float: left;
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    padding: 2px;
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #414352;
}
.kbSubBottomFrame {
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kbSubAgoTimeIcon {
    display: inline-block;
    float: left;
    color: #fff;
    width: 60px;
}
.kanbanSubMainFrame:not(.filtered):hover {border-image: url(../../images/border.gif) 1 round;border-width: 1px;}
.dsh_req_row_ghost {
    opacity: 0.7;
    background: #f9f9f9;
    margin: 2px 0;
    border: 1px dashed #8c8c8c;
}
 .completeMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}
.completeContent {
    transform: rotate(-19deg);
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 41px;
    background-color: rgba(75, 115, 235, 1);
    border-radius: 5px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 칸반보드 접기 */
.kanbanFrameDiv.reqZeroCntFolding {
    width: 40px;
    position: relative;
    cursor: pointer;
    /* transform: rotate(180deg);
    -webkit-transform: rotate(180deg); */
}
.reqZeroCntFolding .kanbanFlowOpt {
    width: 40px;
    height: 50%;
    display: block;
    float: left;
    border: none;
    /* transform: rotate(180deg);
    -webkit-transform: rotate(180deg); */
}
.reqZeroCntFolding > .kanbanFlowOpt > li {
    margin: 3px 0;
    display: block;
    text-align: center;
}
.reqZeroCntFolding .kanbanFlowReqCntDiv {
    display: none;
}
.reqZeroCntFolding .kanbanFlowNameDiv {
    height: 40px;
    width: 240px;
    white-space: nowrap;
    display: block;
    float: left;
    transform: rotate(-90deg) translate3d(0,0,0);
    -webkit-transform: rotate(-90deg) translate3d(0,0,0);
    position: absolute;
    bottom: 110px;
    left: -100px;
    font-weight: normal;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    line-height: 40px;
}
.reqZeroCntFolding .kanbanContentReqList {
    display: none;
}
.kanbanFoldBtn {
	display:none;
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .1875rem;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.kanbanFoldBtn:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}
.kanbanFrameDiv[totalcnt="0"]:hover:not(.reqZeroCntFolding) > .kanbanFoldBtn{display:block;}
.kbSubHeaderFrame {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 9pt;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* 대시보드 영역 버튼 */
.dshFunctionBtn{
	float: right;
    height: 32px;
    width: 40px;
    padding: 0 10px;
    cursor: pointer;
    margin: 6px 0 2px 0;
    border-radius: 4px;
    text-align: center;
    background-color: #ffffff;
    color: #646c9a;
    position: relative;
    width: auto;
    min-width: 40px;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* 서브 영역 */
.dshSubFrame{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #dadada;
    border-radius: 0.25rem;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
}
.dshItemGhost {
    border: 1px dashed #4b73eb;
    opacity: 0.5;
    display: inline-block;
}
.dshSortableItem {
    border: 1px solid transparent;
}
.dshWidgetDeleteBtn{display:none;}
.dshSortableItem.dshSortArrowAlt:not(.dshWidgetDeleteBtn):hover{border: 1px dashed #4b73eb;}
.dsh_title_box.dshSortArrowAlt{cursor: move;padding-left: 60px;}
.dshWidgetDeleteBtn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 44px;
    border: 1px solid #212529;
    text-align: center;
    height: 35px;
    border-radius: 5px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s linear;
    background: url(/images/dsh/arrowMove.png) no-repeat;
    background-size: 60px;
    background-position-x: -8px;
    background-position-y: -10px;
}
.dsh_title_box.dshSortArrowAlt .dshWidgetDeleteBtn{visibility: visible;opacity: 1;}
.dsh_title_box.dshSortArrowAlt .dshWidgetDeleteBtn:hover{color: #fffbfb;background-color: rgba(255, 162, 152, 1);}
/* 
.dshWidgetDeleteBtn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 44px;
    background-color: rgba(255, 86, 67, 0.95);
    text-align: center;
    height: 35px;
    color: #fffbfb;
    border-radius: 5px;
    cursor: pointer;
    display:inline-block
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s linear;
}
.dsh_title_box.dshSortArrowAlt .dshWidgetDeleteBtn{visibility: visible;opacity: 1;}
.dsh_title_box.dshSortArrowAlt .dshWidgetDeleteBtn:hover{color: #fffbfb;background-color: rgba(255, 162, 152, 1);}
.dshSortableItem[sortusecd="02"]:not(.dshSortArrowAlt) {
    display: none;
}
.dshSortableItem[sortusecd="02"].dshSortArrowAlt {
    opacity: 0.9;
    border: 1px dashed #ff5643;
}
.dshSortableItem[sortusecd="02"].dshSortArrowAlt .dshWidgetDeleteBtn {
    background-color: #4b73eb;
    font-size: 12px;
}
.dshSortableItem[sortusecd="02"].dshSortArrowAlt .dshWidgetDeleteBtn > i:before {
    content: "\f0e2";
}
 */
 /*wbs*/
 .wbs_leftDiv {
    float: left;
    width: 750px;
    border: 1px solid #ccc;
    height: 250px;
}
.wbs_RightDiv {
    float: right;
    width: 720px;
    height: 250px;
    border: 1px solid #ccc;
}
 .wbs-task-group{
    padding: 10px;
    overflow-y: auto;
    border-radius: 0.25rem;
 }
 .wbs-task-box{
	display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 2px 5px 1px rgb(0 0 0 / 10%);
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
 }
 .wbs-task-box:last-child{
 	margin-bottom: 0;
 }
 .wbs-title-group{
 	font-size: 14px;
 }
 .wbs-title-icon{
 	width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #b3cdf5;
    display: inline-block;
    line-height: 30px;
 }
 .wbs-title-icon>i{
 	color: #4755dc;
 }
 .wbs-title{
    display: inline-block;
    width: 290px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    margin-left: 5px;
}
 .wbs-value-group{
    font-size: 13px;
    display: flex;
    font-weight: 500;
 }
 .wbs-value{
 	min-width: 80px;
 	display: flex;
 	flex-flow: column;
 	text-align: center;
 }
 .wbs-value>span:last-child{
 	margin-top: 5px;
 }
 .wbs-difference.plus{
 	color: blue;
 }
 .wbs-difference.minus{
 	color: red;
 }