@charset "UTF-8";


/* fullcalendar css */
td.fc-day-today .fc-daygrid-day-number {
    background-color: #4b73eb;
    color: #fff;
    border-radius: 5px;
}
.fc td.fc-timegrid-col.fc-day-today {
    background-color: rgba(255, 220, 40, 0.15);
    background-color: #f4f7ff;
}
.fc a.fc-col-header-cell-cushion {
    padding: 10px;
    font-weight: bold;
}
.fc-daygrid-event{padding:3px 5px;}
.fc div.fc-daygrid-day-bottom {
    font-size: .95em;
    font-weight: bold;
}
a.fc-event.fc-event-draggable:hover,
a.fc-event.fc-event-resizable:hover {
    cursor: pointer;
    background-color: var(--fc-event-hover-bg-color, #234abf);;
}
.fc a[data-navlink]:hover {
    background-color: #efefef;
    border-radius: 10px;
}
.fc .fc-daygrid-day-number {
    font-weight: 600;
}
td.fc-daygrid-day.fc-day.fc-day-sat .fc-daygrid-day-number { color:#0000FF; }     /* 토요일 */
td.fc-daygrid-day.fc-day.fc-day-sun .fc-daygrid-day-number { color:#FF0000; }    /* 일요일 */
.osl-holiday:hover, .osl-event:hover {
	opacity: 0.8;
}
.osl-holiday, .osl-event {
    text-align: center;
    cursor: pointer;
}

.daterangepicker{width: auto;}
.daterangepicker.show-calendar .drp-calendar{float:left;}
input.sp-input {
    background-color: #fff;
}
.eventColorSelDiv {
    height: 27px;
    width: 30px;
    margin: 3px;
    display: inline-block;
    border-width: 4px;
    border-style: double;
    line-height: 17px;
    text-align: center;
	cursor: pointer;
}
div#eventColorSwapList {
    text-align: center;
    padding-left: 0;
}
.pop_evt_div_sub {
    display: block;
    height: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 1px;
}
.pop_evt_onwRow_title {
    padding-left: 10px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #f9f9f9;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
    text-align: left;
    font-size: 10pt;
}
.pop_evt_onwRow_content {
    padding: 2px;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 10pt;
}
.pop_evt_onwRow_content > input[type=text] {
    padding: 0 10px;
    float: none;
    height: 35px;
    min-width:auto;
}
.pop_evt_onwRow_content > select {
    width: 100%;
    height: 35px;
    padding: 0 10px;
}
.pop_evt_onwRow_content > input[type=text][readonly] {
    background-color: #fff;
}
.pop_menu_halfRow:nth-child(even) > .pop_evt_onwRow_title {border-left: 0;}
.pop_menu_halfRow:nth-child(even) > .pop_evt_onwRow_content {border-left: 0;}
.event_note {
    height: 307px;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.popLeftSub, .popRightSub {
    width: 49%;
    float: left;
    display: inline-block;
	margin: 0 2px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    font-weight: normal;
    color: #fff;
    background-color: #8ba4f2;
}
.evtPublicNmMainFrame {
    width: 99%;
    margin: 0 2px;
    padding-right: 2px;
}
