@charset "UTF-8";
/* 체크박스 */
.flw_chk { position: relative; }
.flw_chk input[type="checkbox"] {margin:0; opacity: 0; position: absolute; z-index: 2; width: 100%;height: 40px;left: 0;}
.flw_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; margin-top: 10px;}
.flw_chk input[type="checkbox"][disabled]+label {background: url(/images/contents/normal_check_disabled.png) no-repeat;}
.flw_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }
/* 체크박스 */

/* flw1000 */
input#flowSignAfter[type=checkbox][disabled]~label{background: #dadada;border: 1px solid #999;}
input[type=color] {
    width: 85%;
    height: 80%;
    margin: 4px;
    background-color: #fff;
    border: none;
}
.flw_title_box { width: 100%; height: 44px; padding: 15px;font-weight: bold; color: #fff;    background-color: #4b73eb;}
.process_box[confirm="02"]{font-weight:bold;}
.process_box[confirm="02"]::before{font-family: "Font Awesome 5 Free";content: "\f560";}
/* 
 * .flw_title
 *    - 화면 사이즈 변경에 관계없이 타이틀 부분 사이즈 고정
 *	  - min-width: 1280px; 추가
 */
.flw_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; width:100%; min-width: 1280px;}
.flw_mainFrame {
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    border-radius: .1875rem;
    position: relative;
}
div.flw_box{float:left;
border: 1px solid #ccc;
/* box-shadow: 1px 0 0 0 #ccc, 0 1px 0 0 #ccc, 1px 1px 0 0 #ccc, 1px 0 0 0 #ccc inset, 0 1px 0 0 #ccc inset; */
background-color:#fff;
border-bottom:none;
}
div.flw_sub_box{float:left;background-color:#fff;height: 40px;text-align: center;font-size: 10pt;}
div.flw_box_clear{clear:both;}
div.flw_main_leftBox {
    width: 226px;
    height: 450px;
    min-width: 226px;
}
div.flw_main_rightBox {
	width: 1231px;
	min-width: 1054px;
    height: 450px;
    border-left: none;
    border-bottom: none;
    background: repeating-linear-gradient( 45deg, #eee, #eee 10px, #e5e5e5 10px, #e5e5e5 20px );
    overflow: hidden;
    position: relative;
}

.pop_sub div.flw_main_rightBox {
    width: 1060px;
}
div#flowChartDiv {
    width: 2500px;
    height: 1000px;
    display: inline-block;
    background-color:#fff;
}
div.flw_main_middleBox {
    width: 100%;
    height: 40px;
    border-bottom: none;
    text-align: center;
}
div.flw_main_bottomBox {
    width: 100%;
    /* height: 381px; */
    height: auto;
    position: relative;
}
div.flw_left_topBox {
    width: 100%;
    height: 70px;
    padding: 3px;
    text-align: center;
    border: none;
}
.flw_box.flw_left_topBox > span {
    margin: 2px 0;
}
div.flw_left_bottomBox {
    width: 100%;
    height: 379px;
    padding-bottom:5px;
    overflow-y: scroll;
    border: none;
	border-top: 1px solid #ccc;
}
div.process_box {
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left:20px;
    padding-top:5px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
	cursor: pointer;
    font-size: 10pt;
    position:relative;
    text-overflow: ellipsis;
    overflow: hidden;
}
.processDisabledBox {
	display:none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #0490ab;
    background-color: rgba(0, 0, 0, 0.5);
}
.copyProcess_box > .processDisabledBox {
    background: none;
}
.copyProcess_box > .processDisabledBox > .proDisabledStr {
    text-align: left;
    transform: none;
    line-height: 70px;
    font-size: 15px;
    color: #4b73eb;
    padding: 0 5px;
}
.copyProcess_box.active > .processDisabledBox > .proDisabledStr {
    color: #fff;
}
.process_box[pro-disabled='02'] >  .processDisabledBox, .copyProcess_box[pro-disabled='02'] >  .processDisabledBox{display:inline-block;}
.proDisabledStr {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(-10deg);
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.processRegDtmFrame {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 8pt;
    font-weight: normal;
    padding-right: 5px;
}
div.process_box:hover ,div.process_box.active {
    background-color: #4b73eb;
    color: #fff;
}
.copyProcess_box:hover > .processDisabledBox > .proDisabledStr {
    color: #fff;
}
.processNmBox {
    display: inline-block;
    margin-left: 5px;
    width: 165px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.copyProcess_box {
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left:20px;
    padding-top:5px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
	cursor: pointer;
    font-size: 10pt;
    position:relative;
}
div.copyProcess_box:hover ,div.copyProcess_box.active {
    background-color: #4b73eb;
    color: #fff;
}
.copyProject_titleBox {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 10pt;
    font-weight: bold;
    background-color: #848484;
    color:#fff;
}
div.flw_bottom_rightBox {
    width: 50%;
}
div.flw_bottom_leftBox {
    width: 50%;
}
.prj1104_processCopy_mainBox {
   /*  float: left;
    width: 1280px; */
	font-size: 10pt;
    width: 1303px;
    background-color: #fff;
    min-height: 705px;
    max-height: 800px;
    overflow-y: auto;
    position: relative;
}
div#processCopyFlowChartDiv {
    width: 2500px;
    height: 1000px;
    display: inline-block;
    background-color:#fff;
}
div.copyFlw_left_topBox {
    width: 100%;
    height: 40px;
    padding: 3px;
    text-align: center;
    border: none;
}
.flw_box.copyFlw_left_topBox > span {
    margin: 2px 0;
}
div.copyFlw_left_bottomBox {
    width: 100%;
    height: 408px;
    padding-bottom: 5px;
    overflow-y: scroll;
    border: none;
    border-top: 1px solid #ccc;
}
div.flw_sub1 {width: 25%;border-bottom: 1px solid #ccc;}
div.flw_sub2 {width: 50%;border-bottom: 1px solid #ccc;}
div.flw_sub3 {width: 75%;border-bottom: 1px solid #ccc;}
div.flw_sub4 {width: 100%;border-bottom: 1px solid #ccc;}
div.flw_sub_title{background-color:#f9f9f9;padding-top: 12px;font-weight: bold;line-height: 17px;}
div.flw_sub_box.flw_sub_desc {height: 100px;}
div.flw_line_right{border-right:1px solid #ccc;}
div.flw_line_left{border-left:1px solid #ccc;}
div.flw_line_bottom_none{border-bottom:none;}
.flw_main_middleBox > .button_normal2 {
    margin-right: 20px;
    margin-top: 5px;
    min-width: 200px;
}
/* gfnLayerHighLight maskBox보다 z-index +1 */
.flw_main_middleBox_save {
    display: none;
    width: 350px;
    height: 450px;
    position: absolute;
    background-color: #fff;
    top: 30%;
    left: 45%;
    z-index: 9001;
    text-align: center;
    box-shadow: 0 0 1px 0 #737373;
}
.process_regFrame {
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
}
.process_regTitle {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    font-size: 11pt;
    border-bottom: none;
}
.processNm {
    height: 80px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.processDesc {
    height: 120px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.processBtn {
    display: block;
    width: 100%;
    height: 60px;
}
.flw_main_middleBox_save label {
    height: 20px;
    line-height: 20px;
    font-size: 10pt;
}
.processBtn > .button_normal2 {
	width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccd4eb;
}
.flw_main_middleBox_save input[type=text] {
    width: 100%;
    text-align: center;
    border: none;
    height: 50px;
    border: 1px solid #ccc;
}
.flw_main_middleBox_save input[type=number] {
    width: 100%;
    text-align: center;
    border: none;
    height: 50px;
    border: 1px solid #ccc;
}
textarea#processDesc {
    resize: none;
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
    padding: 5px;
}
.flw_sub_box input[type=text],.flw_sub_box input[type=number] {
    width: 100% !important;
    height: 100% !important;
  	border: none !important;
    text-align: center;
}
.flw_sub_box .sp-replacer{margin-top:5px;}
div#flow_position {
    margin: 5px 10px 5px 10px;
    float: left;
    font-size: 10pt;
    height: 30px;
    width: 60px;
}
.flw_mainBox {
    float: left;
    width: 1457px;
}

.flw_content_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 100px;
}
/* flw1001 팝업 */
.flwOptGridDiv {
    height: 420px;
    width: 100%;
    float: left;
}
.flwOptBtnDiv {
    float: left;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    text-align: right;
}
.flw_pop_box {
    float: left;
    width: 100%;
    /* height: 321px; */
    height: auto;
    border: 1px solid #ccc;
    border-bottom: none;
}
.flw_box_colorSet {
    width: 100%;
    height: 35px;
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
}
.selColorBox > span:first-child {
    color: #fff;
}
.selColorBox:hover {
    border: 1px solid #4b73eb;
}
.selColorBox {
    width: 40px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    margin: 2px 5px;
    cursor: pointer;
    line-height: 14px;
}
.flw_optPop_box{
	float: left;
    width: 100%;
    height: 200px;
    border-top: 1px solid #ccc;
}
.flwOptBtnDiv > .button_normal2 {
    margin-right: 5px;
    margin-top: 5px;
    min-width: 100px;
}
.flw_sub_box select {
    width: 100% !important;
    height: 100%;
    border: none;
    text-align-last: center;
    font-size: 10pt !important;
}

/* flowchart 공통 */
.flowOptionDiv > .fa, .flowOptionDiv > .far {
    font-size: 10pt;
}
.flowOptionDiv {
    position: absolute;
    top: -25px;
    width: 195px;
    height: 25px;
    left: -1px;
    background-color: inherit;
    padding: 2px;
    border-radius: .1875rem .1875rem 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-bottom: 1px dashed #fff;
    text-align: left;
}
.flowOptionDiv > li {
    position: relative;
    min-width: 16px;
    width: auto;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 1px;
    padding: 0 1px;
}
.flowchart-operator.selected {
    border: 1px solid #4b73eb !important;
    box-shadow: 0 1px 3px 0px rgb(75, 115, 235);
}

.flowchart-operator.selected .flowOptionDiv{
    border: 1px solid #4b73eb !important;
    border-bottom: 1px dashed #fff !important;
    box-shadow: 0px -1px 3px 0px rgb(75, 115, 235);
}

.flowchart-operators-layer, .flowchart-temporary-link-layer{pointer-events:auto;}
.flowchart-operator .flowchart-operator-title{border-bottom:none;text-align: center;}
.flowchart-operator{
	width: 195px !important;
    text-align: center;
    border: 1px solid transparent;
    margin: 10px;
    display: inline-block;
    background-color: #F0F0F0;
    color: #000000;
    font-size: 11pt;
    border-radius: 0 0 .1875rem .1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
[data-ax5grid]{
	margin-top: 0px;
    border-top: 0;
}

[data-ax5grid] > [data-ax5grid-container="root"]{
	border-right: none;
    border-top: 0;
    border-radius: 0;
}
#btn_insert_flowPopup, #btn_copyProcess_save, #btn_flow_save,#btn_flowOpt_save, #btn_close_flowClose, #btn_close_optClose, #btn_addLayoutCancel{width: 120px;height: 40px;line-height: 36px;text-align: center;font-weight: bold;display: inline-block;border-radius: 5px;box-shadow: 1px 1px 1px #ccd4eb;border: 1px solid #b8b8b8;cursor: pointer;background-color: #fff;color: #000;margin-right: 20px;}
#btn_flow_save{margin-right: 20px;}
.flw_btn_box {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.prj1104_flw_btn_box{
	margin-top: 17px;
}

/* prj1102 팝업 */
.flw_box_preview {
    height: 120px;
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
}
.dsh_flow_box {position: relative;width: 200px;height: 65px;text-align: center;border: 1px solid #ccc;margin: 30px 10px 0 10px;display:inline-block;background-color: #F0F0F0;color: #000000;-webkit-transition: background-color 0.7s,color 0.5s;transition: background-color 0.7s,color 0.5s;}
.flow_box_title {width: 100%;height: 30px;line-height: 20px;font-weight:bold;border: 3px solid transparent;border-bottom: none;}
#previewOpt.flowOptionDiv > .fa {margin: 0;}
#previewOpt.flowOptionDiv > .fa.previewOpt {display:none;}
.button_authBtn:first-child {margin-bottom: 5px;}
.button_authBtn {
    width: 100%;
    height: 42px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
.flow_auth_gridFrame{display: inline-block;width: 100%;display:none;}
.zoomBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
}
.prj1104_processCopy_mainBox>.zoomBtn{
	right: 0;
	top: 0;
}

.prj1101OptLayoutPreview {
	display:none;
    position: absolute;
    width: 1070px;
    height: 530px;
    background-color: #fff;
    z-index: 2;
}
.prj1101OptLayoutMainFrame {
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 459px;
    border: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: none;
    border-bottom:none;
}
/* flowchart custom*/
.flowchart-operator .flowchart-operator-inputs-outputs{margin:0 !important;height: 30px;line-height: 20px;}
.flowchart-operator .flowchart-operator-inputs {border-right: 1px solid;}
.flowchart-operator-outputs .flowchart-operator-connector-label{margin-right:0 !important;text-align: center !important;}
.flowchart-operator-connector-arrow{top:4px;}
.flowchart-operator-connector-small-arrow{top:9px;}