@charset "UTF-8";

body{background-color:#323c4d; width:100%; height:100%;}

#center { position:absolute; top:350px; left:50%; width:359px; height:700px; overflow:hidden; margin-top:-150px; margin-left:-159px;}
#center .logo{padding-bottom:20px; display:block;margin:0 auto;}

input[type=text],
input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 30px;
    margin-bottom: 10px;
    font-size: 12px;
    box-sizing:border-box;
    height:50px;
    /* Styles */
    background: #fff; /* Fallback */
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 50px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
    background: #fff;
}

input[type=text]:focus, 
input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #fff;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}

.login_button{
width:100%; 
height:50px;
text-align:center;
color:#fff;
border-radius:30px;
line-height:50px;
font-size:30px;
margin-bottom:20px;
cursor:pointer;
display:inline-block;

background: -moz-linear-gradient(left, #001E60 0%,#0394d2 99%,#007dc3 100%,#0084c8 100%,#00a4df 100%,#006fba 100%);
background: -webkit-linear-gradient(left, #001E60 0%,#0394d2 99%,#007dc3 100%,#0084c8 100%,#00a4df 100%,#006fba 100%);
background: linear-gradient(to right, #001E60 0%,#0394d2 99%,#007dc3 100%,#0084c8 100%,#00a4df 100%,#006fba 100%);
/* 
background: -moz-linear-gradient(left, #02a6c2 0%, #d2e638 99%, #d2e638 100%, #82c452 100%, #d2e638 100%, #dbf043 100%);
background: -webkit-linear-gradient(left, #02a6c2 0%,#d2e638 99%,#d2e638 100%,#82c452 100%,#d2e638 100%,#dbf043 100%);
background: linear-gradient(to right, #02a6c2 0%,#d2e638 99%,#d2e638 100%,#82c452 100%,#d2e638 100%,#dbf043 100%);
 */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a6c2', endColorstr='#dbf043',GradientType=1 ); IE6-9 */
}

.join_find{width:100%; color:#fff; font-size:12px;text-align:center;}
.join{display:inline-block; color: #fff;/* cursor:pointer; */}
.sbar{padding-left:10px; border-right: 1px solid rgba(255,255,255,0.3); font-size:10px;}
.find{display:inline-block; padding-left:10px; cursor:pointer;}

.div_title_txt { text-align: center; font-size: 28px; padding-bottom: 20px; color: #fff; font-weight: bold;}
