@charset "UTF-8";


/* 체크박스 */
.prj_chk { position: relative; }
.prj_chk input[type="checkbox"] { width:18px; height:18px; margin:0; opacity: 0; position: absolute; z-index: 2; }
.prj_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; }
.prj_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }
/* 체크박스 */

/* prj1000 */
.prj_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }
.menu_wrap { width: 100%; height: auto; margin-top: 10px; border: 1px solid #ccc;float:left;}
.menu_ctrl_wrap{ float:left; width: 30%; height: 100%; margin-right: -6px; font-size: 0.875em; box-sizing:border-box;border-right: 1px solid #ccc;min-height: 671px;min-width: 345px;}
.menu_ctrl_btn_wrap{ padding:0 10px; height:48px; line-height:42px; border-bottom:1px solid #ccc; }
.menu_ctrl_btn_wrap .btn_menu_add{ margin-right:5px; }
.menu_ctrl_btn_wrap .menu_all_wrap{ float:right; height:100%; }
			.menu_ctrl_btn_wrap .menu_expand_all{ display:inline-block; vertical-align:middle; margin-right:5px; width:17px; height:17px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
			.menu_ctrl_btn_wrap .menu_collapse_all{ display:inline-block; vertical-align:middle; width:17px; height:17px; background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
		.menu_lists_wrap{ padding:12px 0; overflow-y:auto; height:calc(100% - 48px); }

	.menu_info_wrap{ overflow-y: auto;float:left; width:70%; min-height:600px; padding: 20px 36px; margin-left: 6px; vertical-align:middle; font-size:0.75em; box-sizing:border-box;min-width: 805px;}
		.menu_row { }
		.top_menu_row {border-top: 1px solid #ddd;}
		
		/* font-size: 1em; 에서 12px 변경, padding-left: 4px; 추가, width: 60% 에서 64% 변경*/
		.menu_info_wrap input[type="text"], .menu_info_wrap input[type="number"]{ vertical-align:middle; margin-top:0; height:100%; font-size: 12px; border: 1px solid #c6c9d0;border-radius: .1875rem; width: 60%;min-width: 150px; padding-left: 4px;}
		.menu_info_wrap textarea{ width:100%; height:100%; border:1px solid #ccc; resize:none; border: 1px solid #c6c9d0;border-radius: .1875rem;}
		.menu_row:first-child .menu_col1,
		.menu_row:first-child .menu_col2{ border-top:1px solid #ddd; }
		.menu_row .menu_col1{float:left; clear:both; padding-left:25px; width:27%; height:70px; line-height:70px; background:#f9f9f9; border-width:0 1px 1px 0; border-style:solid; border-color:#ddd;border-left: 1px solid #ddd;}
		
		/*  .menu_row .menu_col2 → padding:20px 에서  15px 20px 15px 10px 변경*/
		.menu_row .menu_col2{border-right: 1px solid #ddd; float:left; padding:15px 20px 15px 10px; width:73%; height:70px; line-height:27px; border-bottom:1px solid #ddd; }
		.menu_row:nth-child(8) .menu_col2 label{ line-height:16px; }
.menu_col_textarea > div{height:140px !important;}
		/* select { display: block; max-width: 76px; width: 100%; height: 28px; font-size: 1em; border: 1px solid #ccc; box-sizing:border-box; } */
	input[type="checkbox"] + label:before { margin: 0 !important; }	
	input[type=text].search_txt { float: left; width: calc(100% - 49px); height: 28px; margin-right: 5px; font-size: 1em; border: 1px solid #ccc; }

.prj_table_wrap { float: left; width: 100%; max-width: 1280px; }
	.btn_box { float: right; margin-bottom: 10px; }
		.button_normal2 { min-width: 44px; background: #fff; }

	.prj_left_table_wrap {width:100%; margin-right:1% }
	.prj_table{float:left;width:100%; table-layout:fixed; border:1px solid #ccc;}
		.prj_thead { font-size:0.75em; height: 45px; color: #fff; background: #4b73eb; vertical-align: middle; border-bottom: 1px solid #6f8fef; }
		.prj_td { text-align:center; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
			.prj_table tbody{font-size:0.75em; background: #fff;}
			.prj_table tbody tr:hover { background: #f9f9f9; }
			.adm_button_wrap{width:100%; float:left; padding:20px 0px; text-align:center; background-color:#fff;}		
		
			.prj_explain{padding:21px; background-color:#fff; font-size:0.75em;}
			textarea.explain { width: 100%; height: 107px; margin-top: 10px; padding: 5px; border: 1px solid #ccc; resize: none; }
/* width: 130px; 에서 155px 변경 */
input#startDt,input#endDt {width: 155px;height: 28px;padding: 0px 10px;border: 1px solid #ccc;}
/*prj1000 (프로젝트 생성관리)*/

/*prj1001 (대 프로젝트 생성) */
.user_pop_wrap{width:661px; height:460px;}
	.pop_header{background-color:#0f73d0; font-size:14px; /*font-size:0.8em*/ color:#fff; height:44px; line-height:44px; padding:0 15px;}
	.pop_contents_wrap{padding:30px 20px; background-color:#fff; border: 1px solid #4b73eb;}
	input[type="text"].prj_pop_text{float:left; height:28px; line-height:28px; padding:0px 10px; box-sizing:border-box; width:263px; margin-right:5px;}
	.row{ height:70px; border-bottom:1px solid #ddd; }
	.row:nth-child(1){ height:86px; border-top:1px solid #ddd; }
	.row:nth-child(3){ height:127px; }
	.row .label_box,
	.row .content_box{ float:left; vertical-align:middle; }
	.row .content_box p{margin:5px 0; color:#4b73eb; font-size:12px; }
	.row .label_box{ padding:28px 20px; width:20%; height:100%; background:#f9f9f9; border-right:1px solid #ddd; color:#666; font-size:0.9em;}
	.row .content_box{ padding:20px 16px; width:80%; height:100%; }
	.row input{ margin-right:5px; padding:10px; width:315px; height:28px; color:#999; }
	.row textarea{ padding:10px; width:100%; height:87px; color:#999; resize:none; box-sizing:border-box; }
	.row input[type="radio"] + label{ top:7px; color:#4b73eb; }
	/* 
	.year{width:65px; height:28px; line-height:28px; display:inline-block; margin-right:5px; float:left;}
	.month{width:55px; height:28px; line-height:28px; display:inline-block; margin-right:5px; float:left;}
	.day{width:55px; height:28px; line-height:28px; display:inline-block; margin-right:5px; float:left;} */
	/* .calendar{cursor:pointer; background:url(/images/calendar.png) no-repeat; width:27px; height:26px; float:left; display:inline-block; margin-top:2px; margin-right:5px; margin-left:5px;} */
	
	.pop_button_box{text-align:center; margin-top:30px; width:100%;}
	.pop_c_button{font-weight:bold;cursor:pointer;font-size:0.85em;border-radius:3px;display:inline-block; width:71px; height:41px; line-height:41px; background-color:#4b73eb; color:#fff; border:1px solid #345bd0; text-align:center; margin-right:10px;}
	.pop_button{font-weight:bold;cursor:pointer;font-size:0.85em;border-radius:3px;display:inline-block; width:71px; height:41px; line-height:41px; background-color:#fff; border:1px solid #ddd; text-align:center;}
	
/*prj1001 (대 프로젝트 생성) */

/* prj2000 */
/* 
 * .tab_title
 *    - 화면 사이즈 변경에 관계없이 타이틀 부분 사이즈 고정
 *	  - width: 1603px; 추가
 */
tr > td.left_con {
	table-layout: fixed;
    word-break: break-all;
}
 
.tab_title { font-size: 2em; font-weight: bold; margin-bottom: 32px; width: 1603px;}
.tab_menu {  }
	.tab_box { position: relative; float: left; width: 100%; }
	.tab_box li { float: left; margin-left: 3px; margin-right: 2px; background: #ececec; border: 1px solid #ccc; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; cursor:pointer; }
	.tab_box li a { display: block; width: 180px; height: 46px; text-align: center; padding: 14px 0; }
	.tab_box li a:hover { background: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
	.tab_box li.on { background: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; }
	
	th { text-align: left; }
 
	/* 프로젝트 권한 관리 */
	/* 
	 * .tab_contents
	 *   - max-width: 1500px; width:100%제거
	 *   - 화면크기 변경되도 사이즈 고정되도록 하기위해  width:1500px; 으로 고정 
	 */
	.tab_contents { float: left;  width:1500px; margin-top: -1px; background: #fff; border: 1px solid #ccc; border-radius: .1875rem; padding: 25px 20px; }
	.tab_contents.authority{ display:none; }
		.left_div { position: relative; float: left; width :28%;  margin-right: 2%; border: 1px solid #ccc; border-bottom:1px solid transparent; }
			.left_table { position: relative; width :100%; font-size: 9pt; }		
				.left_title { height: 50px; padding: 15px 0 0 10px; text-align: center; background: #f9f9f9; border-bottom: 1px solid #ccc; font-weight: bold;font-size: 10pt;}
					.btn_one { float: right; position: absolute; top: 13px; right: 106px; font-size: 9pt; }
					.btn_two { float: right; position: absolute; top: 13px; right: 58px; font-size: 9pt; }
					.btn_three { float: right; position: absolute; top: 13px; right: 10px; font-size: 9pt; }
					
				.left_sub_title { background: #f9f9f9; text-align: center; font-weight: bold;font-size: 9pt;}
				.left_sub_title,
				.left_con { height: 42px; padding-left: 10px; border-bottom: 1px solid #ccc; vertical-align: middle; }				
			.right_line { border-right: 1px solid #ccc; }

	.left_con, .left_cn { cursor: pointer; }
		/*테이블 클릭 색상 */
		.table_active { background: #4b73eb; color: #fff; }
		.table_inactive { background: #fff; color: #333; }
		/*테이블 클릭 색상*/
			
		.right_div { position: relative; float: right; width :70%;  border: 1px solid #ccc; border-bottom:1px solid transparent; overflow: hidden; font-size:0.8em; }
			.right_table { width :100%;font-size: 9pt;}
				.right_title {font-size: 10pt; height: 50px; padding: 17px 0; background: #f9f9f9; border-bottom: 1px solid #ccc; text-align: center; font-weight: bold;}
					.title_align { margin-left: 5px; }
				.right_sub_title { height: 42px; background: #f9f9f9; padding-left: 10px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; vertical-align: middle; font-weight: bold;}
				.right_con { height: 42px; padding: 0 10px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; vertical-align: middle; }
			.wd1 { width: 15% !important; }
			.wd2 { width: 29% !important; }
			.wd3, .wd4, .wd5, .wd6, .wd7, .wd8, .wd9 { width: 8% !important; padding: 0 !important; text-align: center; }
			.wd9 { border-right: transparent !important; }
			.wd_2_1 { width: 13% !important; } /* 20190304 width : 15% → 13% 변경 */
			.wd_2_2 { width: 29% !important; }
			/* 20190304 .wd_2_11 추가, width : 7% → 6.6% 변경 */
			.wd_2_3, .wd_2_4, .wd_2_5, .wd_2_6, .wd_2_7, .wd_2_8, .wd_2_9, .wd_2_10, .wd_2_11{ width: 6.6% !important; padding: 0 !important; text-align: center; }
			.wd_2_11 { border-right: transparent !important; }
	/* 프로젝트 권한 관리 */
	
	/* 프로젝트 사용자 배정 */	
		.top_control_wrap { text-align: right; margin-bottom: 10px; }
			.btn_save { margin-right: 9px; }
			
			.all_table_div { font-size: 0.75em; }
				.left_td_div { float: left; width: 10%; height: 100%; margin-right: 3.3em; border: 1px solid #ccc; border-bottom: none; }
					.left_td_title { width: 100%; height: 50px; padding: 18px 0; background: #f9f9f9; text-align: center; font-weight: bold; }
					.left_tb { width: 100%; text-align: center; }
						.left_table_tt { width: 100%; height: 40px; background: #f9f9f9; text-align: center; vertical-align: middle; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }					
						.left_cn { width: 100%; height: 40px; vertical-align: middle; border-bottom: 1px solid #ccc; }
				
			.grp_td_div{ float: left; width: 20%; height: 100%; margin-right: 3.3em; border: 1px solid #ccc; border-bottom: none;     overflow-x: auto;}
			.grp_table_tt{ width: 50%; height: 40px; background: #f9f9f9; text-align: center; vertical-align: middle; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
			.grp_cn{ width: 50%; height: 40px; vertical-align: middle; border-bottom: 1px solid #ccc; }
			.grp_right_td_div { width: 39%; height: 100%; border: 1px solid #ccc; border-bottom: none; }
			
				.middle_td_div { width: 30%; height: 100%; border: 1px solid #ccc; border-bottom: none; }
					.middle_td_title { width: 100%; height: 50px; padding: 18px 30px; background: #f9f9f9; font-weight: bold; text-align: center;}
					.middle_table { width: 100%; text-align: center; }
						.middle_table_tt { height: 40px; background: #f9f9f9; vertical-align: middle; text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
						.middle_cn { text-align:center; height: 40px; vertical-align: middle; border-bottom: 1px solid #ccc; }
						.m_wd1 { width: 13% !important; }
						.m_wd2 { width: 50% !important; }
						.m_wd3 { width: 37% !important; }
			
				.btn_td_div { width: 5%; margin: 249px 0.8em; }
					.button_check { width: 58px; margin-bottom: 10px; font-size: 1em; }
				
				.right_td_div { width: 48%; height: 100%; border: 1px solid #ccc; border-bottom: none; }
					.right_td_title { width: 100%; height: 50px; padding: 18px 0; text-align: center; background: #f9f9f9; font-weight: bold; }
					.rigth_table { width: 100%; text-align: center; }
						.right_table_tt { height: 40px; background: #f9f9f9; vertical-align: middle; text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
						.right_cn { text-align:center; height: 40px; vertical-align: middle; border-bottom: 1px solid #ccc; }						
				.prj_wd1 { width: 7% !important; }
				.prj_wd2 { width: 20% !important; }
				.prj_wd3 { width: 15% !important; }
				.prj_wd4 { width: 20% !important; }
				.prj_wd5 { width: 20% !important; }
				.prj_wd6 { width: auto !important; }
			/* 프로젝트 사용자 배정 */	

/* 반응형 속성 제거 */
/*
@media screen and (min-width: 640px) and (max-width: 1190px) {
	.tab_contents { height: auto; }
	
	.left_div { float: none; width: 100%; height: auto; min-height: 300px; margin-bottom: 1%; }
	.right_div { float: none; width: 100%; height: auto; min-height: 300px; }
	
	.left_td_div { float: none; width: 100%; margin-bottom: 10px; }
	.middle_td_div { width: 100%; }
	.btn_td_div { display: inline-flex; width: 100%; margin: 15px 0 5px 0; }
		.btn_td_div img { transform: rotate(90deg); }
	.right_td_div { width: 100%; }
	
	.btn_save { margin-right: 0; }
}
*/
/*prj1100.jsp*/
/* 
 * .prj_title
 *    - 화면 사이즈 변경에 관계없이 타이틀 부분 사이즈 고정
 *	  - min-width: 1280px; 추가
 */
.prj_title { font-size:2em; font-weight: bold; margin-bottom: 30px; width:100%; min-width: 1280px;}
.prj_search_box{ max-width:1200px; min-width:864px; padding:32px 24px; background:#fff; margin-bottom: 25px; border:1px solid #ccc; }
.prj_search_box span{ vertical-align:middle; display:inline-block; }
.prj_search_box span select{ min-width:200px; height:28px; }
	.prj_search_title{ font-weight:bold; margin-right:10px; }

.prj_mgr{ max-width:1200px; min-width:864px; border:1px solid #ccc; }
	.prj_mgr_title{ padding:14px; background:#4b73eb; color:#fff; text-align:center; font-weight:bold; }
	.prj_mgr_box{ padding:16px 20px; }
	.prj_mgr_box.first{ background:#f9f9f9; border-bottom:1px dotted #ccc; }
	.prj_mgr_box.last{ background:#fff; }
		.prj_drag_explain{ font-size:0.8em; margin-top:10px; color:#666;    text-align: left; }
		.prj_drag_box{ height: 30px; }
			.prj_drag{ 
				display:inline-block; width:139px; height:55px; border:1px solid #ccc; position:relative;
				vertical-align:middle; margin:0px 25px 10px 0px;; line-height:51px; text-align:center; cursor:pointer;
				box-shadow:2px 2px 3px #ddd; background:#fff;
			}
			.prj_drag.none{ box-shadow:none; background:none; }
			.prj_drag.plus{ box-shadow:none; border:1px solid #4b73eb; background: #fff; }
			.prj_drag:not(.complete):after{ content:"▶"; color:#4b73eb; font-size:0.8em; position:absolute; right:-20px; }
				.prj_drag span{ display:inline-block; font-weight:bold; }
				.prj_drag span.number{ color:#4b73eb; }
				.prj_drag span.content{ color:#333; }
				.prj_drag.none:not(.plus) span{ color:#999; }
	.flowGrpDiv {display:block;margin: 10px 0;border: 1px solid #ccc;border-radius: 5px;box-shadow: 1px 1px 5px #ddd;cursor: pointer;}
	.flowGrpDiv.none{cursor:default;}
	.prj_btn_grp {float: right;margin: 0 10px;}
	.mgr_drag {width: 100%;height: 70px;display: block;background: #fff;}
	.mgr_drag.none{ background:#f9f9f9; box-shadow:none;}
	.mgr_drag.none:nth-child(2){border-top: 1px solid #ccc;}
	.mgr_drag:nth-child(2){border-top: 1px solid #ccc;}
		.mgr_drag .align_left{ float:left; width:88%; }
			.mgr_drag .align_left span{ display:inline-block; vertical-align:middle; }
			.mgr_drag .align_left .mgr_circle{ padding:10px 9px; border-radius:20px; background:#4b73eb; color:#fff; margin:0 2%; font-weight:bold; }
			.mgr_drag.none .align_left .mgr_circle{ background:#000; }
			.mgr_drag .align_left .mgr_title{ margin-right:2%; font-weight:bold; font-size:1em; width:25%;line-height: 70px;}
			.mgr_drag .align_left .mgr_ipt{ color:#666; font-size:0.9em; width:100px; }
			.mgr_drag .align_left	.mgr_content{ width:50%; color:#666; font-size:0.9em; line-height:22px; }
		
		.mgr_drag .align_right{ float:right; }
			.mgr_drag .align_right div{ display:inline-block; vertical-align:middle; }
			.mgr_drag .mgr_btn{ width:60px; margin-right:20px; }
				.mgr_drag .mgr_btn .button_normal2{    width: 70px;margin:3px 0; background:#fff; }
			.mgr_drag .mgr_action{ width:30px; border-left: 1px solid #ccc; background:#4b73eb; color:#fff; border-top-right-radius:5px; border-bottom-right-radius:5px; }
			.mgr_drag.none .mgr_action{ background:#000; text-align:center; font-size:0.7em; }
				.mgr_drag .mgr_action span{ 
					display: inline-block; 
					padding: 0 9px; 
					height: 70px; 
					line-height: 70px; 
					text-align: center;
					font-size: 0.6em;
					font-weight: bold;
					cursor: pointer;
				}
				.mgr_drag .mgr_action .button_up{ border-bottom: 1px solid #ccc;  }
				.mgr_drag .mgr_action .button_down{  }
				.mgr_drag .mgr_action .button_null{height: 70px;}
				
		.mgr_plus{ 
			height:auto; border-radius:5px; padding:20px; background:#fff !important;
			 text-align:center; font-weight:bold; cursor:pointer; box-shadow:none;
		}
			.mgr_plus .mgr_icon{ color:#4b73eb; font-size:1.4em; vertical-align:middle; }
			.mgr_plus .mgr_process{ vertical-align:middle; }

.mgr_pop{ text-align:left; }
	.pop_title{ height: 44px; line-height: 44px; padding: 0 15px; background:#0f73d0; color:#fff; font-size: 14px; }
	.pop_content{ padding:20px; }
		.pop_rows{ width:100%; display:table; border-bottom:1px solid #ccc; }
		.pop_rows:first-child{ border-top:1px solid #ccc; }
			.pop_rows span{ display:table-cell; vertical-align:middle; }
			.pop_name{ width:130px; border-right:1px solid #ccc; background:#f9f9f9; text-indent:20px; font-size:0.9em; }
			.pop_inp{ padding:20px 16px; }
				.pop_inp input{ height: 28px; line-height: 28px; padding:0px 10px; width:100%; }
				.pop_inp textarea{ width:100%; height:70px; resize:none; }
	.pop_btn{ text-align:center; margin-top:10px; }
		.pop_btn span{ width:70px; height:40px;  line-height: 36px; cursor: pointer; font-size: 0.85em; border-radius: 3px;  display: inline-block;  text-align: center; font-weight: bold; }
		.pop_mgr_reg{ background: #4b73eb;  border: 1px solid #345bd0; color: #fff; margin-right: 10px; }
		.pop_close{ background: #fff;  border: 1px solid #ccc; }
/* 반응형 속성 제거 */
/*		
@media screen and (min-width: 640px) and (max-width: 1200px) {
	.mgr_drag .align_left	.mgr_content{ width:60%; }
}
*/
.colorSetDiv{clear: both;width: 450px;display: inline-block;margin-left: 30px;}
/* 막대 그래프 부분 */
.pop_view_right_div{
	float: left;
    width: 200px;
    height: 100%;
    margin: 10px 30px;
    }
.period_total_wrap { width: 100%; float: left; }
.period_wrap {width: 100%;box-sizing: border-box; background: #000000; float: left; margin-right: calc(1%/ 6); }
.period_wrap:nth-child(6n) { margin-right: 0px; }
.period_title_wrap { height: 64px; color: #fff; padding: 12px 8px; float: left; width: 100%; position: relative; }
.period_title { font-size: 1em; margin-bottom: 15px; }
.fraction { font-size: 0.85em; }
.more_btn { float: right; border: 1px solid; border-radius: 4px; box-sizing: border-box; width: 41px; height: 17px; text-align: center; font-size: 0.85em; position: absolute; top: 8px; right: 8px; cursor: pointer; }
.period_list { background: #000000; min-height: 151px;  float: left; width: 100%;height:574px; }
/* prj2000 */

/* prj2001 */
/* 팝업창 */
.popup { display: block; background: #fff; font-size: 0.75em; z-index: 2; }
	.pop_title { width: 593px; height: 40px; padding: 11px 15px; background: #4b73eb; color: #fff; font-size: 1em; }
	.pop_sub { width: 593px; padding: 30px 20px; text-align: center; }
	
		.pop_sub1 { width: 120px; height: 85px; padding: 30px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }
		.pop_sub1_input { width: 432px; height: 85px; padding: 20px 20px; margin-left: 120px; border-top: 1px solid #ccc; text-align: left; }
			input[type="text"].group_tx { width: 263px; height: 28px; margin-right: 1%; }
			.btn_paddin { padding: 5.5px 9px; }
			.hidden_info { display: none; color: #4b73eb; margin-top: 5px; }
			
		.pop_sub11 { width: 120px; height: 69px; padding: 30px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }
		.pop_sub11_input { width: 432px; height: 69px; padding: 20px 20px; margin-left: 120px; border-top: 1px solid #ccc; text-align: left; }
				
		.pop_sub2 { width: 120px; height: 69px; padding: 26px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }
		.pop_sub2_input { width: 432px; height: 69px; padding: 25px 20px; margin-left: 120px; border-top: 1px solid #ccc; text-align: left; }
			input[type="checkbox"].PO_ck { vertical-align: middle; }
			input[type="checkbox"].SM_ck { margin-left: 15px; vertical-align: middle; }
			input[type="checkbox"].ST_ck { margin-left: 15px; vertical-align: middle; }
			input[type="checkbox"].TT_ck { margin-left: 15px; vertical-align: middle; }
			input[type="checkbox"].CS_ck { margin-left: 15px; vertical-align: middle; }
		
		.pop_sub3 { width: 120px; height: 128px; padding: 30px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; text-align: left; }
		.pop_sub3_input { width: 432px; height: 128px; padding: 20px 20px; margin-left: 120px; border-top: 1px solid #ccc; text-align: left; }
			input[type="text"].note_tx { width: 410px; height: 87px; border: 1px solid #ccc; }
			.note_tx { width: 410px; height: 87px; resize: none; overflow: hidden; }
		
		.pop_sub4 { width: 120px; height: 69px; padding: 26px 25px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; text-align: left; }
		.pop_sub4_input { width: 432px; height: 69px; padding: 25px 20px; margin-left: 120px; margin-bottom: 30px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; text-align: left; }

		.save_btn,
		.exit_btn { display: inline-block; width: 67px !important; height: 40px !important; padding: 5px 0; font-size: 1em; }
/* prj2001 */


/* prj1200 */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.step-box input[type=text], .step-box input[type=number], .step-box select {
    width: 50% !important;
    height: 100% !important;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.step-box #wizard_startDt,.step-box #wizard_endDt{width:100%;}
.step-box textarea {
    width: 50%;
    height: 100%;
    padding: 10px;
    resize: none;
    font-size: 13px;
    border: 1px solid #ccc;
    overflow-y: auto;
}
.dateFrame{float:left;width:24%;height: 100%;}

/* prj4000 */
.prj4000TitleTd {width: 1230px; min-height: 170px; padding: 15px;  font-size: 0.75em; background: #fff;  border: 1px solid #ccc;display: inline-block; }
.prj4000LeftDiv {
    display: inline-block;
    width: 300px;
    border: 1px solid #ccc;
    float: left;
    background-color: #fff;
    margin-right: 6px;
    padding: 15px;
}
.prj4000EventInsertBtn:hover,
.prj4000EventInsertBtn:hover > i {
	background-color: #4b73eb;
    color: #fff;
}
.prj4000EventInsertBtn {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.prj4000EventInsertBtn > i {
    color: #4b73eb;
}
.prj4000EventDeleteArea {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 170px;
    line-height: 170px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    margin-top: 5px;
    color: #424242;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.prj4000EvtDeleteArea {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 170px;
    line-height: 40px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    margin-top: 5px;
    color: #424242;
    padding: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
span.prj4000EvtDragDelete {
    font-size: 12px;
    display: block;
}
.prj4000EventGroupList {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 355px;
    text-align: left;
    margin-top: 5px;
    color: #424242;
    padding: 10px 0;
    font-size: 13px;
	overflow-y: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.prj4000EventGroupFrame {
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    cursor:pointer;
}
.prj4000EventGroupFrame:hover {
    background-color: #eaeaea;
}
.prj4000EventGroupChkBox {
    display: inline-block;
    float: left;
}
.prj4000EventGroupNm {
    display: inline-block;
    width: 210px;
    float: left;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.prj4000EventGroupNm > label{
	margin-bottom: 0;
	cursor:pointer;
	width: 100%;
}
.prj4000Datepicker {
    min-height: 350px;
}
#btn_select_reqDetailPopup{display:none;}