@charset "UTF-8";
/* 
 * .tab_contents.menu
 *   - max-width: 1500px; width:100%제거
 *   - 화면크기 변경되도 사이즈 고정되도록 하기위해  width:1500px; 으로 고정 
 */
.tab_contents.menu {display: inline-block;width: 1500px;;height: auto;padding: 20px;background: #fff;border-radius: .1875rem;border: 1px solid #ccc;margin-bottom: 15px;}
.tab_contents.menu > .menuTitle {font-weight: bold;padding: 0 10px 5px 10px;font-size: 1em;margin-bottom: 15px;border-bottom: 1px solid #ccc;}
.historyPrjSel {height: 40px;width: 100%;padding: 5px;font-size: 0.9em;}
.historyUsrSel {height: 60px;width: 100%;padding: 5px;font-size: 0.9em;border-bottom:1px solid #ccc;overflow-x: auto;}
.historySearch {height: 40px;width: 100%;padding: 5px;font-size: 0.9em;}
.typeLabel {border: 1px solid #b9b7b7;padding: 7px;float: left;outline: 1px solid #828282;width: 80px;text-align: center;margin-right: 15px;}
.typeBox {border: 1px solid #b9b7b7;padding: 7px;float: left;border-right: none;cursor: pointer;outline: 1px solid #7b94de;min-width: 85px;text-align: center;}
.typeBox:last-child{border-right:1px solid #5d5d5d;}
.typeBox.selected {background-image: linear-gradient(to top, #4b73eb 0%, #7392ec 100%);color:#fff;}
.tab_contents.menu.historyDataMain {margin-top: 10px;}
.dplDisabled, .flowDisabled, .usrDisabled, .typeDisabled{display:none !important;}
.searchBox {float: left;}
.searchBox>input[type="text"] {height: 30px;width: 257px;width: 800px;padding: 0 10px;}
.pairTicketMainBox {width: 1200px;height: 100%;font-size:0.85em}
.pairFlowMainBox {width: 1200px;min-height: 150px;display: inline-block;}
.pairFlowBox {width: 200px;display: inline-block;height: 30px;line-height: 20px;padding: 5px;padding-left: 20px;border: 1px solid rgba(0, 0, 0, 0.4);border-radius: 10px 10px 0 0;background-color: #fff;border-bottom: none;box-shadow: 1px 0 0 rgba(0, 0, 0, 0.7);background-image: linear-gradient(to top, #09203f 0%, #537895 100%);color:#fff;float:left;}
.pairReqMainBox {float:left;width: 1200px;min-height: 160px;border: 1px solid rgba(0, 0, 0, 0.4);background-color: #fff;padding: 5px;margin-bottom: 10px;box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);background-image: linear-gradient(to top, #739bba 0%, #274c7d 100%);}
.pairReqBox {margin: 5px;height: 150px;width: 280px;border: 1px solid #ececec;background: #fff;background-blend-mode: normal,color-burn;display: inline-block;border-radius: 5px 5px 0 0;-webkit-box-shadow: 1px 1px 3px 0px rgba(247,242,247,1);-moz-box-shadow: 1px 1px 3px 0px rgba(247,242,247,1);box-shadow: 1px 1px 1px 0px rgba(247,242,247,1);}
.pairReqBox:hover{cursor:pointer;}
.reqTop_prjNm {width: 240px;height: 20px;line-height: 20px;border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;display: inline-block;float: left;padding-left: 5px;font-weight: bold;overflow: hidden;}
.reqTop_boardCnt {width: 37px;display: inline-block;border-bottom: 1px solid #ececec;height: 20px;line-height: 20px;text-align: center;background: #ebecf3;border-radius: 0 5px 0 0;}
.pairReqTop {height: 20px;}
.pairReqBottom {height: 129px;}
.reqBottom_user {width: 100px;height: 128px;float: left;border-right: 1px solid #ececec;}
.reqBottom_reqNm {width: 177px;float: left;padding: 5px;height: 129px;}
.reqBottom_reqNm > span{color: #444;font-weight: bold;}
.userImgBox {text-align: center;padding-top: 20px;margin-bottom: 10px;height: 70px;}
.userNmBox {height: 48px;text-align: center;font-weight: bold;}
.flowDplSelList{background: none;border: none;color: #fff;width: 150px;padding-left:4px;-moz-appearance: none;-webkit-appearance: none;appearance: none;}
.flowDplSelList > optgroup,.flowDplSelList > optgroup > option{color:#000;}
.flowDplSelList:hover{padding-left:0;text-decoration: underline;-moz-appearance: menulist;-webkit-appearance: menulist;appearance: menulist;}

/* 가로형 상세 박스  */
#detailDiv{position: fixed;z-index:10;background-color: #fff;border: 1px solid #4badeb;border-radius: 5px;display:none;}
.detailDivW{width:600px;height:325px;}
.detailDivH{width:300px;height:900px;}
.req_sub_width_div{width: calc(100% / 2);float:left}
.req_sub_width_topheader { width: 100%; padding: 10px 22px; border-bottom: 1px solid #ddd;border-right: 1px solid #ddd; }
.req_sub_width_header_title { line-height: 1.5; font-size: 0.75em; }
.req_sub_width_contents {width: 100%; border-bottom: 1px solid #ddd; padding: 15px 19px; font-size: 0.75em;border-right: 1px solid #ddd; }
.req_sub_width_right_contents {width: 100%; border-bottom: 1px solid #ddd; padding: 5px 19px; font-size: 0.75em; }
.req_sub_width_contents:last-child { margin-bottom: 0px; }
.r_s_w_line { margin-bottom: 10px; width: 100%; float: left; }
.r_s_w_left { display: inline-block; width: 30%; float: left; }
.r_s_w_right { display: inline-block; width: 70%; float: left; }
.req_sub_width_contents_box { border:1px solid #ccc; width:100% !important; height:85px; padding:2px; box-sizing:border-box; overflow-y:auto; resize:none;}
.req_sub_width_title{width: 100%;padding: 5px 10px;border-bottom: 1px solid #ddd;font-size: 0.9em;height: 25px;font-weight: bold;}
.btn_box {float: left;text-align: center;}
.usrDisabled, .prjDisabled{display:none !important;}