@charset "UTF-8";
/* 체크박스 */
.prs_chk { position: relative; }
.prs_chk input[type="checkbox"] { width:18px; height:18px; margin:0; opacity: 0; position: absolute; z-index: 2; }
.prs_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; }
.prs_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }
/* 체크박스 */

/*prs1000*/
	.prs_title{ font-size: 2em; font-weight: bold; margin-bottom: 30px;}
	.set_prs1000{ width: 100%; max-width: 1280px; height:auto; min-height: 506px; background: #fff; font-size: 1em; font-weight: bold; }
	.title_prs1000{ width: 100%; height: auto; min-height: 393px; padding: 35px 30px 40px 30px; }
	.btn_prs1000{ width: 100%; height: auto; min-height: 102px;  text-align: center; padding: 30px; }
		.set_btn{ width: 150px; height: 40px; line-height: 40px; text-align: center; font-weight: bold; font-size: 1em; border-radius: 5px; margin: 0 auto; cursor: pointer; display: inline-block; }
		.exit_btn{ border: 1px solid #bbb; margin-right: 5px; }
		.restart_btn{ border: 1px solid #345bd0; color: #fff; background: #4b73eb; }
	
	/*튜토리얼 진행단계*/
	.tutorial{ float: left; width: 100%; margin-bottom: 30px; }
	.tutorial_title{ float: left; margin-right: 20px; font-weight: bold; margin-top: 5px;  }
	.tutorial_stage{ width: 72%; height: 20px; border-radius: 15px; float: left; background: #cbd4de; margin-right: 10px; margin-top: 5px; }
	.tutorial_stage > span{ display: inline-block; height: 20px; border-radius: 15px 0 0 15px; }
	.tutorial_stage_num{ float: left; color: #333; font-size: 0.9em;}
	.tutorial_progress{ color: #4b73eb; line-height: 26px; }
	.tutorial_next_btn{ width: 70px; height: 30px; border: 1px solid #b8b8b8; font-weight: bold; display:inline-block; font-size: 0.75em; line-height: 25px; text-align: center; float: right; cursor:pointer;}
	.detail_next {clear: both; text-align: center;}
	.now_next_btn{ width: 120px; height: 30px; border: 1px solid #b8b8b8; font-weight: bold; display:inline-block; font-size: 0.75em; line-height: 25px; text-align: center; cursor:pointer; background: #fff;}
	
	/*현재진행단계 박스위에 붙은 화살표*/
	.arrow{ width:72%; margin-left: 14%; }
	.arrow_border{border-color:transparent transparent #ccc transparent;border-style:solid; border-width:17px; width:0;height:0; margin-top: 15px;}
	.arrow_inside{border-color:transparent transparent #f9f9f9 transparent;border-style:solid; border-width:17px; width:0;height:0; margin-top: -44px; float: left; }
	
	/*현재진행단계 크기*/
	.now_stage{ width: 100%; height: auto; min-height: 270px; background: #f9f9f9; border: 1px solid #cccccc; }
	.now_stage_title{ width: 100%; height: 40px; border-bottom: 1px solid #ccc; padding: 10px 20px;}
	.now_stage_title span:nth-child(1){ font-weight: 100;}
	
	.now_inventory{ width: 100%; height: auto; min-height: 230px; padding: 35px 10px; display: inline-block; }
	.now_list{ cursor: default; float: left; width: 230px; height: 60px; display: inline-block; border: 1px solid #ccc; margin-right: 20px; margin-bottom: 20px; background: #fff; }
	.now_list_num{width: 50px; height: 58px; display:inline-block; padding: 20px 15px; border-right: 1px solid #ddd; background: #f9f9f9; }
	
	/*진행후 , 진행중 단계 표시*/
	.title_end{ background: #f9f9f9; color: #999; }
	.title_progress{ border: 1px solid #4b73eb; }
	.title_progress .now_list_num{ background: #4b73eb; color: #fff; }
	
	/*현재진행단계*/
	.now_inventory_sort{ width: 1000px; height: auto; min-height: 160px; float: left; overflow: hidden; }
	.now_inventory_list{ float: left; }
	.now_inventory_page{ float: left; }
	.now_inventory_prev{ cursor: pointer; background: #fff; width: 30px; height: 100px; display: inline-block; margin: 20px 0; margin-right: 40px; float: left; border: 1px solid #b8b8b8; color: #ababab; line-height: 90px; text-align: center; font-weight: 100; font-size: 2em}
	.now_inventory_next{ cursor: pointer; background: #fff;  width: 30px; height: 100px; display: inline-block; margin: 20px 0; float: right; border: 1px solid #b8b8b8; color: #ababab; line-height: 90px; text-align: center; font-weight: 100; font-size: 2em}
	
	.now_inventory_list span:nth-child(5n){ clear: both; }
	
	/* 반응형 속성 제거 */
	/*
	@media screen and (max-width: 1350px){
		.arrow{ width: 70%; margin-left: 14%; }
		.now_inventory_prev{ margin: 100px 0; margin-right: 26%; }
		.now_inventory_next{ margin: 100px 0; }
		.now_inventory_sort{ width: 500px; }
		.tutorial_stage{ width: 70%; }
		.now_inventory_list span:nth-child(4n-1){ clear: both; }
	}
	@media screen and (max-width: 1300px){
		.arrow{ width: 68%; margin-left: 15%; }
		.now_inventory_prev{ margin-right: 24%; }
		.tutorial_stage{ width: 68%; }
	}
	@media screen and (max-width: 1250px){
		.arrow{ width: 68%; margin-left: 16%; }
		.now_inventory_prev{ margin-right: 22%; }
		.tutorial_stage{ width: 68%; }
	}
	@media screen and (max-width: 1200px){
		.arrow{ margin-left: 17%; }
	}
	@media screen and (max-width: 1150px){
		.arrow{ width: 66%; margin-left: 17%; }
		.now_inventory_prev{ margin-right: 21%; }
		.tutorial_stage{ width: 66%; }
	}
	@media screen and (max-width: 1100px){
		.arrow{ width: 66%; margin-left: 17%; }
		.now_inventory_prev{ margin-right: 19%; }
		.tutorial_stage{ width: 64%; }
	}
	@media screen and (max-width: 1050px){
		.arrow{ width: 63%; margin-left: 19%; }
		.tutorial_stage{ width: 62%; }
	}
	@media screen and (max-width: 1025px){
		.arrow{ width: 60.5%; margin-left: 19.5%; }
		.now_inventory_prev{  margin-right: 125px; }
		.tutorial_stage{ width: 60%; }
		// .now_inventory_page{ padding-left: 95px; }
	}
	
	@media screen and (max-width: 800px){
		.set_prs1000{ font-size: 0.65em; }
		.now_inventory_list span:nth-child(n){ clear: both; }
		.now_inventory_prev{ margin: 260px 0; margin-right: 120px; }
		.now_inventory_next{ margin: 260px 0; }
		.now_inventory_sort{width: 250px; }
		.tutorial_stage{ margin-right: 5px; }
		.tutorial_maxstage{ margin-right: 1px;}
	}
	*/
/*prs1000*/

/*prs1100*/

	.onoffswitch {
	  position: relative; 
	  height: 30px;
	  padding: 5px;
	  display : inline-block;
	  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	}
	.onoffswitch-checkbox {
	    display: none;
	}
	.onoffswitch-label {
	    display: block; overflow: hidden; cursor: pointer;
	    border-radius: 20px;
	    width: 35px;
	    height: 15px;
	}
	.onoffswitch-inner {
	    display: block; width: 200%; margin-left: -100%;
	    transition: margin 0.3s ease-in 0s;
	}
	.onoffswitch-inner:before, .onoffswitch-inner:after {
	    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	    box-sizing: border-box;
	}
	.onoffswitch-inner:before {
	  /*content: "ON";*/
	  content:"";
	    padding-left: 10px;
	    background-color: #90acff; color: #FFFFFF;
	}
	.onoffswitch-inner:after {
	  /*content: "OFF";*/
	  content:"";
	    padding-right: 10px;
	    background-color: #b9b8b8; color: #999999;
	    text-align: right;
	}
	.onoffswitch-switch{
	    display: block;
		background:#f1f1f1;
	    position: absolute; top: 0; bottom: 0;
	    width: 23px;
	    height: 23px;
	    right: 20px;
	    border-radius: 20px;
	    transition: all 0.3s ease-in 0s; 
	}
	
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	    margin-left: 0;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		background:#4b73eb;
	    right: 0px; 
	}
	
	/* 
	 * .prs_title
	 *    - 화면 사이즈 변경에 관계없이 타이틀 부분 사이즈 고정
	 *	  - min-width: 1280px; 추가
	 */
	.prs_title{ font-size: 2em; font-weight: bold; margin-bottom: 30px; width: 100%; min-width: 1280px;}
	.set_prs1100{ width: 100%; max-width: 1280px; height: 100%; background: #fff; font-size: 1em; font-weight: bold; }
	.title_prs1100{ width: 100%; }
		.set_title{ width: 100%; height: 51px; border-bottom: 1px solid #ddd; padding: 15px 20px; }
	.btn_prs1100{ width: 100%; height: 100px; text-align: center; padding: 30px; }
		.set_btn_prs1100{ width: 70px; height: 40px; line-height: 40px; text-align: center; font-weight: bold; font-size: 1em; border-radius: 5px; color: #fff; background: #4b73eb; margin: 0 auto; border: 1px solid #345bd0; cursor: pointer; display: inline-block; }
	
	.title_name{ color: #000; }
	.title_name.off{ color: #999; }
	
	.set_title div{ float: right;}
/*prs1100*/

/* prs2000 */
a { text-decoration: none !important; color: #333; }

.pc_div_table { display: inline-block; width: 100%; text-align: center; border: 1px solid #cccccc; font-size: 0.75em; border-radius: 3px; }
	.pc_table_top { height: 43px; padding: 15px 0; color: #fff; background: #4b73eb; border-top-left-radius: 3px; border-top-right-radius: 3px; }
		.common_pd { padding: 0 20px;  }
		.pc_one_div { width: 15%; height: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
		.pc_two_div { width: 20%; height: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
		.pc_th_div { width: 40%; height: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
		.pc_fo_div { width: 10%; height: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
		.pc_fi_div { width: 15%; height: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.empty { width: 100%; height: 15px; background: #fff; }
	.table_bottom { height: 40px; padding: 14px 0; background: #fff; border-top: 1px solid #ccc; }
	/* .table_bottom:hover { background: #f9f9f9; } */
		.text_left { text-align: left; }

.mobile_table { display: none; }

/* 반응형 속성 제거 */
/*	
@media screen and (max-width: 640px) { // 875px
	.main_contents { padding: 0; }
	
	.pc_div_table { display: none; }
	
	.mobile_table { display: inline-block; padding: 16px; font-size: 0.75em; border-bottom: 1px solid #ccc; background: #fff; }
		.mobile_table_top { color: #666; }
			.table_title {  }
			.table_sub_title {  }
		.mobile_table_middle { padding: 16px 0; font-size: 0.95em; font-weight: bold; line-height: 2; }
		.mobile_table_bottom { color: #666; }
			.table_people {  }
			.table_date {  }
		.img_bar { padding: 0 5px; }
}
*/
/* prs2000 */

/* prs3000 */
.info_title { font-size: 2em; font-weight: bold; padding-bottom: 20px; }
.info_table { max-width: 1280px; width: 100%; height: 714px; font-size: 0.75em; padding: 40px 36px; border: 1px solid #ccc; border-radius: 3px; background: #fff; overflow: auto; }
	.box_1 { width: 200px; /* height: 70px; */ /* padding: 28px 0 0 25px; */padding: 28px 25px 25px 25px; float: left; }
	.box_2 { width: 200px; height: 85px; padding: 25px 0 0 25px; background: #f9f9f9; float: left; }
	.box_3 { width: 200px; height: 112px; padding: 35px 0 0 25px; background: #f9f9f9; border-bottom: 1px solid #ccc; float: left; }
	.box_4 { width: 200px; height: 105px; padding: 28px 0 0 25px; float: left; }
		.box_line { background: #f9f9f9; border-top: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;}
		
	.input_box_1 { /* height: 70px; */ height: 50px; padding: 21px 20px 0 20px; margin-left: 200px; border-top: 1px solid #ccc; }
	.input_box_2 { height: 85px; padding: 21px 20px 0 20px; margin-left: 200px; border-top: 1px solid #ccc; }
		.hidden_info_1 { display: none; margin-top: 5px; color: #4b73eb; }
		.hidden_info_2 { display: none; margin-top: 5px; color: #ff0000; }
	.text_btn_div { position: relative; display: inline-block; width: 100%; max-width: 370px; }
	
	/* padding: 20px 20px 0 20px; 에서 15px 20px 15px 10px 변경 */
	.input_box_3 { height: 112px; padding: 15px 20px 15px 10px; margin-left: 200px; border-top: 1px solid #ccc; }
	.input_box_4 { height: 105px;padding: 10px 20px 0 20px; margin-left: 200px; border-top: 1px solid #ccc;}
	.note_bottom_line { border-bottom: 1px solid #ccc; }
	
	.btn_ok_div {text-align: center;clear: both;}
	
	input[type=text],
	input[type=password] {/*  max-width: 289px; */ width: 100%; height: 28px; border: 1px solid #ccc; }
	input[type=text].inputWkTm { background: #eee; width:50px;text-align:center; }
	input[type=text].input_id { background: #eee; }
	input[type=text].input_email { width: calc(100% - 63px - 1%); }
	input[type=text].input_note { max-width: 100%; height: 70px; }
	
	/* padding: 5px 5px 5px 5px; font-size:12px; 추가 */
	.input_note { width: 100%; height: 70px; resize: none; overflow: hidden; border: 1px solid #ccc; padding: 5px 5px 5px 5px; font-size:12px; overflow-y: auto;}
	.input_btn { position: absolute; top: 0; right: 0; float: right; background: #fff; font-size: 0.9em; }
	
/* 반응형 속성 제거 */
/*		
@media screen and (max-width: 640px) { // 875px 
	.prs3000_contents { padding:40px 32px; }
	
	.info_title { display: none; }
	.info_table { position: relative; padding: 0; border: transparent; border-radius: 0; background: transparent; }
		.box_1,
		.box_2,
		.box_3 { width: 100%; height: 15px; padding: 0; float: none; }
			.box_line { margin-bottom: 5px; background: transparent; border: transparent; }
		.box_4 { margin-top: 40px; }
		
		.input_box_1,
		.input_box_2 { height: 28px; padding: 0; margin-left: 0; border: transparent; margin-bottom: 20px; }
		.input_box_3 { height: 120px; padding: 0; margin-left: 0; border: transparent; margin-bottom: 20px; }
			.hidden_info_1 { display: none; margin-bottom: 20px; }
			.hidden_info_2 { display: none; margin-bottom: 20px; }
		.text_btn_div { position: relative; max-width: 100%; }
		
		.btn_ok_div { margin-top: 30px; text-align: center; }
		
		input[type=text],
		input[type=password] { max-width: 100%; height: 28px; }
		input[type=text].input_email { max-width: calc(100% - 63px - 1%); }
		input[type=text].input_note { width: 100%; height: 120px; }
		input[type=button].input_btn {  }
		input[type=button].input_btn_ok { width: 100px; height: 40px; }
}
*/
/* prs3000 */

/* prs4000 */
.prs4000TitleTd {width: 1230px; min-height: 170px; padding: 15px;  font-size: 0.75em; background: #fff;  border: 1px solid #ccc;display: inline-block; }
.prs4000LeftDiv {
    display: inline-block;
    width: 300px;
    border: 1px solid #ccc;
    float: left;
    background-color: #fff;
    margin-right: 6px;
    padding: 15px;
}
.prs4000EventInsertBtn:hover,
.prs4000EventInsertBtn:hover > i {
	background-color: #4b73eb;
    color: #fff;
}
.prs4000EventInsertBtn {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.prs4000EventInsertBtn > i {
    color: #4b73eb;
}
.prs4000EventDeleteArea {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 170px;
    line-height: 170px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    margin-top: 5px;
    color: #424242;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.prs4000EvtDeleteArea {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 170px;
    line-height: 40px;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    margin-top: 5px;
    color: #424242;
    padding: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
span.prs4000EvtDragDelete {
    font-size: 12px;
    display: block;
}
.prs4000EventGroupList {
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    display: block;
    height: 355px;
    text-align: left;
    margin-top: 5px;
    color: #424242;
    padding: 10px 0;
    font-size: 13px;
	overflow-y: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.prs4000EventGroupFrame {
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    cursor:pointer;
}
.prs4000EventGroupFrame:hover {
    background-color: #eaeaea;
}
.prs4000EventGroupChkBox {
    display: inline-block;
    float: left;
}
.prs4000EventGroupNm {
    display: inline-block;
    width: 210px;
    float: left;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.prs4000EventGroupNm > label{
	margin-bottom: 0;
	cursor:pointer;
	width: 100%;
}
.prs4000Datepicker {
    min-height: 350px;
}
#btn_select_reqDetailPopup{display:none;}
/* prs4000 */