@charset "UTF-8";
.req4116_pop_sub{
	padding-left: 15px !important;
    padding-right: 15px !important;
}
.pop_sub-scroll{
	padding: 8px 9px 8px 9px !important;
	overflow-y: auto;
    height: 445px;
    border: 1px solid #ccc;
}
.pop_sub_box{
	margin-top: 16px;
}
.pop_sub_box:first-child{
	margin-top: 0;
}
.pop_sub_box:last-child{
	margin-bottom: 5px;
}
.pop_sub_box-title{
	min-width: 150px;
	font-weight: bolder;
    padding-left: 10px;
    min-width: 150px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #f9f9f9;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
    text-align: left;
    font-size: 13px;
}
.pop_sub_box-title>i{
	margin-right: 5px;
}
.pop_sub_box-content{
    flex: 1 1 auto;
    text-align: left;
    padding: 5px;
    height: 170px;
    overflow: auto;
    border: 1px solid #ccc;
    /* margin-top: 10px;
    background-color: #f9f9f9; */
}
.pop_sub_box-content>.file_frame_box:hover .file_contents{
	color: #fff;
}
.pop_sub_box-content>.file_frame_box{
	border-radius: .185rem;
}
.pop_sub_box-content>.file_frame_box .file_contents>span{
	float: right;
	margin-right: 5px;
}