@charset "UTF-8";
.layer_popup_box {font-size: 0.9em; }
.popup_title_box { width: 100%; height: 44px; padding: 15px; font-size: 1.05em; font-weight: bold; color: #fff; background-color: #4b73eb;}
/* .top_box { width: 100%; height: 322px; border-bottom: 1px solid #ccc;    padding: 3px 0; } 2018.10.02 김정환 */
.top_box { width: 100%; height: 275px; padding: 3px 0; }
/* .middle_box{width: 100%;height:410px;border-bottom:1px solid #ccc;} 2018.10.02 김정환 */
.middle_box{width: 100%;height:458px;border-bottom:1px solid #ccc;}
/* .btn_box { width: 100%; height: 60px;padding: 5px 0;margin-top: 33px;margin-bottom: 10px;float: left;text-align: center;}2021.02.25 오현경 */
.btn_box { width: 100%;margin-top: 5px;float: left;text-align: center;}
.pop_close {width: 120px;height: 40px;line-height: 36px;text-align: center;font-weight: bold;display: inline-block;border-radius: 5px;box-shadow: 1px 1px 1px #ccd4eb;border: 1px solid #b8b8b8;cursor: pointer;margin-right:20px;background-color: #fff;color: #000;}
/* 거부사유 */
.newReqRejectCmnt{display: none;}
#accptRejctTxt{overflow: hidden;max-height: 90px; white-space: pre-wrap; width: 68%;}
.osl-hide{display: none;}

/* div css 설계 */
/* .req_top_div {width: 417.66px;margin: 0 5px;float: left;height: 315px;border: 1px solid #ccc;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);border-radius: 5px;} 2018.10.02 김정환*/
.req_top_div {
    width: 33%;
    margin: 0 5px;
    float: left;
    height: 270px;
    border-radius: .1875rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dadada;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}
.req_top_div.req_right_div{
	margin-right: 0;
}
.req_top_div_fold1.req_left_div{border-radius: .1875rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dadada;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    width: 32%;
    height:227px;}
.req_sub_fileList{border-radius: 0 0 .1875rem .1875rem;}
.req_sub_title{ font-weight: bold; background: #f9f9f9; border-bottom: 1px solid #ccc; text-align: center;padding: 5px 0;height: 25px;border-radius: 5px 5px 0 0;}
.req_sub_left_title {
    float: left;
    min-width: 110px;
    height: 100%;
    margin-left: 1px;
    line-height: 12px;
}
.req_sub_left_title > span{font-size: 0.8em;border: 1px solid #ccc;background-color: #fff;padding: 2px;font-weight: normal;}
.req_sub_left_title > span:hover{background-color:#0f73d0;color:#fff;cursor:pointer;}
.req_sub_middle_title{float: left;text-align: center;width: 200px;}
.req_sub_right_title{margin-right: 1px;line-height: 12px;float: right;}
.req_sub_right_title > span{font-size: 0.8em;border: 1px solid #ccc;background-color: #fff;padding: 2px;font-weight: normal;}
.req_sub_right_title > span:hover{background-color:#0f73d0;color:#fff;cursor:pointer;}
.req_sub_contents{height: calc(100% - 25px);height: -webkit-calc(100% - 25px);padding: 5px;font-size: 10pt;overflow-y:auto;}
/* .req_sub_desc{height:150px;border-bottom: 1px solid #ccc;} 2018.10.02 김정환 */
.req_sub_desc{height:130px;border-bottom: 1px solid #ccc;}

/* #reqDesc{height: 140px;margin: 5px 5px;width: calc(100% - 10px);width: -webkit-calc(100% - 10px);resize: none;border:none;} 2018.10.02 김정환*/
#reqDesc {
    height: 124px !important;
    margin: 5px 5px;
    width: calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    resize: none;
    border: none;
}

/* .req_sub_fileList{height:calc(100% - 200px);height:-webkit-calc(100% - 200px);overflow: auto;} */
.req_sub_fileList{height:calc(100% - 200px);height:-webkit-calc(100% - 180px);overflow: auto;}
.cmntInsert{height: 52px;resize: none;width: calc(100% - 58px);width: -webkit-calc(100% - 55px);float: left;margin: 0 3px;border: 1px solid #ccc;padding: 2px;overflow-y: auto;overflow-x:hidden;font-size: 10pt;}
span#usrTagSpan {color: #4b73eb;font-weight: bold;display:inline-block;pointer-events: none;}
span#usrTagSpan+div{pointer-events: none;display:inline-block;}
.req_sub_inCmt{height: 40px;padding: 5px 0;}
.req_sub_cmtList{height: calc(100% - 85px);overflow: auto;border-bottom: 1px solid #ccc;}


.sub_line {width: 100%;float: left;display: inline-block;}
.sub_line.reqGrpDiv{display:none;}
.req_sub_left {width: 145px;height: 100%;line-height: 25px;float: left;padding-left: 5px;font-weight: bold;}
.req_sub_right {width: 256px;float: left;line-height: 25px;padding-left: 10px;}
.req_sub_right#reqUsrDept{line-height: 17px;}
.req_sub_right#reqKey{word-break: break-all;}

.m_t_title{font-weight: bold;margin-bottom: 5px;}
.slideChg_box{width: 100%;height: 100%;overflow-x: auto; white-space: nowrap;}
/* .slide_box_title{border-bottom: 1px solid #ccc;text-align: center;padding: 5px 0;background-color: #4b73eb;color: #fff;} */
.slide_box_title {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 5px 0;
    background-color: #f9f9f9;
    color: #000;
    font-weight: bold;
}
.req4104_process_box {margin: 5px;height: calc(100% - 10px);height: -webkit-calc(100% - 10px);min-width: 190px;outline: 1px solid #ccc;display: inline-block;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);}
.req4104_process_box ul, .process_arrow_box ul{height:100%;}

.process_top_box{/* height: calc((100%/2) - 20px);height: -webkit-calc((100%/2) - 10px); */border-bottom:1px solid #0f73d0;}
.process_bottom_box{/* height: calc((100%/2) - 10px);height: -webkit-calc((100%/2) - 10px); */border-top:1px solid #0f73d0;}
.process_top_title{height: 20px;line-height: 20px;border-bottom: 1px solid #ccc;text-align: center;background-color: #f9f9f9;}

.process_arrow_box{width: 44px;display: inline-block;padding-top: 50px;height: 170px;float: left;}
.process_arrow_box > div{float:left;}
.req_main_box-4104{width: 150px;display: inline-block;float: left;}
.req_top,.req_bottom{margin: 5px;}
.totalTm{background-color:black !important;color:#fff !important;}

/* 상단 요구사항 div */
.req_top > .req_top_box {
    min-height: 186px;
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 0.85em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: .1875rem;
    position:relative;
}
.req_top > .req_bottom_box{border-left: 1px dotted #a4a7bb;height: 20px;padding-left: 5px;font-size: 0.8em;line-height: 20px;}
/* 작업흐름 변경내역에 사용자 이름 클릭 시 쪽지 기능 제거로인해 해당 CSS 주석처리 */
/* .historyUsrDiv:hover{background-color:#323a47;color:#fff;cursor:pointer;} */
/* 하단 요구사항 div */
.req_bottom > .req_top_box{border-left: 1px dotted #a4a7bb;height: 20px;padding-left: 5px;font-size: 0.8em;line-height: 20px;}
.req_bottom > .req_bottom_box {
    min-height: 195px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 0.85em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    border-radius: .1875rem;
    position: relative;
}
.reqFrameBox {display: inline-block;}
/* 파일 리스트 */
#fileListDiv{height:100%;min-height: 80px;overflow-y: auto;border:1px solid #fff;}
/* #fileListDiv:hover{border:1px solid #4b73eb;}
#fileListDiv.dragOn{border:1px solid #0B20A1;} */

/* 요구사항 상자 style */
.req_box_title{padding-bottom: 4px;margin-bottom: 1px;text-align: center;}
.req_box_title.signDiv{min-height: 20px;line-height: 18px;border-radius:.1875rem;padding:0;}
.req_box_title.signDiv>.req_box_title-day{width:100%;display:block;font-size:10px;}
.req_box_title.signDiv>.req_box_title-day>i{margin-right:5px}
.req_box_main-4104{min-height: 20px;line-height: 20px;text-align: center;position: relative;}
.req_box_main-4104.bottom{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.req_box_main-4104.bottom.historyUsrDiv{
    border: 1px solid #eee;
    border-radius: .185rem;
    padding: 1px 0;
    margin-bottom: 10px;
}
.req_box_main-4104.bottom.middleDoneFileDown{
    border: 1px solid #ccc !important;
}
.req_box_title-day{
	font-size: 11px;
    padding: 3px;
    text-align: center;
    width: 92%;
    position: absolute;
    bottom: 3px;
    border-radius: .185rem;
}
.req_box_title-day>i{margin-right:5px}
.req_box_main-4104.signRejectDiv{height: 70px;text-align: left;white-space: normal;width: 138px;resize:none;overflow-y: auto;font-size: 10pt;}
.req_box_main-4104.signRejectDiv:hover {cursor: pointer;border: 1px solid #4b73eb;}
.req_box_main-4104.signRejectUsrDiv{height: 30px;line-height: 30px;border: 1px solid #ccc;border-radius: 5px;}
.req_box_main-4104.middleDoneFileDown:hover{cursor: pointer;border: 1px solid #4b73eb;}
.req_box_main-4104.prev{box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);color:#fff;border-radius: .1875rem;background-color: #515769;}
.req_box_main-4104.chg{ box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);border-radius: .1875rem; overflow:hidden;}
.req_box_main-4104.chg>span{width: 98%;margin-left:1%;line-height:17px;float:left;}
.req_box_main-4104.chg>span>i{margin-right: 5px;}
.req_box_main-4104.chg>span:nth-child(3){border-bottom:1px solid #ccc;padding-top:2px;}
.req_box_main-4104.chg>span:last-child{margin-bottom:1px; font-size:11px;border-radius: 0 0 .185rem .185rem;}
.req_box_main-4104.group{height:20px;display:flex;flex-flow:column;justify-content:center;}
.req_box_main-4104.group>span:nth-child(1){font-size: 12px;line-height:17px;}
.req_box_main-4104.group>span:nth-child(2){font-size: 11px;line-height:17px;}
.req_box_main-4104.group>span>i{margin-right:5px;}
.req_box_main-4104.arrow{height: 20px;padding: 0;color:#424c56;    font-size: 7pt;}
.req_box_main-4104.regUsrImg {width: 100%;height: 60px;display: block;text-align: left;clear: both;padding: 10px 5px;border: 1px solid #eee;border-radius: .185rem;}
.req_box_main-4104.regUsrImg > img {width: 40px;height: 40px;float: left;}
.req_box_main-4104.regUsrImg > div {
	float: left;
	height: 17px;
	width: calc(100% - 50px);
	text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.req_box_main-4104.signAcceptDiv {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: .185rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.req_box_main-4104.signAcceptDiv > div {
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	border-radius: .1875rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.req_box_main-4104.signAcceptDiv > img {width: 83px;height: 83px;}
.req_box_main-4104.bottom:nth-child(1){margin-top:5px;}

.flowGradient{width:100%;}

.uploadOverFlow{font-size:0.8em;}
.subRCD:nth-child(1){text-overflow: ellipsis; white-space: pre-line; line-height:13px; }

/* 하단 탭 style*/
/* .footerTab {display: inline-block;width: 100%;height:25px;padding: 0 1px;}
.footerTab_child {
    float: left;
    min-width: 161px;
    height: 25px;
    border: 1px solid #ccc;
    padding: 0 9px;
    cursor: pointer;
    background: #f9f9f9;
    border-radius: .1875rem;
    text-align: center;
    margin-right: 1px;
    margin-top: 1px;
} */
/* 2021.02.25 오현경 - 요구사항 상세보기 하단 탭 스타일 변경*/
.footerTab {display: flex;width: 100%;padding: 0 1px;}
.footerTab_child {
	display:flex;
	align-items: center;
	flex: 1 1 9%;
    border: 1px solid #ccc;
    padding: 3px 6px;
    cursor: pointer;
    background: #f9f9f9;
    border-radius: .1875rem;
    text-align: center;
    margin-right: 1px;
    margin-top: 1px;
}
.footerTab_child:hover, .footerTab_child.footerTab_active {background-color: #4b73eb;color: #fff;}
.content_child{display:none;}
.footerTabIcon {
    float: left;
    width: 15%;
    height: 100%;
    padding: 4px 0;
    text-align: center;
    display: inline-block;
}
.footerTabTxt {
    display: inline-block;
    width: 80%;
    height: 100%;
    padding: 5px 6px;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
}
div#req4104PopupClose {
    width: 120px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: .1875rem;
    box-shadow: 1px 1px 1px #ccd4eb;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    margin-right: 20px;
    background-color: #fff;
    color: #000;
}
/* .content_child.footerTab_active{display:block;} 2018.10.02 김정환 */
.content_child.footerTab_active {
    display: block;
    margin-top: 7px;
    border-top: 1px solid #ccc;
}

.footerTab_content{height:484px;}
#clipBoardContents{overflow-y:auto;}

/* 클립보드 판 */
/* .pasteContent_main{display: inline-block;width:99%;margin-bottom: 5px;} */
/* .pasteContent_top{float: left;min-width: 400px;min-height: 75px;border: 1px solid #0f73d0;border-radius: 10px 0 0 10px;padding: 5px;margin: 2px 0 2px 2px;max-width: 88%;box-shadow: 0 1px 0 rgba(0,0,0,0.12), 0 1px 0 rgba(0,0,0,0.24);} */
/* .pasteContent_bottom{float: left;width: 150px;text-align: center;border: 1px solid #0f73d0;border-radius: 0 10px 10px 0;border-left: 0;height: 75px;margin-top: 2px;box-shadow: 0 1px 0 rgba(0,0,0,0.12), 0 1px 0 rgba(0,0,0,0.24);} */
/* .cb_bottom_usrNm{border-bottom: 1px solid #0f73d0;padding: 2px 0;height: 25px;} */
/* .cb_bottom_regDtm{border-bottom: 1px solid #0f73d0;height: 25px;padding: 2px 0;} */

.pasteContent_main{display: inline-block;width:97%; margin: 15px 0 5px 17px;}
.pasteContent_top{    float: left; background: #f9f9f9; border-radius: 5px 5px 0 0; padding: 8px 0 1px 0; display: inline-block;text-align: center;border: 1px solid #a9a9a9; border-bottom:0; margin: 2px 2px 0 2px; width:100%;}
.pasteContent_bottom{width:100%;float: left;min-width: 400px;min-height: 90px;border: 1px solid #a9a9a9; border-bottom:0; padding: 5px;margin: 0 0 2px 2px;box-shadow: 0 1px 0 rgba(0,0,0,0.12), 0 1px 0 rgba(0,0,0,0.24); border-radius: 0 0 5px 5px;}
#noteMask{ position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 90501; display:none;}

.cb_bottom_usrNm{padding: 2px 15px 2px 20px; height: 25px; float:left; line-height: 22px;}
.cb_bottom_regDtm{height: 25px;padding: 5px 0 2px 0; float:left; line-height: 22px; font-size: smaller;}
.cb_bottom_addition{background-color: #fff; line-height: 22px; width: 80px; height: 25px; float: right; cursor: pointer; margin: 0 8px 6px 0; text-align: center; font-size: 1em; border-radius: 3px; border: 1px solid #b8b8b8; cursor: pointer;}
.cb_bottom_addition:hover {background-color: #4b73eb;color: #fff;}
.cb_chg_btn {width: 50px; display:none;}
#clipBoard_help {visibility: hidden;position: absolute; right:0;width: 20%;text-align: left;padding: 5px 5px 5px 15px;font-size: 1.2em;line-height: 41px;opacity: 0.5;}
#clipBoard_help .addComment {border: 2px solid;border-radius: 9px;padding: 3px;opacity: 0.5;font-weight: bold;}
.cbImg{width: 100%;}

/* 메모장 */
.pastContent_img {float: left; width: 33%; height: 170px; /* padding:5px; */ padding: 10px 14px 10px 15px; }
/* 메모장 목록 부분에서 텍스트 부분이 IE에서는 DIV크기를 넘어감 : word-break 속성 추가 */
.pastContent_text{float: right; width: 100%; /* padding: 10px 10px 10px 20px; */ padding: 20px 20px 20px 10px; line-height: 1.5em; word-break: break-all;}
.pastContent_img > img{width: 100%; height: 100%;}

.notepad_update > .notepad_contents > img {border: 2px solid rgba(255, 255, 255, 0); padding:2px;}
.notepad_update > .notepad_contents > img:hover{border: 2px dashed rgba(196, 197, 199, 1); padding:2px;}
.notepad_update > .notepad_contents > div > img{border: 2px solid rgba(255, 255, 255, 0); padding:2px;}
.notepad_update > .notepad_contents > div > img:hover{border: 2px dashed rgba(196, 197, 199, 1); padding:2px;}
.notepad_contents > .notepad_contents_imgDiv > img {border: 2px solid rgba(255, 255, 255, 0); padding:2px;}
.notepad_contents > .notepad_contents_imgDiv > img:hover {border: 2px dashed rgba(196, 197, 199, 1); padding:2px;}

/* 아래부분 주석 */
/* .notepad_input {display:none;position: absolute;width: 1300px;height: 460px;top: 370px;background: #fff;box-shadow: 0 1px 3px rgb(15, 115, 208), 0 1px 2px rgb(15, 115, 208);} */

/* 메모장 입력 영역 */
.notepad_input {display:none; position: absolute; z-index: 90501; width: 1030px; height: 704px;top: 100px; left: 160px; background: #fff; box-shadow: 0 1px 3px rgb(52, 52, 52), 0 1px 2px rgb(189, 193, 196);}
#notepad_content_insert{margin-right: 1%;}

/* .notepad_title {width: 100%;background-color: #4b73eb;color: #fff;height: 25px;text-align: center;line-height: 22px;} */
/* .notepad_title {width: 100%; background-color: #f9f9f9; color: #000; height: 25px; text-align: center;line-height: 22px;font-weight: bold;border-bottom: 1px solid #ccc;} */
.notepad_title {width: 100%; background-color: #4b73eb; color: #fff; height: 30px; text-align: center;line-height: 25px;font-weight: bold;border-bottom: 1px solid #ccc;}
.notepad_contents {height: 405px;overflow-y: scroll;padding: 10px; line-height:1.4em;}
/* .notepad_footer {height: 30px;background-color: #4b73eb;color: #fff;line-height: 25px;text-align: center;} */
.notepad_footer {height: 30px;background-color: #f9f9f9;color: #fff;line-height: 25px;text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}

.notepad_footer_userNm {float: left;width: 600px;text-align: center;}
/* .notepad_footer_btn {display: inline-block;margin: 2px;} */
.notepad_footer_btn {display: inline-block;}

.notepad_img_resize_main {z-index: 90502; display:none;background:#fff;position: absolute;top: 60%;left: 45%;width: 85px;border: 2px solid #999;border-top: 6px solid #999;padding: 5px;} /* z-index: 1; #0f73d0 */
.notepad_img_resize_div{text-align: center;margin-bottom: 7px;}
.notepad_img_resize_main > .notepad_img_download {margin-bottom:5px;}
.notepad_img_resize_main >  div > .button_normal{font-size: 13px; width: 60px; height: 26px; line-height: 23px;}
.notepad_img_resize_main >  div > .button_normal:hover{background-color: #999; color: #fff;} /*#4b73eb; */

.notepad_contents_imgDiv{max-width: 100%;overflow: hidden;}
/* 메모장 이미지 붙여넣기시 잘림 방지 */
.notepad_contents_imgDiv > img{max-width: 100%;}
/* .notepad_update {z-index: 90501;display:none;position: absolute;width: 1000px;height: 780px;top: 100px;left: 160px;background: #fff;box-shadow: 0 1px 3px rgb(15, 115, 208), 0 1px 2px rgb(15, 115, 208);} */
.notepad_update {z-index: 90501;display:none;position: absolute;width: 1030px;height: 717px;top: 100px;left: 160px;background: #fff;box-shadow: 0 1px 3px rgb(52, 52, 52), 0 1px 2px rgb(189, 193, 196);}
/* .notepad_detailInfo {height: 100px;border-bottom: 1px solid #0f73d0;} */
.notepad_detailInfo {height: 94px; }
.notepad_detailInfo > div {float: left;padding: 5px;height: 100%;}
.notepad_detailInfo_left {width:100%;} 
/* 메모장 입력/상세/수정 상단 등록자 정보 부분 */
.notepad_info_row{float: left;width: 50%;}
.notepad_info_col1{float: left; clear: both;padding-left: 25px; width: 27%; height: 40px; line-height: 40px; background: #f9f9f9; border-width: 0 1px 1px 0; border-style: solid; border-color: #ddd;}
.notepad_info_col2{float: left; padding: 5px; width: 73%; height: 40px; line-height: 0px; border-bottom: 1px solid #ddd;}
.notepad_info_sub_right{float: left; line-height: 25px; padding-left: 10px; width: 100%; border: 1px solid #ccc; height: 100%;}    
.thumbnail_select{width:100%; height:100%;}    
    
/* 메모장 입력 부분 */
.notepad_info_onerow{width:100%;}
.notepad_oneRow1{width: 13.5%;}
.notepad_oneRow2{width: 86%;}
#notepad_in_regdtm{width:41.5%;}   

.detail_btn{display:block;margin-bottom:3px !important;width:150px;}
#notepad_img_download{display:none;}
.note_detail_btn_frame{line-height: 75px; border-top: 1px solid #c1bfbf; text-align: center;} 
.note_detail_btn{display: inline-block; min-width: 71px; height: 40px; line-height: 40px; padding: 0px 10px; width: auto; text-align: center; font-weight: bold; font-size: 1em; border-radius: 5px; box-shadow: 1px 1px 1px #ccd4eb; margin: 0 auto; border: 1px solid #b8b8b8; cursor: pointer;}
#notepad_detail_update{margin-right: 1%;}


/* 수정이력 style */
.reqHistory > .middle_box {padding-right: 15px;overflow-y: auto;}
.chgDetailMainDiv {width: 55%;min-height: 80px;height: auto;border: 1px solid #ccc;margin: 5px 0;border-radius: .1875rem;display: block;float: right;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);background: #f9f9f9;}
.chgDetailLeftDiv {float: left;display: inline-block;width: 100px;text-align: center;padding: 10px 0;}
.chgDetailLeftDiv > img {width:60px;height:60px;}
.chgDetailRightDiv {float: left;display: inline-block;width: 568px;min-height: 80px;padding: 5px;}
.chgDetailRightTopDiv {width: 100%;height: 25px;line-height: 25px;}
.chgDetailRightBottomDiv {display: block;min-height: 50px;width: 100%;padding: 5px 0;line-height: 20px;}
.chgDetailRightBottomDiv > span {display: block;font-size: 10pt;border-bottom: 1px solid #f9f9f9;}
.chgDetailRightBottomDiv > span > b {font-weight: bold;}
.chgDetailRightBottomDiv > span.chgDetailDiff:hover {border-bottom: 1px solid #323a47;cursor: pointer;}
.chgDetailRightBottomDiv > span.chgDetailDiff:active {color: #bbbdbf;}
.chgDetailRightBottomDiv > span.chgDetailDiff::before{font-family: "Font Awesome 5 Free";content:"\f044\00a0"}
.chgDetailRightBottomDiv > span.chgDetailFileDel::before{font-family: "Font Awesome 5 Free";content:"\f2ed\00a0"}
.chgDetailUsrDiv {
	float: left;
	width: 65%;
	display: inline-block;
	font-weight: bold;
}
.middle_scroll_box{
    width: 100%;
    height: 445px;
    overflow-y: auto;
}
.middle_scroll_box>.slide_box_title{
	border-top: 1px solid #ccc;
}
/* .chgDetailUsrDiv:hover {border-bottom: 1px solid #323a47;cursor: pointer;}
.chgDetailUsrDiv:hover:after {font-family: "Font Awesome 5 Free";content: "\00a0\00a0\00a0\f0e0";} */
.chgDetailAgoDiv {
	float: right;
	width: 35%;
	text-align: right;
	display: inline-block;
	padding-right: 20px;
	color: #424242;
	font-size: 8pt;
}
.chgDetailUsrDiv > small, .chgDetailAgoDiv > small {color: #828282;font-size: 0.9em;font-weight: normal;}

/* diff style */
/* .diffDiv {position: absolute;left: 10px;width: 44%;top: 396px;height: 395px;border: 1px solid #ccc;border-radius: 6px;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 2018.10.02 김정환*/
.diffDiv {width: 44%; height: 449px; margin-top: 5px; border: 1px solid #ccc;border-radius: .1875rem;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09); float:left;}
.diffOptInfo {display: inline-block;width: 100%;height: 30px;line-height: 30px;text-align: center;border-bottom: 1px solid #ccc;font-weight: bold;background: #f9f9f9;border-radius: .1875rem;}
.diffOldDiv, .diffNewDiv {width: 50%;float: left;display: inline-block;height: 417px;}
.diffOldDiv{border-bottom-left-radius:.1875rem;}
.diffNewDiv{border-bottom-right-radius:.1875rem;}
.diffTitleDiv {text-align: center;height: 30px;line-height: 30px;border-bottom: 1px solid #ccc;background: #f9f9f9;}
/* .diffTitleDiv.diffAdd{background-color: #ff9a8f;}
.diffTitleDiv.diffDel{background-color: #5dff71;} */
div.diffContentDiv {height: 386px;padding: 5px;line-height: 22px;overflow-y: scroll;overflow-x: hidden;display: inline-block;width: 100%;}
span.text-add {background-color: #a8d975;}
span.text-del {background-color: #ff9a8f;}
.diffOldDiv{border-right: 1px solid #ccc;}
.req4104_flowOptionDiv > .fa, .req4104_flowOptionDiv > .far {font-size: 10pt;margin:0 2px;}
.req4104_flowOptionDiv{background-color: inherit;border-radius: .1875rem .1875rem 0 0;border: 1px solid transparent;border-bottom: 1px dashed #fff;}
.req4104_flowOptionDiv.hideOptDiv {padding:0 5px; text-align:left;width: 140px;left: 0;overflow: hidden;height:20px;line-height:20px;}
/* 작업 */
#req4105_work{display:none;border-right: none;}
.req4105_work_btnBox {height: 45px;line-height: 45px;border: 1px solid #ccc;border-bottom: none;border-top: none;background-color: #f9f9f9;font-weight: bold;padding-left: 10px;}
.req4105_work_frame {width: 100%;height: 210px;padding: 5px;border: 1px solid #ccc;border-bottom: none;}
div.req4105_work_btn {float: right;margin: 5px 10px;border: 1px solid #b8b8b8;width: 100px;height: 35px;line-height: 35px;text-align: center;box-shadow: 1px 1px 1px #ccd4eb;background-color: #fff;border-radius: 5px;cursor:pointer;}

/* 리비전 */
#req4105_revision{display:none;border-right: none;}
.req4105_revision_btnBox {height: 45px;line-height: 45px;border: 1px solid #ccc;border-bottom: none;border-top: none;background-color: #f9f9f9;font-weight: bold;padding-left: 10px;}
.req4105_revision_frame {width: 100%;height: 210px;padding: 5px;border: 1px solid #ccc;}

/* 요구사항 연결 */
#req4105_reqLink{display:none;border-right: none;border-bottom: 1px solid #ccc;}
.req4105_reqLink_btnBox {height: 45px;line-height: 45px;border: 1px solid #ccc;border-bottom: none;border-top: none;background-color: #f9f9f9;font-weight: bold;padding-left: 10px;}
.req4105_reqLink_frame {width: 100%;height: 215px;padding: 5px;border: 1px solid #ccc;border-bottom: none;}

/* 요구사항 산출물 연결 */
#req4105_docLink{display:none;border-right: none;border-bottom: 1px solid #ccc;}
.req4105_docLink_btnBox {height: 45px;line-height: 45px;border: 1px solid #ccc;border-bottom: none;border-top: none;background-color: #f9f9f9;font-weight: bold;padding-left: 10px;}
.req4105_docLink_frame {width: 100%;height: 215px;padding: 5px;border: 1px solid #ccc;border-bottom: none;}

.req4105_frameTitleDiv {width: 100%;height: 38px;background-color: #f9f9f9;border: 1px solid #ccc;border-radius: 5px 5px 0 0;border-bottom: none;padding-left: 10px;line-height: 40px;font-weight: bold;float: left;display: block;margin-top:10px;}
.req4104_option_title {width: 25%;float: left;height: 45px;padding-left: 10px;line-height: 40px;background-color: #f9f9f9;border: 1px solid #ccc;font-weight: bold;border-top: none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.req4104_option_all {float: left;height: 45px;line-height: 30px;width: 75%;border-bottom: 1px solid #ccc;padding: 5px;}
.req4105_option_title {width: 25%;float: left;height: 45px;padding-left: 10px;line-height: 40px;background-color: #f9f9f9;border: 1px solid #ccc;font-weight: bold;border-top: none;}
.req4105_option_all {float: left;height: 45px;line-height: 30px;width: 75%;border-bottom: 1px solid #ccc;padding: 5px;}
.req4105_option_half {float: left;height: 45px;line-height: 30px;width: 25%;border-bottom: 1px solid #ccc;padding:5px;}
.req4105_optionDiv {width: 100%;display: block;float: left;border-right: 1px solid #ccc;font-size: 10pt;}
div#req4105_projectOption, div#req4105_processOption {border-top: 1px solid #ccc;}
/* 추가 항목 */
input.req4104_input_text {min-width: 190px;height: 100%;border: 1px solid #ccc;display: block;padding-left: 15px;border-radius: 1px;}
input.req4105_input_text {min-width: 190px;height: 100%;border: 1px solid #ccc;display: block;padding-left: 15px;border-radius: 1px;}
textarea.req4105_textarea {width: 100%;height: 100%;resize: none;padding: 5px;border: 1px solid #ccc;border-radius: 1px;}
input.req4105_input_date {width: 195px;float: left;display: block;border-radius: 1px;height: 100% !important;background-color: #fff !important;border: 1px solid #ccc;text-align: center;}
input.req4104_input_data{width: 100% !important; background-color: #eee !important; text-align: left; padding-left: 15px;}
input.req4105_input_data{width: 100% !important; background-color: #eee !important; text-align: left; padding-left: 15px;}
input.req4105_charger {width: 195px !important;min-width: 100px;display: inline-block;float: left;margin-right: 5px;}
span.req4105_charger{height: 34px;line-height: 30px;width:30px;}
.option_chk { position: relative; text-align: center;}
.option_chk input[type="checkbox"].req4105_input_check { opacity: 0; position: absolute; z-index: 2; vertical-align: middle; display:inline-block; left:calc(50% - 9px); }
.option_chk input[type="checkbox"].req4105_input_check+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/images/contents/normal_check.png) no-repeat;
	font-size: 1em;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	z-index: 1;
	border-radius: 3px;
}

.option_chk input[type="checkbox"]:checked.req4105_input_check+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('/images/contents/normal_check_on.png') no-repeat;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
}
textarea.req4105_processBox_bottom[disabled] {background-color: #fff;white-space:normal;}
select.req4105_select {width: 100%;height: 100%;border-radius: 1px;border: 1px solid #ccc;text-align: center;padding-left: 10px;}
input.req4104_input_text.req4105_readonly, textarea.req4105_textarea.req4105_readonly, select.req4105_select.req4105_readonly, input.req4105_input_text.req4105_readonly
,input.req4105_input_date[disabled]{cursor: default;background-color:#eee !important;}
img.ui-datepicker-trigger{float: left;margin-top: 2px;}
span.req4105_charger{height: 34px;line-height: 30px;}
.req4105_option_half input.req4104_input_text
, .req4105_option_half input.req4105_input_text
, .req4105_option_half textarea.req4105_textarea
, .req4105_option_half select.req4105_select {width:100%;height:100%;}
.req4104_option_all input.req4104_input_text, .req4104_option_all textarea.req4105_textarea, .req4104_option_all select.req4105_select,
.req4105_option_all input.req4105_input_text, .req4105_option_all textarea.req4105_textarea, .req4105_option_all select.req4105_select{width: 100% !important;height:100% !important;}
.req4105_desc {height: 100px;}
.req4105_file {height: 150px;}
.req4105_clear{clear:both;}
.req4105_top_line{border-top:1px solid #ccc;}
.req4105_right_line{border-right:1px solid #ccc;}
input.req4105_input_date[disabled] {width: 100%;}
input.req4105_charger[readonly] {width: 100% !important;}
.req4105_clear{clear:both;}
.reqAddOptFrame {width: 100%;height: 100%;overflow-x:none;overflow-y: auto;white-space: nowrap;padding: 10px;}
div#reqAddOptList {border: 1px solid #ccc;display: inline-block;width: 100%;border-left: none;border-bottom: none;font-size:10pt;}
div#req4105_reqTopDataList{height: 130px;border: 1px solid #ccc;overflow-x: auto;}
/* 체크박스 */
.req4105_chk { position: relative;text-align: center;}
.req4105_chk input[type="checkbox"] {margin:0; opacity: 0; position: absolute; z-index: 2; width: 100%;height: 100%;left: 0;}
.req4105_chk input[type="checkbox"]+label { display: inline-block; width: 18px; height: 18px; background: url(/images/contents/normal_check.png) no-repeat; font-size: 1em; line-height: 24px; vertical-align: middle; cursor: pointer; z-index: 1; border-radius: 3px; margin-top: 10px;}
.req4105_chk input[type="checkbox"]:checked+label { display: inline-block; width: 18px; height: 18px; background: url('/images/contents/normal_check_on.png') no-repeat; line-height: 24px; vertical-align: middle; cursor: pointer; }
/* 체크박스 */
.req4105_end_maskBox {display: none;position: absolute;right: 0;width: 100%;height: 100%;min-height: 745px;background-color: rgba(0, 0, 0, 0.6);z-index: 2;color: #fff;padding-top: 300px;padding-left: 20px;text-align: left;line-height: 30px;}
/* 배포계획 */
.req4104_dplBox {float:left;width: 100%;border-right: 1px solid #ccc;display: none;}
.req4104_dplBox input.req4104_deploy {width: 244px !important;}

/* 작업 목록 */
.req4104_work_frame {padding: 10px;}

/* 연결 요구사항 목록 */
.req4105_flowReqLink_frame {padding: 10px;}

/* 연결 WBS 목록*/
.req4105_reqWbsLink_frame {padding: 10px;}

/* 연결 요구사항 산출물 목록 */
.req4105_flowReqDocLink_frame{padding: 10px;}

/* div css 설계 */
.req_top_div_fold1_line{
    width: 32%;
    margin: 0 5px;
    float: left;
    height: 227px;
}

/* .req_top_div_fold1{width: 417.66px;margin: 0 5px;float: left;height: 315px;} 2018.10.02 김정환*/
.req_top_div_fold1{
    width: 417.66px;
    margin: 0 5px;
    float: left;
    height: 227px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    transition: height .5s;
	-webkit-transition: height .5s;
}

/* .req_sub_fold_contents{height: calc(100% - 25px);height: -webkit-calc(100% - 25px);padding: 5px;font-size: 10pt; background-color: #FFFFFF;border:1px solid #ccc;} 2018.10.02 김정환*/

.fold_button{font-size:1.5em;width:100%;height: 40px;border:1px solid #ccc;background-color:#fff;padding:2px;font-weight:normal;text-align: center;}
.req_sub_fold_contents {
    height: calc(100% - 25px);
    height: -webkit-calc(100% - 25px);
    /* padding: 5px; */
    font-size: 10pt;
    background-color: #FFFFFF;
   	display: flow-root;
   	overflow-y : hidden;
}

/* 프로세스 또는 이전 작업흐름 이력 목록 */
.req4105_processBox {width: 150px;display: inline-block;margin: 10px;margin-bottom: 0;border: 1px solid #ccc;border-radius: 5px;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);height: 100px;padding: 5px;cursor: pointer;}
.req4105_processBox_top {width: 100%;height: 20px;line-height: 20px;text-align: center;font-weight: bold;border-bottom: 1px solid #ccc;font-size: 10pt;}
.req4105_processBox_bottom {height: 70px;padding: 2px 5px;font-size: 9pt;width: 138px;resize: none;border: none;overflow: hidden;cursor: pointer;}
.req4105_processBox:hover, .req4105_processBox.active {border: 1px solid #ff5643;}

/* 우측 작업흐름 목록 */
.req4105_flowBox {position: relative;width: 195px;text-align: center;border: 1px solid transparent;margin: 10px;display: inline-block;background-color: #F0F0F0;color: #000000;font-size: 11pt;border-radius: .1875rem;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);}
.req4105_flowOptionDiv {height: 24px;float: left;display: inline-block;background-color: inherit;padding: 2px;font-size: 10pt;border-bottom: 1px dashed #fff;width: 100%;text-align: left;border-radius: .1875rem .1875rem 0 0;}
.req4105_flowBox_title {width: 100%;min-height: 45px;display:flex;flex-flow:column;justify-content:center;font-weight: bold;padding: 7px 0;border-bottom: none;float: left; font-size: 14px;}
.req4105_flowBox_title>span{width: 100%;float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block;}
.req4105_flowBox_title>span:nth-child(2){font-size: 12px;margin-top: 3px;}
.req4105_flowBox_title>span:nth-child(2)>i{margin-right: 5px;}
.req4105_flowBox_contents {width: 100%;height: 30px;line-height: 33px;background-color: #fff;color: #000;float: left;display: inline-block;border-radius: 0 0 .1875rem .1875rem;font-size: 10pt;}
.req4105_flowBox_contents>i{margin-right:5px;}
.req4105_flowBox.topFlowBox:hover, .req4105_flowBox.topFlowBox.flowActive{cursor:pointer;    box-shadow: 0 1px 3px 0px rgb(75, 115, 235);}
.req4105_flowOptionDiv > li {
    position: relative;
    min-width: 16px;
    width: auto;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 1px;
    font-size: 10pt;
}

.req4105_flowFrameBox {position: relative;text-align: center;height: 130px;margin-bottom: 1px;border: 5px solid #f0efff;padding-top: 15px;}
/* .req4105_flowFrameBox:hover{cursor:pointer;} */
.req4105_flowFrameBox.active{display:block;}
.req4105_flowTopArrowBox {position: absolute;top: 0px;left: 100px;background: url(/images/right_arrow2.png);background-size: 44px 44px;width: 44px;height: 35px;transform: rotate(90deg);}
.req4105_flowBox_contents > span {font-size: 9pt;}
.req4105_flow_topArrowBox {
    background: url(/images/right_arrow2.png);
    background-size: 44px 44px;
    display: inline-block;
    width: 44px;
    background-repeat: no-repeat;
    height: 75px;
}

/* 결재 */
.req4105_signFrame{display: inline-block;}
.req4105_flow_topArrowBox.signArrow{height:100px;}
.req4105_sign_UsrOrdListTitleBox, .req4104_sign_TitleBox {
    height: 45px;
    line-height: 45px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
    background-color: #f9f9f9;
    font-weight: bold;
    padding-left: 10px;
    float: left;
    width: 100%;
}
.req4104_signHistoryDiv {width: 100%;min-height: 210px;border: 1px solid #ccc;overflow-y: hidden;overflow-x: auto;padding:0 10px;white-space:nowrap;position: relative;}

.req_fold_title_box {
    cursor: pointer;
    width: 100.2%;
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
    font-size: 1.05em;
    font-weight: bold;
    color: #fff;
    border-radius: 0 0 .1875rem .1875rem;
    margin-left: -1px;
    float: left;
    display: block;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dadada;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}

/* 프로세스 폴딩 버튼 */
.reqFoldingBtn {
    height: 32px;
    line-height: 30px;
    display : inline-block;
    width: 45px;
    border: 2px solid #fff;
    background-color: #FFFFFF;
    padding: 0 10px;
    cursor: pointer;
    margin: 0px 10px 2px 2px;
    border-radius: 3px;
}
.reqFoldingBtn:hover{background-color: #FFFFFF;}
.reqFoldingCursor {font-family: "Font Awesome 5 Free";font-size: 2em;}
.reqFoldingCursor.down::before{content: "\f107";color: #b9b7b7;}
.reqFoldingCursor.up::before{content: "\f106";color: #b9b7b7; }
.titleFolded{border-radius:10px;margin-bottom: 5px;}

.fa-angle-down:before { content: "\f107"; color: #b9b7b7;}

.border{border: 1px solid #ccc;}
.file_contents{width:100%;}


.menu_ctrl_wrap{ float:left; width: 29%; height: 100%; margin-right: -6px; font-size: 0.875em; box-sizing:border-box;border-right: 1px solid #ccc;min-height: 600px;}
		.menu_ctrl_btn_wrap{ padding:0 10px; height:48px; line-height:42px; border-bottom:1px solid #ccc; }
			.menu_ctrl_btn_wrap .btn_menu_add{ margin-right:5px; }
			.menu_ctrl_btn_wrap .menu_all_wrap{ float:right; height:100%; }
			.menu_ctrl_btn_wrap .menu_expand_all{ display:inline-block; vertical-align:middle; margin-right:5px; width:17px; height:17px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
			.menu_ctrl_btn_wrap .menu_collapse_all{ display:inline-block; vertical-align:middle; width:17px; height:17px; background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
			
.req4104_svn_maskBox {display:none;position: absolute;right: 22px;width: 1017px;height: 438px;min-height: 385px;background-color: rgba(0, 0, 0, 0.7);z-index: 2;color: #fff;padding-top: 196px;text-align: center;line-height: 30px;font-size: 10pt;font-weight: bold;margin-top:10px;}			
.req4104_reqDep_maskBox {display:none;position: absolute;right: 0;width: 100%;height: 436px;min-height: 370px;background-color: rgba(0, 0, 0, 0.7);z-index: 2;color: #fff;padding-top: 200px;text-align: center;line-height: 30px;font-size: 10pt;font-weight: bold;}			
.req4104_reqScen_maskBox {display:none;position: absolute;right: 0;width: 100%;height: 434px;min-height: 386px;background-color: rgba(0, 0, 0, 0.7);z-index: 2;color: #fff;padding-top: 150px;text-align: center;line-height: 30px;font-size: 10pt;font-weight: bold;}			
.content_child.svnRevision.footerTab_active {height: 100%;border-bottom: 1px solid #ccc;}
			
/* 베포 */
.req4104_reqDep_leftFrame {
    width: 800px;
    height: 100%;
    padding: 10px 13px 10px 20px;
    display: inline-block;
    float: left;
}
.req4104_reqDep_rightFrame {
    width: 650px;
    height: 100%;
    float: left;
    display: inline-block;
    padding: 10px 0 10px 0;
    position: relative;
}
.req4104_reqDep_jobGrid {
    float: left;
    margin-right: 20px;
    height: 100%;
    display: inline-block;
}
.req4104_reqDep_jobHistoryGrid {
    width: 215px;
    float: left;
    height: 100%;
    display: inline-block;
    position: relative;
}
.req4104_reqDep_titleBox {
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    /* border-bottom: none; */
    font-weight: bold;
    font-size: 10pt;
}
div#req4104_dpl_mask_frmae{
position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    font-size: 10pt;
    color: #fff;
    font-weight: bold;
    padding-top: 150px;
    display:none;
    text-align: center;
}
/* 테스트 시나리오 */
.req4104_reqScen_leftFrame {
    width: 800px;
    height: 100%;
    padding: 10px 13px 10px 20px;
    display: inline-block;
    float: left;
}
.req4104_reqScen_rightFrame {
    width: 650px;
    height: 100%;
    float: left;
    display: inline-block;
    padding: 10px 0 10px 0;
    position: relative;
}
.req4104_reqScen_titleBox {
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 10pt;
}
.req4104_flowBox-rollback{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 80px;
    height: 60px;
    overflow: hidden;
}
.req4104_flowBox-rollback>span {
    left: -25px;
    top: 30px;
    transform: rotate(40deg);
    position: absolute;
    display: block;
    width: 205px;
    padding: 0px 46px;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    text-align: left;
    z-index:1;
	border: 1px solid #2576ab;
	height: 25px;
	line-height: 25px;
}
.req4104_flowBox-rollback::before {
    top: -6px;
    left: 9px;
}
.req4104_flowBox-rollback::after {
    bottom: 0;
    right: -6px;
}
.req4104_flowBox-rollback::before,.req4104_flowBox-rollback::after {
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    z-index: 0;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
/* 요청정보 표시부분의 z-index 떄문에 가이드 박스 z-index를 더 높게 변경한다. */
#global_main_guideBox{z-index:90500 !important;}

/* 결재선 지정 */
.req4105_signUsrOrdListDiv {width: 100%;height: 235px;border: 1px solid #ccc;overflow-y: hidden;overflow-x: auto;padding:0 10px;white-space:nowrap;position: relative;}
div.req4105_usrOrd_btn {display:none;float: right;margin: 5px 10px;border: 1px solid #b8b8b8;width: 100px;height: 35px;line-height: 35px;text-align: center;box-shadow: 1px 1px 1px #ccd4eb;background-color: #fff;border-radius: .1875rem;cursor:pointer;font-size: 9pt;}
div#req4104_signUsrOrdListMainDiv {width: 100%;}
.signUsrOrdMainBox {position: relative;height: 170px;width: 150px;display: inline-block;border: 1px solid #a4a7bb;border-radius: 0 0 5px 5px;padding: 5px;box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);margin-top: 5px;}
.signUsrOrdNum {height: 20px;line-height: 18px;box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);text-align: center;background-color: #5578eb;color: #fff;}
.signUsrOrdNum.signRequest{background-color: #999;}
.signUsrOrdNum.signDone{background-color: #ff5643;}
.signUsrOrdArrowBox {display: inline-block;width: 45px;padding-bottom: 55px;}
.signUsrOrdArrowBox > img{display: inline-block;float:left;width: 45px;height: 45px;}
.signUsrOrdUsrImage {display: inline-block;width: 100%;height: 81px;text-align: center;padding: 5px 0;}
.signUsrOrdUsrImage > img {height: 70px;width: 70px;display: inline-block;}
.signUsrOrdUsrNm {padding: 5px;height: 25px;font-size: 9pt;border: 1px solid #ccc;border-radius: .1875rem;text-align: center;}
.signUsrOrdUsrNm:hover {background-color: #323a47;color: #fff;cursor: pointer;}
.signUsrOrdUsrEmail {padding: 10px 5px;font-size: 11px;display: inline-block;width: 100%;overflow-x: hidden;text-align: center;text-overflow: ellipsis;}
.currentSignUsrOrd{position: absolute;top: -5px;right: -5px;width: 80px;height: 60px;overflow: hidden;}
.currentSignUsrOrd>span {left: -25px;top: 30px;transform: rotate(40deg);position: absolute;display: block;width: 205px;padding: 0px 46px;background-color: #3498db;box-shadow: 0 5px 10px rgb(0 0 0 / 10%);color: #fff;font-size: 12px;font-weight: 500;text-shadow: 0 1px 1px rgb(0 0 0 / 20%);text-align: left;z-index:1;border: 1px solid #2576ab;height: 25px;line-height: 25px;}
.currentSignUsrOrd::before {top: -6px;left: 9px;}
.currentSignUsrOrd::after {bottom: 0;right: -6px;}
.currentSignUsrOrd::before,.currentSignUsrOrd::after {border-top-color: transparent;border-right-color: transparent;position: absolute;z-index: 0;content: '';display: block;border: 5px solid #2980b9;}

/*추가항목 정보->결재선*/
.req4104SignLineFlowGroup{border:1px solid #ccc;margin: 5px;border-radius: 5px;overflow: hidden;display:inline-block;}
.req4104SignLineFlowTitle{font-size: 14px;font-weight: bolder;padding: 5px;}
.req4104SignLineFlowContent{padding: 0 5px 5px 5px;}