@charset "UTF-8";

/* common */
.rpt_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }
.tab_contents.menu {
    display: inline-block;
    width: 1500px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: .1875rem;
    border: 1px solid #ccc;
}

/* rpt1000 */
.insert_box { max-width: 1280px; width: 100%; padding: 15px 30px; margin-bottom: 25px; background: #fff; border: 1px solid #ccc; height: 100px; }
.search_box { max-width: 1280px; width: 100%; padding: 17px 30px; margin-bottom: 25px; background: #fff; border: 1px solid #ccc;  }
.search_box span { display: inline-block; float: left; }
	.search_box .sod_select { padding: 7px 6px; height: 28px; border: 1px solid #ccc; }
	.search_box .sod_select:after { top: 6.5px; }
	.search_box .sod_select .sod_option.active,
	.search_box .sod_select .sod_option.selected { width: 100%; }
	.search_box .search_select { width: 300px; height: 28px; margin: 0 5px 5px 0; }
	.search_select { width: calc(100% - 50px); height: 28px; margin: 0 5px 5px 0; }	
		.search_select select { display: block;  width: 100%; height: 100%; }
		.search_td{ text-align:center; height: 40px; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; overflow: visible; text-overflow: ellipsis; border-bottom: 1px solid #ccc; }
		.search_td .sod_select { padding: 7px 6px; width: 100%; height: 28px; border: 1px solid #ccc; }
		.search_td .sod_select:after { top: 6.5px; }
		.txt_of { text-overflow: clip; }
		.search_select select { display: block; width: 100%; height: 100%; border: 1px solid #ccc; }		
	input[type="checkbox"] + label:before { margin: 0 !important; }	
	input[type=text].search_txt { float: left; width: calc(100% - 436px); height: 28px; margin-right: 5px; font-size: 0.7em; border: 1px solid #ccc; }
	.comment_wrap { width: 100%; height: 199px; padding:0 14px; margin-bottom: 17px; background:#f9f9f9; overflow: auto; border:1px solid #ccc; }
		.comment_list { padding:16px 0; border-bottom: 1px dashed #ccc; }		
		.comment_list:last-child { border: none; }
			.comment_user { font-size: 1em; color: #333; }
			.comment_date { font-size: 0.8em; color: #999; }
			.comment_contents { font-size: 0.95em; color: #666; margin-top: 5px; line-height: 16px; white-space:normal; word-break: break-word; }
	.search_popup { display: none; position: absolute; top: 50px; height: 100%; }
.rptSub_title {
    display: block;
    margin: 3px 0;
    font-size: 10pt;
    font-weight: bold;
    color: #3c3e4b;
}
.reportSubTitle {
    background: transparent !important;
    border: none;
    text-shadow: none;
    box-shadow: none;
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
}
.rptMngSubTitle {
    font-size: 11pt;
    font-weight: bold;
}

/* rpt1100 */
.menu_wrap { width: 100%; height: auto; margin-top: 10px; border: 1px solid #ccc;float:left; }
.menu_ctrl_wrap{ float:left; width: 29%; height: 100%; margin-right: -6px; font-size: 0.875em; box-sizing:border-box;border-right: 1px solid #ccc;min-height: 600px;}
.menu_ctrl_btn_wrap{ padding:0 10px; height:48px; line-height:42px; border-bottom:1px solid #ccc; }
.menu_ctrl_btn_wrap .menu_all_wrap{ float:right; height:100%; }
.menu_ctrl_btn_wrap .menu_expand_all{ display:inline-block; vertical-align:middle; margin-right:5px; width:17px; height:17px; background:url(/images/header/GNB/font_plus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
.menu_ctrl_btn_wrap .menu_collapse_all{ display:inline-block; vertical-align:middle; width:17px; height:17px; background:url(/images/header/GNB/font_minus_btn.png) no-repeat center; border:1px solid #ccc; cursor:pointer; }
.menu_lists_wrap{ padding:12px 0; overflow-y:auto; height:calc(100% - 48px); }

.menu_info_wrap{ overflow-y: auto;float:left; width:70%; min-height:600px; padding: 20px 36px; margin-left: 6px; vertical-align:middle; font-size:0.75em; box-sizing:border-box; }
.rpt1100reportPreview {
    display: inline-block;
    width: 100%;
    height: 600px;
    margin: 6px 0;
    border: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 5px 30px 5px;
        position: relative;
}
.rpt1100DivMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 11pt;
    padding: 20%;
    text-align: center;
}
.rpt1100OptTitle {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border:1px solid #ccc;
}
.optTable {
    display: table;
    width: 100%;
    table-layout:fixed;
    border-collapse: collapse;
}
.optTableTr {
    display: table-row;
}
.optTableTd {
    display: table-cell;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.optTableTd.optTitle {
    background-color: #f3f3f3;
}
.optChart {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    padding: 20px 0px;
}
.optChart > img {
    display: inline-block;
}
.optTable > .optTableTr:first-child > .optTableTd {
    border-top: none;
}
.optLayoutTitle {
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0 20px;
    font-weight: bold;
}
.optTableTrGrp {
    display: table-row-group;
}
.rptSortFrame {
    display: inline-block;
    margin-left: 20px;
    float: right;
}
.rptSortFrame > select {
    padding: 2px;
    float: right;
    margin: 5px 2px;
    width: 100px;
}