@charset "UTF-8";

/* stm3000 */
.tab_contents.menu{
    display: inline-block;
    width: 1500px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.srh1000_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }
.sub_title {
    font-weight: bold;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 6px 5px;
    height: 30px;
}
.main_frame { width: 100%; height: auto; margin-top: 10px; float:left; }
.frame_contents { display: inline-block; width: 1500px; height: auto; padding: 20px; background: #fff; border-radius: 5px; border: 1px solid #ccc; }
