@charset "UTF-8";

/* stm3000 */
.tab_contents.menu{
    display: inline-block;
    width: 1550px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.stm2000_title, .stm3000_title { font-size: 2em; font-weight: bold; margin-bottom: 30px; }

.sub_title {
    font-weight: bold;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 6px 5px;
    height: 30px;
}
.main_frame { width: 100%; height: auto; margin-top: 10px; float:left; }
.frame_contents { display: inline-block; width: 1500px; height: auto; padding: 20px; background: #fff; border-radius: 5px; border: 1px solid #ccc; }
.frame_contents.left { width : 750px;float: left;}
.frame_contents.right { width : 740px;float: right;} /* 760 */
.jenkinsSelBeforeHideFrame {
    position: relative;
    display: inline-block;
}
.hideMaskFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 13pt;
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 25%;
    border-radius: 2px;
}
#btn_job_select { width: 52px; height: 100%; padding-top: 3px;}
.result-success {color: #4b73eb;}
.result-authException {color: #fba450;}
.result-fail, .result-exception {color: #ff5643;}
