@charset "UTF-8";

.pop_tes_div_sub{
	border: 1px solid #ccc;
    padding: 5px;
    border-radius: 1px;
}
.pop_tes_div_sub.div_sub_left{
    width: 37%;
    display: inline-block;
    float: left;
    height: 732px;
    margin-right: 5px;
}
.pop_tes_div_sub.div_sub_right{
    width: 62%;
    display: inline-block;
    float: left;
    height: 732px;
}
.tes1001_col_left{
	width: 26% !important;
	height: 45px !important;
    line-height: 36px !important;
}
.tes1001_col_right{
	width: 74% !important;
	text-align:left;
	height: 45px !important;
}
.test1001_col_title{
	padding-left: 7px !important;
}
.tes1001_note{
	width: 100%;
    height: 82px;
    padding: 10px;
    border: 1px solid #c6c9d0;
    border-radius: .1875rem;
    overflow-y: auto;
    resize: none;
}
.pop_tes_onwRow_title{
    padding-left: 10px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #fff;
    text-align: left;
    font-size: 1em;
    border: none;
}
.pop_tes_grid_title{
    padding-left: 10px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #f9f9f9;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #ddd;
    text-align: left;
    font-size: 10pt;
}
.pop_tes_oneRow_content{
    padding: 2px;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 10pt;
}
#tes1004FileListDiv, #tes1006FileListDiv, #tes1102FileListDiv{
	height:116px;
    overflow-y: auto;
}
.pop_tes_div_sub.div_sub_left input[readonly],
.pop_tes_div_sub.div_sub_left_tes1101 input[readonly],
.pop_tes_div_sub.div_sub_right_tes1101 input[readonly]{
	background-color: #fff !important;
}
.pop_tes_div_sub.div_sub_left input[type=text]{
    padding: 0 10px;
    float: none;
    height: 35px;
}
.link_detail_btn_div{
    margin-right: 3px;
}
.div_sub_left_tes1101{
	width:42%;
	margin-right: 9px;
	height: 690px;
	display: inline-block;
    float: left;
}
.div_sub_right_tes1101{
	width:57%;
	height: 690px;
	display: inline-block;
    float: left;
}
.tes1101_sub_title{
	font-weight: bold;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 6px 5px;
    height: 35px;
    position: relative;
    text-align: left;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 20px;
}
.tes1101_sub_title_icon{
	padding-right:8px;
}
.tes1101_col_left{
	width: 31% !important;
    height: 45px !important;
    line-height: 36px !important;
}
.tes1101_col_right{
	width: 69% !important;
    text-align: left;
    height: 45px !important;
}
.tes1101_col_left_border{
   	border-left: 1px solid #c6c9d0 !important;
}
.tes1101_case_input_search{
    /* width: 162px !important; */
    width: 77% !important;
}
.tes1101_search_btn{
	height: 34px; 
	line-height: 33px;
	float: right;
}
.tes1101_calender{
	/* width:173px !important; */
    width: 81% !important;
}
.tes1101_note{
	height:110px;
}
.pop_tes1006_div_sub{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 1px;
}