@charset "UTF-8";
/*팝업 상단 여백 제거*/
.layer_popup_box .popup.wbspopup .pop_sub-flex{
	display:flex;
	flex-flow: row;
}
.pop_sub{
	overflow: hidden;
} 
.display_none{
	display: none;
}
.pop_table{	
	overflow: hidden;
	height: fit-content;
	float:left;
 	border-top: 1px solid #ccc;
 	box-sizing: border-box;
 	width: 100%;
}
.wbs-alert{
	color: red;
    background-color: #ffefef;
    margin: 10px 10px 0 10px;
    padding: 10px;
    font-size: 12.5px;
    line-height: 20px;
}    
.pop_table_300{
	width: 300px;
}
.pop_table_430{
	width: 430px;
	margin-left: 10px;
}
.layer_popup_box .pop_table_400 input[type="number"]:not(.req4105_input_text, .req4106_input_text, .input_txt.ord){
	width: 150px;
}
.pop_table_430 .title-col{
	width: 240px;
}
.wbs-weight-info-div{
	overflow-y: auto;
	height: 515px;
}
.wbs-weight-info-title{
	font-size: 0.95rem;
	font-weight: 600;
    padding: 0 10px;
}
.wbs-weight-info--list-title{
	cursor: pointer;
	font-size: 0.9rem;
    padding: 0 10px;
}
.wbs-weight-info--list-title:hover,
.wbs-weight-info--list-title.on{
	color: #4b73eb;
}
.wbs-process-list{
	border-top: 1px solid #ccc;
}
.pop_table_1{
	width: 440px;
}
.pop_table_2{
	width: 695px;
	margin-left: 10px;
}
.pop_table_2.hide-req-list .wbs-row--req{
	display: none;
}
.pop_table_2.hide-req-list .wbs-file-list-title{
	height: 400px;
}
.pop_table_2.hide-req-list .wbs-file-list-title>.wbs-file-list{
	height: 385px;
}
.badge{
    color: #fff;
    padding: 0px 5px;
    border-radius: .185rem;
    height: 25px;
    line-height: 25px;
    margin-top: 13px;
    text-align: center;
    margin-left: auto;
    width: 50px;
}
.badge-red{
	background-color: red;
}
.badge-blue{
	background-color: blue;
}
/*row*/
.wbs-row{
	width: 100%;
	min-height: 50px;
	line-height: 50px;
	overflow: hidden;
 	text-align: left;
 	box-sizing: border-box;
 	display:flex;
}
/*타이틀*/
.title-col{
 	width: 129px;	
 	float:left;
	height: 50px;
 	font-weight: bold;
 	font-size: 12px;
 	border-bottom: 1px solid #ccc;
 	border-right: 1px solid #ccc;
 	background-color: #f9f9f9;
 	padding-left: 10px;
 	box-sizing: border-box;
}
/*내용*/
.content-col{
	float: left;
	width: 100%;
	height: 50px;
 	border-bottom: 1px solid #ccc;
 	padding-left: 7px;
 	box-sizing: border-box;
}
.pop_table_1 .content-col{
	width: 310px;
}
.pop_table_2 .content-col{
	width: 560px;
}
.pop_table_430 .content-col{
 	padding: 0 7px;
}
.layer_popup_box input[type="number"]:not(.req4105_input_text, .req4106_input_text, .input_txt.ord){
	width: 100%;
}
.pop_table_1 .content-col
.content-col input[type="text"]{
	font-size: 12px;
}
.wbs-half-row>.content-col{
	width: 235px;
}
.wbs-row__textarea{
	height: 70px;
}
/*내용 내부 세부 타이틀*/
.content-title{
	font-weight: bold;
}
/*좌측 여백 20*/
.content-margin-l-10{
	margin-left:10px;
}
.content-lineheight-25{
	line-height: 25px;
}
/*input 스타일*/
.wbspopup .content-col>input,.wbspopup .content-col input{
	height: 30px;
}
/*캘린더 ~ 물결 세로 중앙정렬*/
.wbspopup .content-col>.calendar_bar{
	line-height: 50px;
	margin: 0 10px;
}
/*버튼 전체박스 */
.wbs_btn_box{
	width: 100%;
	height: 50px;
	float: left;
	display: flex;
}
.wbs_btn_left_box{
	width: 40%;
}
.wbs_btn_right_box{
	width: 59%;
}
.pop_table.pop_table_1.pop_table_1-show{
	width: 100%;
}
.pop_table.pop_table_1.pop_table_1-show .title-col{
	width: 160px;
}
.left_btn_group,.right_btn_group{
	width: fit-content;
	margin-left: auto;
}
.right_btn_group{
	padding-right: 20px;
}
/*버튼 스타일*/
.wbspopup .wbs_btn_box .button_normal{
	float:left;
	width: 70px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.wbspopup .wbs_btn_box .button_normal.button_big{
	width: 100px;
}
.wbspopup .wbs_btn_box .wbs_btn--margin-r-10{
	margin-right: 10px;
}
/*산출물 목록 파일 리스트*/
.wbs-file-list{
	height: 195px;
	border: 1px solid #c6c9d0;
	border-radius: .1875rem;
	padding: 5px;
	margin: 7px 0;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}
.wbs-file-list-title{
	height: 210px;
}
.wbspopup .file_frame_box:hover{
	background-color: transparent;
	color: #353535;
}
.wbspopup .file_contents:hover{
	background-color: #4b73eb;
	color: #fff;
}
.wbspopup .file_link{
	font-size: 0.6em;
	border-bottom: 1px solid #eee;
	padding: 0 10px;
	line-height: 20px;
	height: 20px;
	cursor: default;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}
.wbspopup .file_contents{
	line-height: 30px;
	height: 30px;
	cursor: pointer;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}

.wbspopup .wbs-file-list .file_frame_box{
	height: 55px;
	cursor: default;
}
.wbspopup .file_main_box{
	height: 55px;
	padding: 2.5px;
}
.wbs-req{
	height: 240px;
}
.wbs-req-padding{
	padding-top: 4px;
}
.text-align--left{
	text-align: left !important;
}
.menu_info_half_wrap{
	width: 70%;
	float: left;
	padding: 10px 20px;
	vertical-align: middle;
	font-size: 0.75em;
	box-sizing: border-box;
}
.documentSpanImg {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    width: 14px;
    height: 17px;
    background: url(/images/contents/document_icon.png);
}
.left_con_div{
	font-size: 13px;
	font-weight: 900;
	margin-top: 15px;
}
.height-40{
	min-height: 40px;
	line-height: 40px;
}
.height-40>div{
	height: 40px;
	line-height: 40px;
}
.wbs-row.height-40 input{
	margin-top: 5px;
}
.border-b-0{
	border-bottom:0;
}
.border-b-1{
	border-bottom: 1px solid #ccc;
}
.border-r-1{
	border-right: 1px solid #ccc;
}
.border-t-1{
	border-top: 1px solid #ccc;
}
.padding-r-7{
	padding-right: 7px;
}
.padding-r-15{
	padding-right: 15px;
}
.content-col.wbs-row__textarea{
	padding: 5px 7px;
	width: 630px;
}
.content-col.wbs-row__textarea textarea{
	resize: none;
}
.wbs__textarea{
	width: 100%;
	height: 100%;
}
.menu_info_half_wrap .ok_document .file_main_box,.menu_info_half_wrap .documentFileList .file_main_box,
.menu_info_half_wrap .ok_document .file_frame_box,.menu_info_half_wrap .documentFileList .file_frame_box{
	font-size: 11px;
	height: 35px;
}
.menu_info_half_wrap .ok_document .file_connect,.menu_info_half_wrap .documentFileList .file_connect,
.menu_info_half_wrap .ok_document .file_disconnect,.menu_info_half_wrap .documentFileList .file_disconnect{
	background-color: #5578eb;
	border-left: 1px solid #ccc;
	color: #fff;
	width: 55px;
}
.file_connect:hover{
	background-color: #7e9af5 !important;
}
.menu_info_half_wrap .ok_document .file_disconnect,.menu_info_half_wrap .documentFileList .file_disconnect{
	background-color: #eb5555;
}
.file_disconnect:hover{
	background-color: #ea7676 !important;
}
.half-line{
	width:1px;
	height: 450px;
	background-color:#ccc;
	margin-left: 10px;
}
.half-line.wbs-weight-info-half-line{
	height: 515px;
}
.taskStatus{
  width:13px; /*15px;*/
  height:13px; /*15px;*/
  display:inline-block;
  text-indent: 0;
  position:relative;
  box-shadow: none;
  border-radius: 50%;
  border:0;
  cursor: default; /* cursor: pointer; */
}
/****** 간트차트 요구사항 신호등 색깔   ******/
/* 여유 */
.taskStatus[status=STATUS_ACTIVE]{
  background-color: #00d200; /* #3BBF67; */ 
  color: #fff;
}
/* 적기 */
.taskStatus[status=STATUS_DONE]{
  background-color: #4b73eb;/* #6EBEF4; */
  color:#000;
}
/* 실패 */
.taskStatus[status=STATUS_FAILED]{
  background-color: #ff5643; /* #763A96; */
  color: #fff;
}
/* 초과 */
.taskStatus[status=STATUS_SUSPENDED]{
  background-color: #ff1a00; /* #F9C154; */
  color:#000;
}
/* 임박 */
.taskStatus[status=STATUS_WAITING]{
  background-color: #fba450; /* rgb(247, 145, 54); */
  color:#000;
}
.taskStatus[status=STATUS_UNDEFINED]{
  background-color: #dededf;
  color:#000;
}
.cvcColorSquare {
  display: inline-block;
  text-align: left;
  border: #fff 0px solid;
  box-shadow: 0px 0px 5px #999;
  -moz-box-shadow: 2px 2px 2px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  -o-box-shadow: 0px 0px 5px #999;
  text-indent: 10px;
  border-radius: 5px;
  /* cursor: pointer; */
}